<?php 
/*$ApkFileMapper=new Application_Model_ApkFileMapper();
$sms=$ApkFileMapper->getAllApkFile();
if(count($sms)>0){
	$apk_id=$sms[0]->__get("apk_name");
}*/
?>

<div class="content" style="background-color: #ffffff;">
    <!-- BEGIN LOGIN FORM -->
    <form class="login-form" action="<?php echo $this->baseUrl(); ?>/auth" method="post">
        <h3 class="form-title">Sign In</h3>
           <?php if($this->hasMessage): ?>
                <div class="alert alert-block alert-<?php echo $this->messageType?> fade in">
                    <button data-dismiss="alert" class="close close-sm" type="button">
                        <i class="fa fa-times"></i>
                    </button>
                    <?php if($this->messageType=="danger"):?>
                    <strong>Oh snap!</strong>
                    <?php elseif($this->messageType=="success"):?>
                    <strong>Well done!</strong>
                    <?php elseif($this->messageType=="info"):?>
                    <strong>Heads up!</strong>
                    <?php elseif($this->messageType=="warning"):?>
                    <strong>Warning!</strong>
                    <?php endif; ?>
                     <?php echo $this->message; ?>
                </div>
                <?php endif; ?>
        <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button>
            <span>
                Enter any username and password. </span>
            
        </div>
        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">Username</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username" />
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Password</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password"/>
        </div>
        <div class="form-actions">
            <input type="hidden" name="request_type" value="login">
            <button type="submit" class="btn btn-success uppercase">Login</button>
            <label class="rememberme check">
                <a data-toggle="modal" href="<?php echo $this->baseUrl(); ?>/#myModal" id="" class="forget-password">Forgot Password?</a>
        </div>
         <div class="form-group">
            <center><a href=""><img src="images/husk_apk.png" width="190" alt="logo" class="profile"/></a></center>
        </div>
    </form>
    <!-- Modal -->

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
        <form class="form-signin" action="<?php echo $this->baseUrl(); ?>/auth" method="post">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Forgot Password ?</h4>
                    </div>
                    <div class="modal-body">
                        <p>Enter your e-mail address below to reset your password.</p>
                        <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="request_type" value="forgot_password">
                        <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                        <button class="btn btn-success" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- modal -->
</div>