<?php $this->headTitle('Login'); ?>
<div class="container-fluid">
        <div class="row-fluid">

                <div class="row-fluid">
                    <form class="form-signin" method="post">
                            <h2 class="form-signin-heading">Password Reset</h2>
                            <div class="login-wrap">

                                <div class="user-login-info">
                                    <?php if($this->hasMessage): ?>
                                    <div class="alert alert-block alert-<?php echo $this->messageType?> fade in">
                                        <button data-dismiss="alert" class="close close-sm" type="button">
                                            <i class="fa fa-times"></i>
                                        </button>
                                        <?php if($this->messageType=="danger"):?>
                                        <strong>Oh snap!</strong>
                                        <?php elseif($this->messageType=="success"):?>
                                        <strong>Well done!</strong>
                                        <?php elseif($this->messageType=="info"):?>
                                        <strong>Heads up!</strong>
                                        <?php elseif($this->messageType=="warning"):?>
                                        <strong>Warning!</strong>
                                        <?php endif; ?>
                                         <?php echo $this->message; ?>
                                    </div>
                                    <?php endif; ?>
                                    
                                    <?php if($this->flag):?>  
                                    <input type="password" class="form-control" placeholder="New Password" autofocus name="password">
                                    <input type="password" class="form-control" placeholder="Confirm New Password" name="cpassword">
                                    <?php endif;?>
                                </div>
                                  <?php if($this->flag):?>
                                 <button class="btn btn-lg btn-login btn-block" type="submit">Change Password</button>
                                  <?php endif;?>
                            </div>
                    </form>
                </div><!--/row-->
                        </div><!--/fluid-row-->

</div><!--/.fluid-container-->

