<script type="text/ng-template" id="editState.html">
    <div class="modal-header">
    	<h3 class="modal-title">Edit States</h3>
    </div>
	<form name="editform" ng-submit="ok(editform.$valid)" novalidate>
    <div class="modal-body">
	<div class="form-group" ng-class="{true:'has-error'}[editform.state_name.$invalid && !editform.state_name.$pristine]">
    <label for="type">States Name</label>
    <input ng-model="selectedState.state_name" name="state_name" type="textbox" class="form-control"  placeholder="State Name" required/>
    </div>
	</div>
    </div>
    <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()" ng-disabled="editform.$invalid" >Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="deleteState.html">
    <div class="modal-header">
    <h3 class="modal-title">Are You Sure to Delete</h3>
    </div>
    <div class="modal-footer">
    <button class="btn btn-primary" ng-click="confirm()">Confirm Delete</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
 
		<div class="row">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Add States
                </div>
                <div class="inputs">
                    <div class="portlet-input input-small input-inline">
                        <div class="input-icon right">
                            <i class="icon-magnifier"></i>
                            <input type="text" class="form-control form-control-solid ng-pristine ng-valid" placeholder="Search State" ng-model="stateSearchQuery">
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal" id="addStateForm" name="form" ng-submit="submitForm(form.$valid)" novalidate >
                    <div class="form-body">
                        <div class="form-group" ng-class="{true:'has-error'}[form.state_id.$invalid && !form.state_id.$pristine]">
                            <label class="col-md-3 control-label">Country Name</label>
                            <div class="col-md-4">

                                <select type="text" class="form-control" name="state_id" ng-model="state_id" placeholder="State Name" required>
                                    <option value="{{state.state_id}}" ng-repeat="state in states">{{state.state_name}}</option>

                                </select>

                            </div>
                        </div>
                        <div class=" form-group" ng-class="{true:'has-error'}[form.state_name.$invalid && !form.state_name.$pristine]">
                            <label class="col-md-3 control-label">State Name (*)</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="state_name" ng-model="state_name" placeholder="State Name" required>

                            </div>
                        </div>

                    </div>	
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" ng-disabled="form.$invalid" class="btn btn-circle blue">Submit</button>

                            </div>
                        </div>
                    </div>	



                </form>
                <!-- END FORM-->
            </div>
        </div>
        </div>
        <div class="row">
                 <!-- BEGIN CONDENSED TABLE PORTLET-->
                <div class="portlet light bordered">
                                    <div class="portlet-title">
                                        <div class="caption font-dark">
                                            <i class="icon-settings font-dark"></i>
                                            <span class="caption-subject bold"><i class="fa fa-picture"></i>All States</span>
                                           
                                        </div>
                                        <div class="tools"></div>
                                        
                                    </div>
                    <div class="portlet-body">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
										 <th>
                                            State Name
                                        </th>
                                         <th>
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr ng-repeat="state in states|filter:stateSearchQuery">

										<td class="hidden-xs">
                                            {{state.state_name}}
                                        </td>
                                      
                                        <td>
                                            <a ng-click="editState(state)" class="btn default btn-xs purple"><i class="fa fa-edit"></i></a>
                                            <a ng-click="deleteState(state)" class="btn default btn-xs black">
                                                <i class="fa fa-trash-o"></i>  </a>

                                        <a class=" btn purple btn-outline sbold" data-toggle="modal" href="#static"> View Demo </a>
                                    </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                  
                </div>
          </div>

<div id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p> Would you like to continue with some arbitrary task? </p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline">Cancel</button>
                <button type="button" data-dismiss="modal" class="btn green">Continue Task</button>
            </div>
        </div>
    </div>
</div>
   