<script type="text/ng-template" id="editPackage.html">
    <div class="modal-header">
    <h3 class="modal-title">Edit Package</h3>
    </div>
    <div class="modal-body">

    <div class="form-group">
    	<label for="type">Package Name</label>
    	<input ng-model="selectedPackage.package_shot" type="textbox" name="package_shot" class="form-control" id="package_shot" placeholder="Package Name" required/>
   		<label for="type"><b>Actual Package Name = {{selectedPackage.package_name}}</b></label>
 	</div>
	
 	<div class=" form-group">
    	<label>Select State (*)</label>
        <select id="editState"  class="select2" style="width:100%" name="state_id" ng-model="state_id" placeholder="All States" ng-change="updateSites()"  multiple>
			<option value="{{state.state_id}}" ng-repeat="state in states">{{state.state_name}}</option>
	    </select>
	</div>

  	<div class=" form-group">
        <label>Select Site (*)</label>
      	<select id="editSite"  class="select2" style="width:100%"  name="site_id" ng-model="site_id" ng-change="getFeederWattage()" placeholder="All Sites"  multiple>
			<option value="{{site.site_id}}" ng-repeat="site in sites">{{site.site_name}}</option>
	    </select>
	</div>	 
 
	<div class="form-group">
    	<label>Select Feeder(*)</label>
        <select id="editFeeder"  class="select2" style="width:100%" name="site_meter_id" ng-model="site_meter_id" multiple>
			<optgroup ng-repeat="site in sites" value="{{site.site_id}}"  label="{{site.site_name}}" >
				<option value="{{site_meter.id}}" ng-repeat="site_meter in site_meters" ng-if="site.site_id==site_meter.site_id">{{site_meter.meter_keyword}} ({{site_meter.feeder_type}}) ({{site_meter.description}})</option>
			</optgroup>
		</select>
    </div>

	<div class="form-group">
    	<label>Wattage(*)</label>
     	<select type="number" min="0" class="form-control input-circle"  name="wattage" ng-model="selectedPackage.wattage" placeholder="Wattage" required>
			<option value="{{wattage.watt_id}}" ng-repeat="wattage in wattages" >{{wattage.wattage}}</option>
		</select>
    </div>

    <div class="form-group">
    	<label for="amount">Package Cost</label>
    	<input ng-model="selectedPackage.package_cost"  type="textbox" name="cr_amount" class="form-control" id="editcr_amount" placeholder="Package Cost" required/>
    </div>

    <div class="form-group">
   		<label for="amount">Package Detail</label>
    	<input ng-model="selectedPackage.package_details" type="textbox" name="cr_amount" class="form-control" id="editcr_amount" placeholder="Package Detail" required/>
    </div>
 

	<div class="form-group" ng-class="{true:'has-error'}[form.is_postpaid.$invalid && !form.is_postpaid.$pristine]">
		<label for="amount">postpaid? (0-no, 1-yes, 2-mixmode)</label>
        <select type="text" class="form-control input-circle" ng-model="selectedPackage.is_postpaid_value"  name="is_postpaid"  id="editcr_amount" placeholder="site name" required>
			<option value="0">Prepaid</option>
           	<option value="1">Postpaid</option>
        	<option value="2">Mix Mode</option>
        </select>
	</div>

	<div class="form-group" ng-show="selectedPackage.is_postpaid_value==2 || selectedPackage.is_postpaid_value==1">
    	<label for="unit">Unit</label>
    	<input ng-model="selectedPackage.unit" type="textbox" name="unit" class="form-control" id="unit" placeholder="Unit" />
    </div> 
    
	<div class="form-group" ng-show="selectedPackage.is_postpaid_value==2">
    	<label for="extra_charges">Extra Charges</label>
    	<input ng-model="selectedPackage.extra_charges" type="textbox" name="extra_charges" class="form-control" id="extra_charges" placeholder="Extra Charges" />
    </div>

	<div class="form-group">
   		<label>Consumer Type(*)</label>
     	<select type="text"  class="form-control input-circle"  name="connection_type" ng-model="selectedPackage.connection_type" placeholder="Consumer Type">
     		<option value="{{consumerType.consumer_type_id}}" ng-repeat="consumerType in consumerTypes" >{{consumerType.consumer_type_name}}</option>
		</select>
  	</div>

	<div class="form-group">
		<label for="amount">Productive/Non-productive </label>
		<select type="text" class="form-control input-circle" ng-model="selectedPackage.light_load"  name="light_load"  id="light_load" placeholder="Productive/Non-productive" required>
           <option value="no">Productive</option> 
           <option value="yes">Non-productive</option>
        </select>
	</div>
	<div class="form-group">
		<label for="amount">Status</label>
        <select type="text" class="form-control input-circle" ng-model="selectedPackage.status"  name="status"  id="status" required>
			<option value="enable">Enable</option>	
  			<option value="disable">Disable</option>
    	</select>
	</div>
  	<div class="form-group"> 
    	<label for="amount">Security Deposit</label>
    	<input ng-model="selectedPackage.security_deposit"  type="textbox" name="security_deposit" class="form-control" id="security_deposit" placeholder="Security Deposit" required/>
    </div>		 
    <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="deletePackage.html">
    <div class="modal-header">
    <h3 class="modal-title">Are You Sure to Delete</h3>
    </div>
    <div class="modal-footer">
    <button class="btn btn-primary" ng-click="confirm()">Confirm Delete</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<div class="page-content-wrapper">
    <div class="page-content">

        <div class="portlet box blue">
			<div class="portlet-title">
					<div class="caption"> <i class="fa fa-gift"></i>Add Tariff</div>
					<div class="tools">
						<a href="" class="collapse"> </a>
						<a href="#portlet-config" data-toggle="modal" class="config"> </a>
						<a href="" class="reload"> </a>
						<a href="" class="remove"> </a>
					</div>
			</div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal" id="addPackageForm" name="form" ng-submit="submitForm(form.$valid)" novalidate >
                    <div class="form-body">
                       <div class="form-group">
                            <label class="col-md-3 control-label">Tariff Name (*)</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="package_name" ng-model="package_name" placeholder="Tariff Name" required>

                            </div>
                       </div> 
                       
                         <div class="form-group">
                            <label class="col-md-3 control-label">Tariff Wattage(*)</label>
                            <div class="col-md-4">
                                <select type="number" min="0" class="form-control"  name="wattage" ng-model="wattage" placeholder="Tariff Wattage" required>
									<option value="{{wattage.watt_id}}" ng-repeat="wattage in wattages" >{{wattage.wattage}}</option>
								</select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Tariff Cost (*)</label>
                            <div class="col-md-4">
                                <input type="number" min="0" class="form-control" name="package_cost" ng-model="package_cost" placeholder="Tariff Cost" required>

                            </div>
                        </div>
                         
                        <div class="form-group">
                            <label class="col-md-3 control-label">Tariff Type (*)</label>
								<div class="col-md-4">
										<select type="text" class="form-control" name="light_load" ng-model="light_load" required>
										<option value="no">Productive</option>
										<option value="yes">Non-productive</option>
									</select>
								</div>
                        </div>
						 
                    </div>	
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" ng-disabled="form.$invalid" class="btn btn-circle blue">Submit</button>

                            </div>
                        </div>
                    </div>	



                </form>
                <!-- END FORM-->
            </div>
        </div>
     
        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        Widget settings form goes here
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn blue">Save changes</button>
                        <button type="button" class="btn default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE HEAD -->
        <!-- <div class="page-head">
        <!-- BEGIN PAGE TITLE -->

        <!-- END PAGE HEAD -->
        <!-- BEGIN PAGE BREADCRUMB -->
        <!-- <ul class="page-breadcrumb breadcrumb">
                <li>
                        <a href="index.html">Home</a>
                        <i class="fa fa-circle"></i>
                </li>
                <li>
                        <a href="#">Data Tables</a>
                        <i class="fa fa-circle"></i>
                </li>
                <li>
                        <a href="#">Basic Datatables</a>
                </li>
        </ul> -->
        <!-- END PAGE BREADCRUMB -->
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->


<div class="row">
        <div class="col-md-12">
  
                            <!-- BEGIN TAB PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <div class="caption">All Packages</div>
                                    </div>
												<div class="col-md-1"></div>
                                    			<div class="col-md-2">
	                 							<label ><b><center>Sites</center></b>
	                                               <select class="form-control input-circle" name="sites_id" ng-model="sites_id" ng-change="filterSites()">
					                                     <option value="{{site.site_id}}" ng-repeat="site in selectedSite" >{{site.site_name}}</option>
					                               </select></label>
	                                          	</div>  
	                                            
	                                          	<div class="col-md-2">
	                                          	<label><b><center>Type</center></b>
	                                                <select class="form-control input-circle" name="is_postpaids" ng-model="is_postpaids" ng-change="filterSites()">
					                                    <option value="0">Prepaid</option>
					                                    <option value="1">Postpaid</option>
					                                    <option value="2">Mix Mode</option>
					                                </select></label>
	                                            </div>
	                                            <div class="col-md-2"> 
	                                             <label><b><center>Status</center></b>
	                                               <select class="form-control input-circle" name="statuss" ng-model="statuss" ng-change="filterSites()">
					                                    <option value="enable">Enable</option>
					                                    <option value="disable">Disable</option>
													</select></label>
												</div>
                                </div>
                               
									<!--   starts Here ---------------->
                                    <div class="tabbable tabbable-tabdrop">
                                     
                                        <!--<ul class="nav nav-pills">
                                            <li class="active">
                                                <a data-target="#0" id="pre" data-toggle="tab">Prepaid</a>
                                            </li>
                                            <li>
                                                <a data-target="#1" id="post" data-toggle="tab">Postpaid</a>
                                            </li>
                                            <li>
                                                <a data-target="#2" id="mix" data-toggle="tab">Mixed Mode</a>
                                            </li>
                                            
                                        </ul>-->
                                         
                     <div class="tab-content">               
                            <div id='value' class="tab-pane active">
                            
                            <div class="portlet-body">
                        <div class="table-scrollable table-scrollable-borderless">
                            <table class="table table-hover table-light" id="tables">
                                <thead>
                                    <tr>


                                        <th>
                                            Package Name
                                        </th>
                                        <th>
                                            Package Cost

                                        </th>
                                        <th>
                                            Package Dtails
                                        </th>
                                        <th>
                                            Is Postpaid
                                        </th>
                                         <th>
                                          Wattage
                                        </th>
                                      
                                        <th>
                                          Free Unit
                                        </th>
                                        <th>
                                          Extra Charges
                                        </th>
										<th>
                                          Security Deposit
                                        </th>
                                      	<th>
                                          Status
                                        </th>
                                        <th>
                                            Action
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>


  					  <tr ng-repeat="package in packages | orderBy:'package_cost'  | filter:packageSearchQuery ">
        								<td>
                                            {{package.package_name}}
                                        </td>
                                        <td>
                                            {{package.package_cost}}
                                        </td>
                                        <td>
                                            {{package.package_details}}
                                        </td>
                                        <td>
                                            {{package.is_postpaid}}
                                        </td>
                                        <td>
                                            {{package.watt_no}}
                                        </td>
										 
										<td>
                                            {{package.unit}}
                                        </td>
                                        <td>
                                            {{package.extra_charges}}
                                        </td> 
										<td>
                                            {{package.security_deposit}}
                                        </td>  										
                                         <td>
                                            {{package.status_cap}}
                                        </td>
                                        <td>
                                        <span ng-repeat ="subMenu in subMenus" ng-if="subMenu == 'Edit Permission for Packages'">
                             		     <a ng-click="editPackage(package)" class="btn default btn-xs purple"><i class="fa fa-edit"></i></a>
                                        </span>
                                        <span ng-repeat ="subMenu in subMenus" ng-if="subMenu == 'Delete Permission for Packages'">
                                            <a  ng-click="deletePackage(package)" class="btn default btn-xs black">
                                                <i class="fa fa-trash-o"></i>  </a>
                                         </span>       
                                        </td>
    					</tr>
    

  
                                  
                                </tbody>
                            </table>
                        </div>
                    </div>
                  </div>
                </div>
          </div>
				<!-- Ends Here ---------->
          </div>
     </div>  
   </div>
        <!-- END PAGE CONTENT-->
         
    </div> 
</div>
<script type="text/javascript">
	$(document).ready(function() {
 		 $('#Multiple_State').select2({
 	         placeholder: "Select States",
 	         allowClear: true,
			 closeOnSelect:false
 	     });
 		 $('#Multiple_Site').select2({
 	         placeholder: "Select Sites",
 	         allowClear: true,
			 closeOnSelect:false
 	     });
 		$('#Multiple_feeder').select2({
	         placeholder: "Select Feeder",
	         allowClear: true,
			 closeOnSelect:false
	     });
		 $('#Multiple_feeder_type').select2({
	         placeholder: "Select Feeder Type",
	         allowClear: true,
	     });
 		
 		 $('#Multiple_description').select2({
	         placeholder: "Select Description",
	         allowClear: true,
	     });
 	});
</script>
