<div class="row">
    <div class="col-md-3">
        <div class="mini-stat clearfix">
            <span class="mini-stat-icon tar"><i class="fa fa-info"></i></span>
            <div class="mini-stat-info">
                <span>Rs. <?php echo $this->monthRevenue;?></span>
                Revenue for <?php echo $this->monthName; ?>, <?php echo $this->year; ?>
            </div>
        </div>
    </div>
    
      <div class="col-md-3">
        <div class="mini-stat clearfix">
            <span class="mini-stat-icon tar"><i class="fa fa-info"></i></span>
            <div class="mini-stat-info">
                <span id="txt"></span>
                
                    <?php 
                        $date = new Zend_Date();
                       echo $date->toString("MMM dd yyyy");
                    ?>
                
                
            </div>
        </div>
    </div>
</div>