<div class="container">

    <form class="form-signin" action="<?php echo $this->baseUrl();?>/admin/auth" method="post">
        <h2 class="form-signin-heading">tara mub - admin sign in</h2>
        <div class="login-wrap">
            
            <div class="user-login-info">
                <?php if($this->hasMessage): ?>
                <div class="alert alert-block alert-<?php echo $this->messageType?> fade in">
                    <button data-dismiss="alert" class="close close-sm" type="button">
                        <i class="fa fa-times"></i>
                    </button>
                    <?php if($this->messageType=="danger"):?>
                    <strong>Oh snap!</strong>
                    <?php elseif($this->messageType=="success"):?>
                    <strong>Well done!</strong>
                    <?php elseif($this->messageType=="info"):?>
                    <strong>Heads up!</strong>
                    <?php elseif($this->messageType=="warning"):?>
                    <strong>Warning!</strong>
                    <?php endif; ?>
                     <?php echo $this->message; ?>
                </div>
                <?php endif; ?>
                
                <input type="text" class="form-control" placeholder="User ID1" autofocus name="username">
                <input type="password" class="form-control" placeholder="Password1" name="password">
            </div>
            <label class="checkbox">
                
                <span class="pull-right">
                    <a data-toggle="modal" href="<?php echo $this->baseUrl(); ?>/<?php echo $this->baseUrl(); ?>/#myModal"> Forgot Password?</a>

                </span>
            </label>
            <input type="hidden" name="request_type" value="login">
            <button class="btn btn-lg btn-login btn-block" type="submit">Sign in</button>


        </div>
</form>
    
          <!-- Modal -->
          
          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
            <form class="form-signin" action="<?php echo $this->baseUrl();?>/admin/auth" method="post">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title">Forgot Password ?</h4>
                      </div>
                      <div class="modal-body">
                          <p>Enter your e-mail address below to reset your password.</p>
                          <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

                      </div>
                      <div class="modal-footer">
                          <input type="hidden" name="request_type" value="forgot_password">
                          <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                          <button class="btn btn-success" type="submit">Submit</button>
                      </div>
                  </div>
              </div>
      </form>
          </div>
          <!-- modal -->

 

    </div>