<script type="text/ng-template" id="editUser.html">
    <div class="modal-header">
    <h3 class="modal-title">Edit User</h3>
    </div>
    <div class="modal-body">
    <div class="form-group">
    <label for="type">First Name</label>
    <input   type="text"  class="form-control input-circle" ng-model="selectedUser.user_fname" placeholder="First Name">
    </div>
     <div class="form-group">
    <label for="type">Last Name</label>
    <input   type="text"  class="form-control input-circle" ng-model="selectedUser.user_lname" placeholder="Last Name">
    </div>
     <div class="form-group">
    <label for="type">User Email</label>
    <input   type="text"  class="form-control input-circle" ng-model="selectedUser.user_email" placeholder="Email">
    </div>
    <div class="form-group">
    <label for="amount">UserName</label>
    <input ng-model="selectedUser.username" type="textbox" name="username" class="form-control"  placeholder="Username" required/>
    </div>

    <div class="form-group">
    <label for="amount">Phone Number</label>
    <input ng-model="selectedUser.phone" type="textbox" name="phone" class="form-control" id="phone" placeholder="Phone" required/>
    </div>
    
    
    <div class="form-group">
               <label for="type">User Role</label>
                <select type="text" class="form-control input-circle" ng-model="selectedUser.user_role_id" placeholder="User Role">
                        <option value="{{userRole.user_role_id}}" ng-repeat="userRole in userRoles" ng-selected="{{userRole.user_role_id == selectedUser.user_role_id}}">{{userRole.user_role}}</option>
                </select>
    </div>
	<div class="form-group">
        <label for="type">User Profile(*)</label>
    		<input type="file" class="form-control input-circle" name="user_profile" file-model = "selectedUser.myFile" id="user_profile">
    </div>
    
    </div>
    <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="deleteUser.html">
    <div class="modal-header">
    <h3 class="modal-title">Are You Sure to Delete</h3>
    </div>
    <div class="modal-footer">
    <button class="btn btn-primary" ng-click="confirm()">Confirm Delete</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
<div class="page-content-wrapper">
    <div class="page-content">

        <div class="portlet box blue">
			<div class="portlet-title">
					<div class="caption"> <i class="fa fa-gift"></i>Add Users</div>
					<div class="tools">
						<a href="" class="collapse"> </a>
						<a href="#portlet-config" data-toggle="modal" class="config"> </a>
						<a href="" class="reload"> </a>
						<a href="" class="remove"> </a>
					</div>
			</div>

            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal" id="addUserForm" name="form" ng-submit="submitForm(form.$valid)" novalidate >
                    <div class="form-body">
                        <div class="form-group" ng-class="{true:'has-error'}[form.user_fname.$invalid && !form.user_fname.$pristine]">
                            <label class="col-md-3 control-label">First Name (*)</label>
                            <div class="col-md-4">
                                <input type="text"  ng-model="user_fname" name="user_fname" class="form-control" placeholder="First Name" required>

                            </div>
                        </div>
                        <div class="form-group" ng-class="{true:'has-error'}[form.user_lname.$invalid && !form.user_lname.$pristine]">
                            <label class="col-md-3 control-label">Last Name (*)</label>
                            <div class="col-md-4">
                                <input type="text"  ng-model="user_lname" name="user_lname" class="form-control" placeholder="Last Name" required>

                            </div>
                        </div>
                        <div class="form-group" ng-class="{true:'has-error'}[form.user_email.$invalid && !form.user_email.$pristine]">
                            <label class="col-md-3 control-label">User Email (*)</label>
                            <div class="col-md-4">
                                <input type="email"  ng-model="user_email" name="user_email" class="form-control" placeholder="Email" required>

                            </div>
                        </div>
                        <div class="form-group" ng-class="{true:'has-error'}[form.username.$invalid && !form.username.$pristine]">
                            <label class="col-md-3 control-label">Username (*)</label>
                            <div class="col-md-4">
                                <input type="text"  ng-model="username" name="username" class="form-control" placeholder="Username" required>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{true:'has-error'}[form.phone.$invalid && !form.phone.$pristine]">
                            <label class="col-md-3 control-label">Phone (*)</label>
                            <div class="col-md-4">
                                <input type="text"  ng-model="phone" name="phone" class="form-control" placeholder="Phone Number" required>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{true:'has-error'}[form.hashed_password.$invalid && !form.hashed_password.$pristine]">
                            <label class="col-md-3 control-label">Password (*)</label>
                            <div class="col-md-4">
                                <input type="password"  ng-model="hashed_password" name="hashed_password" class="form-control" placeholder="Password" required>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{true:'has-error'}[form.user_role_id.$invalid && !form.user_role_id.$pristine]">
                            <label class="col-md-3 control-label">User Role (*)</label>
                            <div class="col-md-4">
                                <select name="user_role_id" type="text"  class="form-control" ng-model="user_role_id" placeholder="User Role" required>
                                    <option ng-repeat="userRole in userRoles" value="{{userRole.user_role_id}}">{{userRole.user_role}}</option>
                                </select>

                            </div>
                        </div>
						<div class="form-group" ng-class="{true:'has-error'}[form.user_profile.$invalid && !form.user_profile.$pristine]">
                            <label class="col-md-3 control-label">User Profile(*)</label>
                             <div class="col-md-4">
                                    <input type="file" name="user_profile" class="form-control" file-model = "myFile" id="user_profile" >
                			 </div>
						</div>
                       
                    </div>	
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" id="showtoast" ng-disabled="form.$invalid" class="btn btn-circle blue">Submit</button>

                            </div>
                        </div>
                    </div>	
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- <form class="form-horizontal" role="form" ng-submit="addSite()">
                                                        <div class="form-group">
                                                                <label for="inputEmail12" class="col-md-2 control-label">Site Id</label>
                                                                <div class="col-md-4">
                                                                        <div class="input-icon right">
                                                                                <i class="fa "></i>
                                                                                <input type="text" ng-model="user_id" class="form-control" id="inputEmail12" placeholder="Site Id">
                                                                        </div>
                                                                </div>
                                                        </div>
                                                        <div class="form-group">
                                                                <label for="inputPassword1" class="col-md-2 control-label">Site Name</label>
                                                                <div class="col-md-4">
                                                                        <div class="input-icon right">
                                                                                <i class="fa fa-user"></i>
                                                                                <input type="text" ng-model="user_name" class="form-control" id="inputPassword1" placeholder="Site Name">
                                                                        </div>
                                                                        
                                                                </div>
                                                        </div>
                                                        <div class="form-group">
                                                                <div class="col-md-offset-2 col-md-4">
                                                                        
                                                                </div>
                                                        </div>
                                                        <div class="form-group">
                                                                <div class="col-md-offset-2 col-md-10">
                                                                        <button type="submit" class="btn green">Add Site</button>
                                                                </div>
                                                        </div>
                                                </form> -->
        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        Widget settings form goes here
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn blue">Save changes</button>
                        <button type="button" class="btn default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE HEAD -->
        <!-- <div class="page-head">
        <!-- BEGIN PAGE TITLE -->

        <!-- END PAGE HEAD -->
        <!-- BEGIN PAGE BREADCRUMB -->
        <!-- <ul class="page-breadcrumb breadcrumb">
                <li>
                        <a href="index.html">Home</a>
                        <i class="fa fa-circle"></i>
                </li>
                <li>
                        <a href="#">Data Tables</a>
                        <i class="fa fa-circle"></i>
                </li>
                <li>
                        <a href="#">Basic Datatables</a>
                </li>
        </ul> -->
        <!-- END PAGE BREADCRUMB -->
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->



        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN CONDENSED TABLE PORTLET-->
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-picture"></i>All Users
                        </div>
                        <!-- <div class="tools">
                                <a href="javascript:;" class="collapse" data-original-title="" title="">
                                </a>
                                <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title="">
                                </a>
                                <a href="javascript:;" class="reload" data-original-title="" title="">
                                </a>
                                <a href="javascript:;" class="remove" data-original-title="" title="">
                                </a>
                        </div> -->
                    </div>
                    <div class="portlet-body">
                        <div class="table-scrollable">
                            <table class="table table-condensed table-hover">
                                <thead>
                                    <tr>

                                        <th>
                                            User Name
                                        </th>
                                        <th>
                                            Username
                                        </th>
                                        <th>
                                            User Email
                                        </th>
                                        <th>
                                            Role
                                        </th>
                                         <th>
                                            Phone
                                        </th>
                                        <th>
                                           Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr ng-repeat="user in users|filter:userSearchQuery">
                                        <td class="highlight">
                                            <div class="success">
                                            </div>
                                            <a>
                                                {{user.user_fname+" "+user.user_lname}} </a>
                                        </td>
                                        <td class="hidden-xs">
                                            {{user.username}}
                                        </td>
                                        <td class="hidden-xs">
                                            {{user.user_email}}
                                        </td>
                                        <td class="hidden-xs">
                                            {{user.user_role}}
                                        </td>
                                         <td class="hidden-xs">
                                            {{user.phone}}
                                        </td>
                                        
                                        <!-- <td class="hidden-xs">
                                                <a href="void:0" ng-click="updateSite(user.user_id)" class="btn default btn-xs purple">
                                                <i class="fa fa-edit"></i> Edit </a>
                                                <a href="#basic" ng-click="deleteSite(user.user_id)" class="btn default btn-xs black">
                                                <i class="fa fa-trash-o"></i> Delete </a>
                                        </td> -->
                                        <td>
                                            <a ng-click="editUser(user)" class="btn default btn-xs purple"><i class="fa fa-edit"></i></a>
                                            <a  ng-click="deleteUser(user)" class="btn default btn-xs black">
                                                <i class="fa fa-trash-o"></i>  </a>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END CONDENSED TABLE PORTLET-->
            </div>


        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>

