
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<meta name="keyword" content="">
<link rel="shortcut icon" href="<?php echo $this->baseUrl(); ?>/img/favicon.html">
<title>404</title>
 
<link href="<?php echo $this->baseUrl(); ?>/css/bootstrap.min.html" rel="stylesheet">
<link href="<?php echo $this->baseUrl(); ?>/css/bootstrap-reset.css" rel="stylesheet">
 
<link href="<?php echo $this->baseUrl(); ?>/assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
 
<link href="<?php echo $this->baseUrl(); ?>/css/style.css" rel="stylesheet">
<link href="<?php echo $this->baseUrl(); ?>/css/style-responsive.css" rel="stylesheet"/>
 
<!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="body-404">
<div class="error-head"> </div>
<div class="container ">
<section class="error-wrapper text-center">
<h1><img src="<?php echo $this->baseUrl(); ?>/images/404.png" alt=""></h1>
<div class="error-desk">
<h2>page not found</h2>
<p class="nrml-txt">We Couldn’t Find This Page</p>
<p><?php echo $this->exception->getMessage() ?></p>
</div>
<a href="<?php echo $this->baseUrl(); ?>/admin/" class="back-btn"><i class="fa fa-home"></i> Back To Home</a>
</section>
</div>
</body>
</html>
