
<script type="text/ng-template" id="editcrs.html">
    <div class="modal-header">
            <h3 class="modal-title">Edit Cash Register Entry</h3>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="amount">Connection ID</label>
                <input ng-model="consumer_connection_id" type="textbox" name="connection_id" class="form-control" id="editcr_conn" placeholder="Enter Connection ID" readonly required/>
            </div>
            <label for="type">Type</label>
           <!-- <div class="form-group">
                <select ng-model="cr_entry_type_long" id="cr_entry_type_long">
                        <option>Select Entry Type</option>
                        <option value="CREDIT">CREDIT</option>
                        <option value="DEBIT">DEBIT</option>
                        <option value="DISCOUNT">DISCOUNT</option>
                        <option value="REFUND">REFUND</option>
                        <option value="PENALTY">PENALTY</option>
                        <option value="RECEIVED">RECEIVED</option>
                        <option value="ACTIVATION">ACTIVATION</option>
                        <option value="FOLLOWUP">FOLLOWUP</option>
                 </select>
			</div>-->
			 <div class="row">
				 <div class="col-md-6">
				<div class="form-group">
					<label class="control-label">Type (*)</label>
					<select type="text" class="form-control input-circle" ng-model="cr_entry_type_long" id="cr_entry_type_long">
										<option value="CREDIT">CREDIT</option>
										<option value="DEBIT">DEBIT</option>
										<option value="DISCOUNT">DISCOUNT</option>
										<option value="ACTIVATION">ACTIVATION</option>
										 
					</select> 
				</div>
				</div>
				<div class="col-md-6">
				<div class="form-group">
					<label class="control-label">Entry Status (*)</label>
					<select type="text" class="form-control input-circle" ng-model="cr_entry_status" id="cr_entry_status">
									<option value="ACT">ACT</option>
									<option value="CHG">CHG</option>
									<option value="EED">EED</option>
									<option value="MED">MED</option>
									<option value="WATER">WATER</option>
									<option value="OTHERS">OTHERS</option>
									<option value="SD">SD</option>
					</select>
				</div>
				</div>
				</div>


    <div class="form-group">
    <label for="amount">Amount</label>
    <input ng-model="cr_amount" type="textbox" name="cr_amount" class="form-control" id="editcr_amount" placeholder="Enter Amount" required/>
    </div>
    </div>
    <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
<script type="text/ng-template" id="deleteCRs.html">
    <div class="modal-header">
    <h3 class="modal-title">Do you want to delete or Inactive this record?</h3>
    </div>
    <div class="modal-footer">
    <button class="btn btn-primary" ng-click="delete()">Delete</button>
    <button class="btn btn-warning" ng-click="inactive()">Inactive</button>
    </div>
</script>
<script type="text/ng-template" id="editConsumer.html">
    <div class="modal-header">
        <h3 class="modal-title">Edit Consumer</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="amount">Connection ID</label>
            <input ng-model="selectedConsumer.consumer_connection_id" type="textbox" name="consumer_connection_id" class="form-control" id="consumer_connection_id" placeholder="Consumer's Connection ID" readonly/>
        </div>
        <div class="form-group">
            <label for="amount">Site Name</label>

            <select type="text" class="form-control input-circle" ng-model="selectedConsumer.site_id" placeholder="State Name" readonly>
                <option value="{{site.site_id}}" ng-repeat="site in sites" ng-selected="{{site.site_id == selectedConsumer.site_id}}">{{site.site_name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="amount">Consumer's Mobile Number</label>
            <input ng-model="selectedConsumer.consumer_code" ng-minlength="10" ng-maxlength="10" type="textbox" name="consumer_code" class="form-control" id="consumer_code" placeholder="Mobile Number" required/>
        </div>
        <div class="form-group">
            <label for="amount">Consumer's Name</label>
            <input ng-model="selectedConsumer.consumer_name" type="textbox" name="consumer_name" class="form-control" id="consumer_name" placeholder="Consumer's Name" required/>
        </div>
        <div class="form-group">
            <label for="amount">Consumer's Father's Name</label>
            <input ng-model="selectedConsumer.consumer_father_name" type="textbox" name="consumer_father_name" class="form-control" id="consumer_father_name" placeholder="Father's Name" required/>
        </div>
        <div class="form-group">
            <label for="type_of_me">Type of Consumer</label>
			<select type="text" class="form-control input-circle" name="type_of_me" ng-model="selectedConsumer.type_of_me" placeholder="Type of Consumers" disabled>
				<option value="{{consumerType.consumer_type_id}}" ng-repeat="consumerType in consumerTypes" >{{consumerType.consumer_type_name}}</option>
			</select>
            <!--<select ng-model="selectedConsumer.type_of_me" type="textbox" name="type_of_me" class="form-control" id="type_of_me" ng-change="changeMeType(selectedConsumer.type_of_me)"  required>
                <option value="HH Basic">HH Basic</option>
                <option value="HH Advanced">HH Advanced</option>
                <option value="Shops Basic">Shops Basic</option>
                <option value="Shops Advanced">Shops Advanced</option>
                <option value="Commercial- Appliance (Existing)">Commercial- Appliance (Existing)</option>
                <option value="Commercial- Appliance (New)">Commercial- Appliance (New)</option>
                <option value="Commercial- Motor">Commercial- Motor</option>
                <option value="New Micro-enterprise">New Micro-enterprise</option>
                <option value="CDKN - DGO" >CDKN - DGO</option>
                <option value="Institutional Load (Existing)">Institutional Load (Existing)</option>
                <option value="Institutional Load (New)">Institutional Load (New)</option>
                <option value="Telecom Tower">Telecom Tower</option>

            </select>-->
        </div>
		<div class="form-group">
    		<label for="amount">Status</label>
    		<select class="form-control" ng-model="selectedConsumer.consumer_status" disabled>
    			<option value="new">new</option>
    			<option value="active">active</option>
    			<option value="banned">banned</option>
    		</select>
    	</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Save</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
<script type="text/ng-template" id="editpackage.html">
    <div class="modal-header">
        <h3 class="modal-title">Edit Package</h3>
    </div>
    <div class="modal-body">
        <!--<div class="form-group">
            <label for="amount">Package Name</label>

            <select id="edit_Multiple_Package_id" class="select2" style="width:100%" ng-model="selectedConsumer.package_id" placeholder="package Name"  disabled>
                <option value="{{package.package_id}}" ng-repeat="package in packages" ng-selected="{{package.package_id == selectedConsumer.package_id}}">{{package.package_name}}</option>
            </select> 
        </div>
        <div class="form-group" ng-show="showMicroPrice">
            <label for="amount">Price/Unit </label>
            <input type="text" type="number" class="form-control input-circle" name="micro_entrprise_price" ng-model="selectedConsumer.micro_entrprise_price" placeholder="Enterprise Price" required>
        </div>
        <div class="form-group" ng-show="showMicroPrice">
            <label for="amount">Meter Reading </label>
            <input type="text" type="number" class="form-control input-circle" name="meter_start_reading" ng-model="selectedConsumer.meter_start_reading" placeholder="Meter Start Reading" required>
        </div>-->
        <div class="form-group">
            <label for="amount">Total OTP</label>
            <input ng-model="selectedConsumer.consumer_act_charge" type="textbox" name="consumer_act_charge" class="form-control" id="consumer_act_charge" placeholder="Activation Charge" required/>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Save</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
 <script>
  document.title = "<?php echo $this->consumer->__get("consumer_connection_id"); ?> - Viewing Consumer";
 </script>
        
    <div class="page-content-wrapper" ng-controller="viewController" id="viewCon">
            <div class="page-content">
                <div class="page-title">
						<?php $site_id = $this->consumer->__get("site_id"); 
						$site = $this->sitesMapper->getSiteById($site_id);
                        $siteName_data= $site->__get("site_name"); ?>
                    <h5><b>&nbsp;<i class="fa fa-bolt"></i>&nbsp;<?php echo $this->consumer->__get("consumer_connection_id"); ?>&nbsp;<i class="fa fa-user"></i>&nbsp;<?php  echo $this->consumer->__get("consumer_name"); ?> 
					&nbsp;<i class="fa fa-phone"></i>&nbsp; <?php echo $this->consumer->__get("consumer_code"); ?>&nbsp;<i class="fa fa-clock-o"></i>&nbsp; <?php echo date("d-M-Y",strtotime($this->consumer->__get("consumer_act_date"))); ?>
					&nbsp;<i class="fa fa-bolt"></i>&nbsp;
					<?php if($this->consumer->__get("consumer_status")=='banned') {
						echo ucwords($this->consumer->__get("consumer_status"))." (".date("d-M-Y",strtotime($this->consumer->__get("suspension_date"))).")";
					}else{
						echo ucwords($this->consumer->__get("consumer_status"));
					} ?>&nbsp;<i class="fa fa-globe"></i>&nbsp;<?php echo $siteName_data; ?></b>
					</h5>
                </div> 
                <div class="portlet light bordered">
                   <div class="tabbable-line boxless tabbable-reversed">
                       <ul class="nav nav-tabs">
                                 <li class="active">
                                     <a ng-click="consumertab()" data-toggle="tab">Consumer Details</a>
                                 </li>
								 
                                 <li>
                                     <a ng-click="paymenttab()" data-toggle="tab"> Payment History </a>
                                 </li>
								  
                                <li>
									<a ng-click="readingtab()" data-toggle="tab">Reading</a>
								</li>
								<li>
									<a ng-click="packagechangetab()" data-toggle="tab">Package Change</a>
								</li>
								<li>
									<a ng-click="communicationtab()" data-toggle="tab">Communication</a>
								</li>
								  <li>
                                     <a ng-click="electrictab()" data-toggle="tab">Unit Sold</a>
                                </li>
								<li>
									<a ng-click="walletTransactionsTab()" data-toggle="tab">Wallet Transactions</a>
								</li>
                             </ul>
 
                    <div class="tab-content" style="padding: 4px 0;">

                    <div class="tab-pane active" id="tab_0">
						 <div class="portlet light bordered">
						  <div class="portlet-title">
                                             <div class="caption font-dark">
                                                 <i class="icon-settings font-dark"></i>
                                                 <span class="caption-subject bold uppercase">Consumer Details</span>
                                             </div>
                                         </div>
							<div class="row">
							
                               <div class="col-md-12">
                                
                                        
									<div class="col-md-3">

										<div class="well mt-element-ribbon bg-grey-steel" style="height: 350px;">
											<?php if($this->consumer->__get("consumer_status")=='banned'){?>
												<div class="ribbon ribbon-vertical-right ribbon-color-default uppercase">
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <?php }else{?>
												<div class="ribbon ribbon-vertical-right ribbon-color-success uppercase">
													<i class="fa fa-star"></i>
												</div>
                                            <?php } ?>
                                         <address>

                                            <h5 style="font-family: sans-serif;"> <i class="fa fa-bolt"></i>&nbsp;&nbsp;&nbsp;<?php echo $this->consumer->__get("consumer_connection_id"); ?></h5>

                                            <h5 style="font-family: sans-serif;"><i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;<?php echo ucwords(strtolower($this->consumer->__get("consumer_name")));?></h5>
                                            <h5 style="font-family: sans-serif;"><i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;<?php echo "S/o ".ucwords(strtolower($this->consumer->__get("consumer_father_name"))); ?></h5>
                                             
											 <h5 style="font-family: sans-serif;"><i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;<?php echo $this->consumer->__get("consumer_code"); ?></h5>
                                             <h5 style="font-family: sans-serif;"> <i class="fa fa-clock-o"></i>&nbsp;&nbsp;&nbsp;<?php $date =  $this->consumer->__get("consumer_act_date");
                                                                                        $zend_date = new Zend_Date($date,"yyyy-MM-dd HH:mm:ss");
                                                                                         echo $zend_date->toString("dd-MMM-yyyy");?></h5>
                                             <h5 style="font-family: sans-serif;"><i class="fa fa-star"></i>&nbsp;&nbsp;&nbsp;<?php 
															$consumermapper=new Application_Model_ConsumersMapper();
															$consumerType=$consumermapper->getConsumerTypeById($this->consumer->__get("type_of_me"));
															 if($consumerType){
																echo $consumerType["consumer_type_name"]; 
															 }else{ echo "";  } ?>
											 </h5>
												<h5 style="font-family: sans-serif;"><i class="fa fa-globe"></i>&nbsp;&nbsp;&nbsp;<?php  
																					  echo $siteName_data;  ?></h5>

												<h5 style="font-family: sans-serif;"><i class="fa fa-bolt"></i>&nbsp;&nbsp;&nbsp;&nbsp;<?php 
															if($this->consumer->__get("consumer_status")=='banned'){
																echo ucwords($this->consumer->__get("consumer_status"))." (".date("d-M-Y",strtotime($this->consumer->__get("suspension_date"))).")"; 
															}else{ 
																echo ucwords($this->consumer->__get("consumer_status")); 
															}
												?></h5>
												<?php $charges=$this->cashRegisterMapper->getChargesByConsumerId($this->consumer->__get("consumer_id")); ?>
												<h5 style="font-family: sans-serif;"><i class="fa fa-cog"></i>&nbsp;&nbsp;&nbsp;Credit Limit : <i class="fa fa-inr"></i><?php echo $this->consumer->__get("credit_limit"); ?> </h5>
												<?php 
												if($this->consumer->__get("site_id")==31 || $this->consumer->__get("site_id")==62){
													$siteOutstaning=$this->cashRegisterMapper->getMonthlyDueBySiteId($this->consumer->__get("site_id"),null,null,null,$this->consumer->__get("consumer_id"));
													$Outstanding=intval($siteOutstaning["debit_amount"])-intval($siteOutstaning["credit_amount"]);
													$ActualAmount=0;
													?>
												
                                                <h5 style="font-family: sans-serif;"><i class="fa fa-cog"></i>&nbsp;&nbsp;&nbsp;Notional Balance : <i class="fa fa-inr"></i><?php echo sprintf("%.2f",($this->consumer->__get("notional_bal")+$Outstanding)); ?> </h5>
                                                <?php } ?>
												<div align="right"> 
													<a href="javascript:;" class="btn btn-primary" ng-click="editConsumers(<?php echo $this->consumer->__get("consumer_id")?>)">Edit &nbsp;<i class="fa fa-angle-down"></i></a>
												</div>
											</address>
                                    
										</div>
									</div>
								 
									<div class="col-md-5">
										<div class="well mt-element-ribbon bg-grey-steel" style="height: 350px;">
											<div class="ribbon ribbon-vertical-right ribbon-color-success uppercase">
                                                <i class="fa fa-star"></i>
                                            </div>
											<address>
												<h5 style="font-family: sans-serif;"><i class="fa fa-cog"></i>&nbsp;&nbsp;&nbsp;Security Deposit : <i class="fa fa-inr"></i><?php echo abs($this->cashRegisterMapper->getOtherAmtByConsumerId($this->consumer->__get("consumer_id"),'SD')); ?></h5>
                                                <h5 style="font-family: sans-serif;"><i class="fa fa-cog"></i>&nbsp;&nbsp;&nbsp;Energy -  Charge : <i class="fa fa-inr"></i><?php  echo intval($charges["CHG"]) ?> / Due : <i class="fa fa-inr"></i><?php echo $chg = intval($this->cashRegisterMapper->getOtherAmtByConsumerId($this->consumer->__get("consumer_id"),'CHG')) - intval($this->cashRegisterMapper->getDiscountByConsumerId($this->consumer->__get("consumer_id"),'CHG')); ?> </h5>
                                                <h5 style="font-family: sans-serif;"><i class="fa fa-cog"></i>&nbsp;&nbsp;&nbsp;OTP -  Charge : <i class="fa fa-inr"></i><?php  echo intval($charges["ACT"]) ?> / Due : <i class="fa fa-inr"></i><?php echo $otp = intval($this->consumerMapper->getRemainingActivation($this->consumer->__get("consumer_id"))) - intval($this->cashRegisterMapper->getDiscountByConsumerId($this->consumer->__get("consumer_id"),'ACT'));?></h5>
                                                <h5 style="font-family: sans-serif;"><i class="fa fa-cog"></i>&nbsp;&nbsp;&nbsp;EeD -  Charge : <i class="fa fa-inr"></i><?php  echo intval($charges["EED"]) ?> / Due : <i class="fa fa-inr"></i><?php echo $eed = intval($this->cashRegisterMapper->getOtherAmtByConsumerId($this->consumer->__get("consumer_id"),'EED')) - intval($this->cashRegisterMapper->getDiscountByConsumerId($this->consumer->__get("consumer_id"),'EED')); ?></h5>
                                                <h5 style="font-family: sans-serif;"><i class="fa fa-cog"></i>&nbsp;&nbsp;&nbsp;MeD -  Charge : <i class="fa fa-inr"></i><?php  echo intval($charges["MED"]) ?> / Due : <i class="fa fa-inr"></i><?php echo $med = intval($this->cashRegisterMapper->getOtherAmtByConsumerId($this->consumer->__get("consumer_id"),'MED')) - intval($this->cashRegisterMapper->getDiscountByConsumerId($this->consumer->__get("consumer_id"),'MED')); ?></h5>
                                                <h5 style="font-family: sans-serif;"><i class="fa fa-cog"></i>&nbsp;&nbsp;&nbsp;Water -  Charge : <i class="fa fa-inr"></i><?php  echo intval($charges["WATER"]) ?> / Due : <i class="fa fa-inr"></i><?php echo $water = intval($this->cashRegisterMapper->getOtherAmtByConsumerId($this->consumer->__get("consumer_id"),'WATER')) - intval($this->cashRegisterMapper->getDiscountByConsumerId($this->consumer->__get("consumer_id"),'WATER')); ?></h5>
                                                
												<h5 style="font-family: sans-serif;"><i class="fa fa-cog"></i>&nbsp;&nbsp;&nbsp;Others -  Charge : <i class="fa fa-inr"></i><?php  echo intval($charges["OTHERS"]) ?> / Due : <i class="fa fa-inr"></i><?php echo $other = intval($this->cashRegisterMapper->getOtherAmtByConsumerId($this->consumer->__get("consumer_id"),'OTHERS')) - intval($this->cashRegisterMapper->getDiscountByConsumerId($this->consumer->__get("consumer_id"),'OTHERS')); ?></h5>
                                                <h5 style="font-family: sans-serif;"><i class="fa fa-cog"></i>&nbsp;&nbsp;&nbsp;Meter -  Charge : <i class="fa fa-inr"></i><?php  echo intval($charges["METER"]) ?> / Due : <i class="fa fa-inr"></i><?php echo $meter = intval($this->cashRegisterMapper->getOtherAmtByConsumerId($this->consumer->__get("consumer_id"),'METER')) - intval($this->cashRegisterMapper->getDiscountByConsumerId($this->consumer->__get("consumer_id"),'METER')); ?></h5>
                                                
												<h5 style="font-family: sans-serif;"><i class="fa fa-cog"></i>&nbsp;&nbsp;&nbsp;Discount : <i class="fa fa-inr"></i><?php  echo intval($charges["DISCOUNT"]) ?> </h5>
                                                <h5 style="font-family: sans-serif;"><i class="fa fa-cog"></i>&nbsp;&nbsp;&nbsp;Total - Charge : <i class="fa fa-inr"></i><?php  echo intval($charges["CHG"])+intval($charges["ACT"])+intval($charges["EED"])+intval($charges["MED"])+intval($charges["OTHERS"]) + intval($charges["WATER"]) ?> / Due : <i class="fa fa-inr"></i><?php echo $chg+$otp+$eed+$med+$other+$water+$meter; ?></h5>
											</address>
										</div>
									</div>
								 
								<?php if ($this->meterReadings){ ?>
                                    <div class="col-md-4">
                                    
                                    <table class="table table-striped table-bordered table-hover order-column" fixed-header style="height: 313px;">
                                                     <thead>
                                                     <tr>
                                                         <th><span class="text">DATE & TIME</span></th>
                                                         <th><span class="text">READING</span></th>
														 <th><span class="text">Package Name</span></th>
                                                     </tr>
                                                     </thead>
                                                   <tbody>  
                                                    
                                                     <?php if ($this->meterReadings): ?>
                                                         <?php foreach ($this->meterReadings as $reading): ?>
                                                             <tr>
                                                                 <td><?php
                                                                     $timestamp = $reading["timestamp"];
                                                                     $date = new Zend_Date($timestamp,"yyyy-MM-dd HH:mm:ss");

                                                                     echo $date->toString("dd-MM-yyyy HH.mm");
                                                                     ?></td>

                                                                 <td><?php echo $reading["meter_reading"]; ?></td>
																 <td><?php $packageMapper=new Application_Model_PackagesMapper();
																			$packages=$packageMapper->getPackageById($reading["package_id"]);
																			if($packages){
																				echo $packages->__get("package_name");
																			}else{
																				echo "--DELETED--";
																			} ?>
																 </td>
                                                             </tr>
                                                         <?php endforeach; ?>
                                                     <?php endif; ?>
													 
													  </tbody>
                                                 </table>
                                          
                                            </div>   
                                 
                                 <?php } ?>
                              </div>
							</div>
							
								<div class="row">
								<div class="col-md-12">
									<?php
									   $consumerPackMapper=new Application_Model_ConsumersPackageMapper();
									   $conPacks=$consumerPackMapper->getPackageByConsumerId($this->consumer->__get("consumer_id"));
									   $pack_id=array();
									   if($conPacks){
										   $meterReadingsMapper = new Application_Model_MeterReadingsMapper();
											foreach ($conPacks as $conPack){
												$package_id=$conPack["package_id"];
												$package = $this->packagesMapper->getPackageById($package_id);?>
													<div class="col-md-4">
														<div class="well mt-element-ribbon bg-grey-steel" style="height: 215px;">
															<div class="ribbon ribbon-border-hor ribbon-clip ribbon-color-danger uppercase">
																<div class="ribbon-sub ribbon-clip"></div>
																	<?php if ($package->__get("is_postpaid") == 2) {
																		 echo "Mixed Mode Package";
																	} else if ($package->__get("is_postpaid") == 1) {
																		echo "Metered Package";
																	} else {
																		echo "Fixed Package Package";
																	} ?>
															 </div>
														<address style="margin-top: 38px;">
															<h5 style="font-family: sans-serif;">Wallet Balance : <i class="fa fa-inr"></i>&nbsp;<?php echo $this->consumer->__get("wallet_bal"); ?> </h5>
															 <?php if ($package->__get("is_postpaid") == 1) { ?>
																 <h5 style="font-family: sans-serif;">Package Name : &nbsp;<?php echo $package->__get("package_name"); ?></h5>
																&nbsp;&nbsp;&nbsp;
																 <small style="font-family: sans-serif;"><i class="fa fa-inr"></i>&nbsp;&nbsp;&nbsp;<?php echo $this->consumer->__get("micro_entrprise_price") . " Per Unit"; ?></small>
															<?php } ?>
															<?php if ($package->__get("is_postpaid") == 0) { ?>
																<h5 style="font-family: sans-serif;">Package Name : &nbsp;<?php echo $package->__get("package_name"); ?></h5>
															<?php } ?>
															<?php if ($package->__get("is_postpaid") == 2) { ?>
																<h5 style="font-family: sans-serif;">Package Name : &nbsp;<?php echo $package->__get("package_name"); ?></h5>
																&nbsp;&nbsp;&nbsp;
																<small style="font-family: sans-serif;"><i class="fa fa-inr"></i>&nbsp;<?php echo $package->__get("package_cost") . "/mo. for first " . $package->__get("unit") . " units of electricity" ?></small><br>
																&nbsp;&nbsp;&nbsp;
																<small style="font-family: sans-serif;"><i class="fa fa-inr"></i>&nbsp;<?php echo $package->__get("extra_charges") . " per unit thereafter"; ?></small>
															<?php } 
															$packageHis=new Application_Model_PackageHistoryMapper();
															$packageDetails=$packageHis->getpackageHistoryByPackageID($package->__get("package_id"),$this->consumer->__get("consumer_id"));
															if($packageDetails){ ?>
																	<h5 style="font-family: sans-serif;">Effective date : &nbsp;<?php echo date("d-M-Y",strtotime($packageDetails["package_change_date"])); ?></h5>
															<?php	}
															 $meter=$meterReadingsMapper->getLatestReadingByPackageConsumerId($this->consumer->__get("consumer_id"),$package_id);
															 if($meter){
																 $meter_no=$meter->__get("meter_no");
															?>
																 <h5 style="font-family: sans-serif;">Meter Number : &nbsp;<?php echo $meter_no; ?></h5> 
															<?php } ?> 
														</address>
														 
													   
													</div>
												</div>
											  
										   <?php 
										   }
									  } ?>
								</div>	
							 </div>	
                         </div>
                       </div>

					<div class="tab-pane" id="tab_1">
                       <div class="row">
                            <div class="col-md-12">
                                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                                <div class="portlet light bordered">
                                    <div class="portlet-title">
                                        <div class="caption font-dark">
                                            <i class="icon-settings font-dark"></i>
                                            <span class="caption-subject bold uppercase">Payment History</span>
                                            <!--<div class="modal-footer" style="float:center">
										 		<button type="button" ng-click="download()" class="btn blue">Download</button>
											</div>-->
                                        </div>
                                        <div class="tools"></div>
                                        
                                    </div>
                                    <div class="portlet-body">
                                        <table class="table table-striped table-bordered table-hover"
                                               id="payment_table">
                                            <thead>
                                            <tr>
												<th>SNo.</th>
                                            	<th>Transaction Date </th>
                                            	<th>Approve Date </th>
                                            	<th>Particulars</th>
                                                <th>Transaction ID</th>
												<th>Type</th>
                                                <th>Entry Type</th>
                                                <th>Debit</th>
                                                <th>Credit</th>
                                                <th>Balance</th>
                                                <th>Reading</th>
                                                <th>Unit</th>
                                                <th>Source</th>
                                                <th>Created By</th>
                                                <th>Verified By</th>
                                               
                                                
                                                <?php
                                                $auth = new My_Auth("user");
                                                if ($auth->getIdentity()->user_role == "1"  || $auth->getIdentity()->user_role == "73"):?>
                                                    <th>Action</th>
                                                <?php endif; ?>

                                            </tr>
                                            </thead>
                                            <tbody>
                                            <?php if ($this->cashRegister): ?>
                                           
                                            
                                                <?php foreach ($this->cashRegister as $cash): ?>

                                                    <?php if ($cash["status"] == "package"): ?>
                                                        <tr>
															<td class='danger'> <?php echo $cash["no"]; ?></td>
                                                            <td class='danger'>
                                                                <?php echo $timestamp = date("d-M-Y g:i a",strtotime($cash["timestamp"]));
                                                                //$date = new Zend_Date($timestamp, "yyyy-MM-dd HH:mm:ss");
                                                                // $date->toString("dd-MM-yyyy HH.mm");; ?>
                                                            </td>
                                                            <td class='danger'>
                                                                <?php echo $cash["message"]; ?>
                                                            </td>
                                                            <td></td><td></td><td></td><td></td><td></td>
                                                            <td></td><td></td><td></td><td></td><td></td>
                                                            <td></td><td></td>
															<?php
                                                $auth = new My_Auth("user"); 
                                                if ($auth->getIdentity()->user_role == "1" || $auth->getIdentity()->user_role == "73"):?>
                                                            <td></td>
															 <?php endif; ?>
                                                        </tr>
                                                    <?php endif; ?>
                                                    <?php if ($cash["status"] == "NoPackage"): ?> 
                                                        <tr <?php if ($cash["cr_status"] == "INACTIVE"): ?> class='danger'  <?php endif; ?> >
																<td> <?php echo $cash["no"]; ?></td>
 																<td><?php //$date = new Zend_Date($cash["timestamp"], "yyyy-MM-dd HH:mm:ss");
                                                                  		   //$timestamp = $date->toString("dd-MM-yyyy HH.mm"); 
                                                                  		  echo date("d-M-Y g:i a",strtotime($cash["timestamp"]));?>
                                                                </td>
                                                                <td><?php //$date = new Zend_Date($cash["approved_date"], "yyyy-MM-dd HH:mm:ss");
                                                                		  // $approve_date = $date->toString("dd-MM-yyyy HH.mm"); 
																		   
																		   if($cash["approved_date"]!="" && $cash["approved_date"]!=NULL){
																			echo date("d-M-Y g:i a",strtotime($cash["approved_date"])); 
																		  }else{
																			echo "";
																		  } 
																		  ?></td>
                                                                <td><?php 
                                                                
                                                                $trans_date=date_parse_from_format("Y-m-d", $cash["timestamp"]);
                                                                $day=$trans_date["day"];
                                                                $month= $trans_date["month"];
                                                                $year= $trans_date["year"];
                                                                $total_days_in_month=cal_days_in_month(CAL_GREGORIAN, $month, $year);
                                                                $dateObj   = DateTime::createFromFormat('!m', $month);
                                                                $monthName = $dateObj->format('M');
                                                                if($cash["cr_entry_type"]=='CREDIT' || $cash["cr_entry_type"]=='ACTIVATION'){
                                                                	$perticulars="Collection-".$monthName.",".$year."-".$cash["entry_status"];
                                                                }elseif($cash["cr_entry_type"]=='DEBIT'){
                                                                	if($cash["entry_status"]=='CHG'){
                                                                		$packageMapper=new Application_Model_PackagesMapper();
                                                                		$packages=$packageMapper->getPackageById($cash["package_id"]);
																		if($packages){
																			$perticulars="CHG-".$monthName.",".$year."-".$packages->__get("package_name");
																		}else{
																			$perticulars="CHG-".$monthName.",".$year."-Server";
																		}
                                                                	}elseif($cash["entry_status"]=='EED'){
                                                                		$consumerSchemeMapper=new Application_Model_ConsumerSchemeMapper();
                                                                		$consumerScheme=$consumerSchemeMapper->getConsumerSchemeByConsumerData($month,$year,$cash["consumer_id"]);
                                                                		if($consumerScheme){
                                                                			$totalDiscount=$consumerScheme["discount_month"];
                                                                			$RemaingDiscount=$consumerScheme["discount_month"]-$consumerScheme["equip_month_dis"];
                                                                		}
                                                                		$perticulars="EED-".$monthName.",".$year."-".$RemaingDiscount."/".$totalDiscount;
                                                                	}else{
                                                                		$perticulars=$cash["entry_status"]."-".$monthName.",".$year;
                                                                	}
                                                                }else{
																	if($cash["user_id"]==0){
																		$plantStatusMapper=new Application_Model_SiteStatusMapper();
																		$FeederMapper=new Application_Model_SiteMasterMeterMapper();
																		$plants=intval($plantStatusMapper->getSiteStatusByFeederData($this->consumer->__get("site_meter_id"),$month,$year));
																		$feeder=$FeederMapper->getMMById($this->consumer->__get("site_meter_id"));
																		$feederHr=0;
																		if($feeder){
																			$feederHr=$total_days_in_month * $feeder->__get("hours"); 
																		}
																		$perticulars="Plant Outage-".$monthName.",".$year."-".$plants."/".$feederHr;
																	}else{
																		$perticulars="Discount-".$monthName.",".$year."-".$cash["entry_status"];
																	}
																	
																}
                                                                echo $perticulars; ?></td>
                                                                <td><?php echo $cash["transaction_id"]; ?></td>
																<td><?php echo $cash["cr_entry_type"]; ?></td>    
                                                             	<td><?php echo $cash["entry_status"]; ?></td>    
                                                                <td><?php if($cash["cr_entry_type"] == "DEBIT"): ?>
                                                                   			Rs.<?php echo $cash["cr_amount"]; ?>
                                                                	<?php endif; ?>
                                                         		</td>
                                                         		<td><?php if($cash["cr_entry_type"] == "CREDIT" || $cash["cr_entry_type"] == "ACTIVATION" || $cash["cr_entry_type"] == "DISCOUNT"): ?>
                                                                    		Rs.<?php echo $cash["cr_amount"]; ?>
                                                                	 
                                                                	<?php endif; ?>
                                                                </td>
                                                                
                                                                <td>Rs.<?php echo $cash["balance"] ; ?></td>
                                                                <td><?php 
																		$meter_reading=NULL;$unit=NULL;
																		if($cash["cr_entry_type"] == "DEBIT" && $cash["entry_status"]=='CHG'){
																			$readingMapper=new Application_Model_MeterReadingsMapper();
																			$readingCheck=$readingMapper->checkMonthMeterReadingsByDateConsumerId($this->consumer->__get("consumer_id"),NULL,$cash["timestamp"]);
																			if($readingCheck){
																				$reading=$readingMapper->getMeterReadingsByConsumerId($this->consumer->__get("consumer_id"),NULL,$cash["timestamp"]); 
																				if($reading){
																					$meter_reading = sprintf("%.2f",($reading["meter_reading"]));
																					$Act_date = date_parse_from_format("Y-m-d", $cash["timestamp"]);
																					$Act_day = $Act_date["day"];
																					$Act_month = sprintf("%02d", $Act_date["month"]); 
																					$Act_year = $Act_date["year"]; 
																					$units=$readingMapper->getTotalUnitByConsumerId($this->consumer->__get("consumer_id"),$cash["package_id"],$Act_month,$Act_year);
																					$unit=sprintf("%.2f", $units);
																					//$unit = sprintf("%.2f",($reading["unit"]));
																				}
																			}
																		}
																		echo $meter_reading;
																	?>
																</td>
																<td><?php echo $unit ; ?></td>
																<td><?php echo $cash["transaction_type"] ; ?></td>
																<td><?php 
																		if ($cash["cr_entry_type"]!='DEBIT' || $cash["transaction_type"]=='(W)') {
																			if ($cash["transaction_type"]=='(W)') {
																				$users = $this->userMapper->getUserById($cash["user_id"]);
																				echo $users->__get("user_fname") . " " . $users->__get("user_lname");
																			} else {
																				$collectionAgent = $this->collectionAgentsMapper->getCollectionAgentById($cash["user_id"]);
																				echo $collectionAgent->__get("agent_fname") . " " . $collectionAgent->__get("agent_lname");
																			} 
																		}else{
																			echo "Server";
																		}
																		?>
                                                           		</td>
                                                           		<td><?php
																		if ($cash["cr_entry_type"]!='DEBIT') { 
																			if($cash["cr_status"]!='NEW'){
																					$users = $this->userMapper->getUserById($cash["approved_by"]);
																					echo $users->__get("user_fname") . " " . $users->__get("user_lname");
																			}else{
																				echo NULL;
																			} 
																		}else{
																			echo "Server";
																		}
																	?>  
                                                           		</td>
														 
                                                               
                                                            <?php if ($auth->getIdentity()->user_role == "1" || $auth->getIdentity()->user_role == "73"): ?> 
                                                                <td>
                                                                    <input type="hidden"
                                                                           id="editConsumer_id<?= $cash["cr_id"] ?>"
                                                                           value="<?php echo $this->consumer->__get("consumer_connection_id") ?>">
                                                                    <input type="hidden"
                                                                           id="editSatus<?= $cash["cr_id"] ?>"
                                                                           value="<?php echo $cash["cr_entry_type"] ?>">
                                                                    <input type="hidden"
                                                                           id="editAmount<?= $cash["cr_id"] ?>"
                                                                           value="<?php echo $cash["cr_amount"] ?>">
                                                                    <input type="hidden"
                                                                           id="deleteVal<?= $cash["cr_id"] ?>"
                                                                           value="<?php echo $cash["cr_id"] ?>">
                                                                    <input type="hidden"
                                                                           id="conVal<?= $cash["cr_id"] ?>"
                                                                           value="<?php echo $this->consumer->__get("consumer_id") ?>">

                                                                    <input type="hidden"
                                                                           id="receipt_number<?= $cash["cr_id"] ?>"
                                                                           value="<?php echo $cash["receipt_number"] ?>">
                                                                    <input type="hidden"
                                                                           id="transaction_id<?= $cash["cr_id"] ?>"
                                                                           value="<?php echo $cash["transaction_id"] ?>">
                                                                    <input type="hidden"
                                                                           id="user_id<?= $cash["cr_id"] ?>"
                                                                           value="<?php echo $cash["user_id"] ?>">
                                                                    <input type="hidden"
                                                                           id="editEntryStatus<?= $cash["cr_id"] ?>"
                                                                           value="<?php echo $cash["entry_status"] ?>">
                                                                           

                                                                    <a onclick="EditCrFunction('<?= $cash["cr_id"] ?>')" 
                                                                       class="btn default btn-xs purple"><i
                                                                            class="fa fa-edit"></i></a>
                                                                    <a onclick="DeleteCrFunction('<?= $cash["cr_id"] ?>')" 
                                                                       class="btn default btn-xs black">
                                                                        <i class="fa fa-trash-o"></i> </a></td>
                                                            <?php endif; ?>
                                                        </tr>
                                                    <?php endif; ?>
                                                    <?php if ($cash["status"] == "consumer"): ?>
                                                        <tr>
															<td class='danger'> <?php echo $cash["no"]; ?></td>
                                                            <td class='danger'>
                                                                <?php echo $timestamp = date("d-M-Y g:i a",strtotime($cash["timestamp"]));
                                                                 //$date = new Zend_Date($timestamp, "yyyy-MM-dd HH:mm:ss");
                                                                 //$date->toString("dd-MM-yyyy HH.mm");; ?>  
                                                            </td>
                                                            <td  class='danger'>
                                                                <?php echo $cash["message"]; ?>
                                                            </td>
                                                            <td></td><td></td><td></td><td></td><td></td>
                                                            <td></td><td></td><td></td><td></td><td></td>
                                                            <td></td><td></td>
                                                           
                                                             <?php
															$auth = new My_Auth("user");
															if ($auth->getIdentity()->user_role == "1"):?>
																<td></td>
															 <?php endif; ?>
                                                        </tr>
                                                    <?php endif; ?>

                                                <?php endforeach; ?>
                                            <?php endif; ?>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="tab_2">
                             <div class="row widget-row" align="right">
                                 <div class="form-group" >
                                     <div class="col-md-12">
                                         <div id="reportrange" class="btn btn-success" >
                                             <i class="fa fa-calendar"></i> &nbsp;
                                             <span id="dateRange"> </span>
                                             <b class="fa fa-angle-down" ></b>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                            <div class="portlet-body form">
                                     <form role="form">
                                         
                                             <div class="row">
                                                 <div class="col-md-12">
                                                     <div class="portlet light bordered">
                                                         <div class="portlet-title">
                                                             <div class="caption">
                                                                 <i class="icon-graph font-green-jungle"></i>
                                                                 <span class="caption-subject font-green-jungle bold uppercase">Unit Sold</span>
                                                                 <span class="caption-helper">Consumer Reading Graph</span>
                                                                 <input type="hidden" id="consumer_value" value="<?php echo $this->consumer->__get("consumer_id"); ?>">
                                                             </div> 
                                                          </div>
                                                         <div class="portlet-body">
                                                             <div id="echarts_electricityConsumer" style="width: 1171px;height:500px;"></div> 
                                                         </div>
                                                     </div>
                                                  </div>
                                             </div>

                                     </form>
                                 </div>

                                     </div>
									 
					<div class="tab-pane" id="tab_3">
                   
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption font-dark">
                                <i class="icon-settings font-dark"></i>
                                <span class="caption-subject bold uppercase">Wallet Transactions</span>
                            </div>
                            <div class="tools"></div>
                        </div>

                        <div class="portlet-body">
                            <?php

                            if ($this->walletTransactions && !empty($this->walletTransactions)) {
                                ?>


                                    <table class="table table-striped table-bordered table-hover" id="wallet_table">
                                        <thead>
                                        <tr>
                                            <th>
                                                Connection Id
                                            </th>
                                            <th>
                                                Consumer
                                            </th>
                                            <th>
                                                Collection Agent
                                            </th>
                                            <th>
                                                Transaction Id
                                            </th>
                                            <th>
                                                Entry Type
                                            </th>
                                            <th>
                                                Amount
                                            </th>
                                            <th>
                                                Timestamp
                                            </th>
                                            <th>
                                                Balance
                                            </th>
                                            <th>
                                                Comment
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                <?php foreach ($this->walletTransactions as $walletTransaction) {
                                    
                                    $collectionAgentMapper = new Application_Model_CollectionAgentsMapper();
                                    $collectionAgent = $collectionAgentMapper->getCollectionAgentById($walletTransaction['user_id']);
                                    ?>
                                        <tr>
                                            <td>
                                                <?= $this->consumer->__get('consumer_connection_id') ?>
                                            </td>
                                            <td>
                                                <?= ucwords(strtolower($this->consumer->__get('consumer_name'))); ?>
                                            </td>
                                            <td>
                                                <?= $collectionAgent?sprintf('%s %s',$collectionAgent->__get('agent_fname'),$collectionAgent->__get('agent_lname')):'NA'?>
                                            </td>
                                            <td>
                                                <?= $walletTransaction['transaction_id'] ?>
                                            </td>
                                            <td>
                                                <?= $walletTransaction['entry_type'] ?>
                                            </td>
                                            <td>
                                                <?= number_format($walletTransaction['amount'],2) ?>
                                            </td>
                                            <td>
                                                <?= $walletTransaction['timestamp'] ?>
                                            </td>
                                            <td>
                                                <?= number_format($walletTransaction['balance'],2) ?>
                                            </td>
                                            <td>
                                                <?= $walletTransaction['comment'] ?>
                                            </td>
                                        </tr>
                                <?php } ?>
                                        </tbody>
                                    </table>


                            <?php } ?>

                        </div>
                       

                    </div>

                </div>

						<!--start of Code -->
					<div class="tab-pane" id="tab_4">
                       <div class="row">
                            <div class="col-md-12">
                                
                                <div class="portlet light bordered">
                                    <div class="portlet-title">
                                        <div class="caption font-dark">
                                            <i class="icon-settings font-dark"></i>
                                            <span class="caption-subject bold uppercase">Readings</span>
                                           
                                        </div>
                                        <div class="tools"></div>
                                        
                                    </div>
                                    <div class="portlet-body">
                                        <table class="table table-striped table-bordered table-hover"
                                               id="reading_table">
                                            <thead>
                                            <tr>
												<th>S.No</th>
												<th>Status</th>
												<th>Date</th>
												<th>Meter No.</th>
                                                <th>Meter Reading</th>
                                                <th>Units</th>
                                                <th>Package</th>
												
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <?php 
											
												$meterReadingsMapper=new Application_Model_MeterReadingsMapper();
												$packagesMapper=new Application_Model_PackagesMapper();
												if($this->consumer->__get("site_id")!=62 && $this->consumer->__get("site_id")!=31){
													$meters=$meterReadingsMapper->getReadingByCustomerData($this->consumer->__get("consumer_id"));
													date_default_timezone_set('Asia/Kolkata');
													if($meters){
														$meterCounter=count($meters);
														foreach($meters as $meter){
															$packages=$packagesMapper->getPackageById($meter["package_id"]);
															if($packages){
																$package_name=$packages->__get("package_name");
															}else{
																$package_name="--DELETED--";
															}
															if($meter["start_reading"]==0){
																$remark="Reading";
															}else{
																$remark="Meter Reset";
															}
														?>
														<tr>  
															<th><?php echo $meterCounter--; ?></th>
															<th><?php echo $remark; ?></th> 
															<td><?php echo date("d-M-Y g:i a",strtotime($meter["timestamp"])); ?></td>
															<td><?php echo $meter["meter_no"]; ?></td>
															<td><?php echo sprintf("%.2f",$meter["meter_reading"]); ?></td>
															<td><?php echo sprintf("%.2f",$meter["unit"]); ?></td>
															<td><?php echo $package_name; ?></td>
															  
														</tr>
													<?php 
														}
													}
												}else{
													$meter_arr=array();
													$meters=$meterReadingsMapper->getReadingByCustomer($this->consumer->__get("consumer_id"));
													
													date_default_timezone_set('Asia/Kolkata');
													if($meters){
														$meterCounter=count($meters);
														foreach($meters as $meter){
															
															$current_date = date_parse_from_format("Y-m-d", $meter["timestamp"]);
															$month = sprintf("%02d", $current_date["month"]);
															$year = $current_date["year"];
															$total_days_in_month=cal_days_in_month(CAL_GREGORIAN, $month, $year);
															$timestamp=$year."-".$month."-".$total_days_in_month;
															
															if($meter["start_reading"]==0){
																$remark="Reading";
																$reading_vals=$meterReadingsMapper->getConsumerMeterReading($this->consumer->__get("consumer_id"),$timestamp,$month,$year,1);
																$packages=$packagesMapper->getPackageById($reading_vals["package_id"]);
															}else{
																$remark="Meter Reset";
																$reading_vals=$meterReadingsMapper->getConsumerMeterReading($this->consumer->__get("consumer_id"),$meter["timestamp"],$month,$year,0);
																$packages=$packagesMapper->getPackageById($meter["package_id"]);
															}
															
															if($packages){
																$package_name=$packages->__get("package_name");
															}else{
																$package_name="--DELETED--";
															} 
															$data=array(
																"remark"=>$remark,
																"timestamp"=>$reading_vals["timestamp"],
																"meter_no"=>$reading_vals["meter_no"],
																"meter_reading"=>$reading_vals["meter_reading"],
																"unit"=>$reading_vals["unit"],
																"package_name"=>$package_name,
															);
															$meter_arr[]=$data; 
														}
														if(count($meter_arr)>0){
															$sort_arr = array();
															foreach ($meter_arr as $key => $row)
															{
																$sort_arr[$key] = $row['timestamp'];
															}
															array_multisort($sort_arr, SORT_DESC ,$meter_arr);
														
															foreach($meter_arr as $package_arrs){
															?>
																<tr>  
																	<th><?php echo $meterCounter--; ?></th>
																	<th><?php echo $package_arrs["remark"]; ?></th> 
																	<td><?php echo date("d-M-Y g:i a",strtotime($package_arrs["timestamp"])); ?></td>
																	<td><?php echo $package_arrs["meter_no"]; ?></td>
																	<td><?php echo sprintf("%.2f",$package_arrs["meter_reading"]); ?></td>
																	<td><?php echo sprintf("%.2f",$package_arrs["unit"]); ?></td>
																	<td><?php echo $package_arrs["package_name"]; ?></td>
																	  
																</tr>
																<?php 
															}
														}
													}
												}		
                                             ?>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                   
					<div class="tab-pane" id="tab_5">
                       <div class="row">
                            <div class="col-md-12">
                                 
                                <div class="portlet light bordered">
                                    <div class="portlet-title">
                                        <div class="caption font-dark">
                                            <i class="icon-settings font-dark"></i>
                                            <span class="caption-subject bold uppercase">Package Change</span>
                                            
                                        </div>
                                        <div class="tools"></div>
                                        
                                    </div>
                                    <div class="portlet-body">
                                        <table class="table table-striped table-bordered table-hover"
                                               id="package_change_table">
                                            <thead>
                                            <tr>
												<th>S.No </th>
												<th>Activity</th>
                                                <th>Previous Package </th>
                                                <th>Current Package </th>
                                                <th>Effective Date</th>
                                                <th>Entry By</th>
												<th>Entry Date</th>
												<th>Verified By</th>
												<th>Verified Date</th>
												
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <?php 
                                             $packagechangemapper = new Application_Model_PackageHistoryMapper(); 
											   $packageChangesMapper = new Application_Model_PackageChangeMapper();  
                                                $packagechanges = $packagechangemapper->getpackageHistoryByConsumerId($this->consumer->__get("consumer_id")); 
											   $packagemapper = new Application_Model_PackagesMapper();
												 		
                                                if($packagechanges){
													$packChange=count($packagechanges)+1;
													foreach ($packagechanges as $packagechange) {
												
														if($packagechange->__get('last_package')!=NULL){
															
															$new_package = $packagemapper->getPackageById($packagechange->__get('package_id'));
															$curr_package = $packagemapper->getPackageById($packagechange->__get('last_package'));
															
															$usermapper = new Application_Model_UsersMapper();
															if($packagechange->__get('change_by')==1){
																$userName="Server";
															}else{
																$user = $usermapper->getUserById($packagechange->__get('change_by'));
																$userName=$user->user_fname." ".$user->user_lname;
															}
															//echo $new_package->package_id." ".$this->consumer->__get("consumer_id")." ".date("Y-m-d",strtotime($packagechange->__get('package_change_date')))." ".'change';
														 	$changePackage=$packageChangesMapper->getAllPackageActivityForVerification($packagechange->__get('package_id'),$this->consumer->__get("consumer_id"),date("Y-m-d",strtotime($packagechange->__get('package_change_date'))),'change');
															if($changePackage){
																if($changePackage["user_type"]=='(W)'){
																	$user = $usermapper->getUserById($changePackage['user_id']);
																	$userName=$user->user_fname." ".$user->user_lname;
																	
																	$entry_date=date("d-M-Y g:i a",strtotime($changePackage['timestamp']));
																	
																	$verified_date=date("d-M-Y g:i a",strtotime($changePackage['verified_date']));
																	$users = $usermapper->getUserById($changePackage['verified_by']);
																	$verified_by=$users->user_fname." ".$users->user_lname;
																	
																}else{
																	 $collectionAgentsMapper = new Application_Model_CollectionAgentsMapper();
																	 $collectionAgent = $collectionAgentsMapper->getCollectionAgentById($changePackage['user_id']);
																	 
																	 $userName=$collectionAgent->agent_fname." ".$collectionAgent->agent_lname;
																	
																	 $entry_date=date("d-M-Y g:i a",strtotime($changePackage['timestamp']));
																	
																	 $verified_date=date("d-M-Y g:i a",strtotime($changePackage['verified_date']));
																	 $users = $usermapper->getUserById($changePackage['verified_by']);
																	 $verified_by=$users->user_fname." ".$users->user_lname;
																}
															}else{ 
																$entry_date=date("d-M-Y g:i a",strtotime($packagechange->__get('package_change_date')));  
																$verified_date=date("d-M-Y g:i a",strtotime($packagechange->__get('package_change_date')));  
																$verified_by=$userName;
															}
														?>
														
														
														<tr>
															<th><?php echo --$packChange ; ?> </th>
															<td><b>Change Package</b></td>
															<td><?php echo $curr_package->package_name; ?></td>
															<td><?php echo $new_package->package_name; ?></td>
															<td><?php echo date("d-M-Y g:i a",strtotime($packagechange->__get('package_change_date')));  ?></td>  
															<td><?php echo $userName; ?></td>
															<td><?php echo $entry_date; ?></td>
															<td><?php echo $verified_by; ?></td>
															<td><?php echo $verified_date; ?></td>
															
														</tr>
														<?php 
														}else{
															$usermapper = new Application_Model_UsersMapper();
															if($packagechange->__get('change_by')==1){
																$userName="Server";
															}else{
																$user = $usermapper->getUserById($packagechange->__get('change_by'));
																$userName=$user->user_fname." ".$user->user_lname;
															}
															
															$new_package = $packagemapper->getPackageById($packagechange->__get('package_id'));
															if($new_package){
															$changePackage=$packageChangesMapper->getAllPackageActivityForVerification($packagechange->__get('package_id'),$this->consumer->__get("consumer_id"),date("Y-m-d",strtotime($packagechange->__get('package_change_date'))),'new');
														 
															if($changePackage){
																if($changePackage["user_type"]=='(W)'){
																	$user = $usermapper->getUserById($changePackage['user_id']);
																	$userName=$user->user_fname." ".$user->user_lname;
																	
																	$entry_date=date("d-M-Y g:i a",strtotime($changePackage['timestamp']));
																	
																	$verified_date=date("d-M-Y g:i a",strtotime($changePackage['verified_date']));
																	$users = $usermapper->getUserById($changePackage['verified_by']); 
																	$verified_by=$users->user_fname." ".$users->user_lname;
																	
																}else{
																	 $collectionAgentsMapper = new Application_Model_CollectionAgentsMapper();
																	 $collectionAgent = $collectionAgentsMapper->getCollectionAgentById($changePackage['user_id']);
																	 
																	 $userName=$collectionAgent->agent_fname." ".$collectionAgent->agent_lname;
																	
																	 $entry_date=date("d-M-Y g:i a",strtotime($changePackage['timestamp']));
																	
																	 $verified_date=date("d-M-Y g:i a",strtotime($changePackage['verified_date']));
																	 $users = $usermapper->getUserById($changePackage['verified_by']);
																	 $verified_by=$users->user_fname." ".$users->user_lname;
																}
															}else{
 																$entry_date=date("d-M-Y g:i a",strtotime($packagechange->__get('package_change_date')));  
																$verified_date=date("d-M-Y g:i a",strtotime($packagechange->__get('package_change_date')));  
																$verified_by=$userName;
															}
															
															if($packagechange->__get('status')=='Remove'){
																$status='Remove Package';
															}else{
																$status='Add Package';
															}
														 ?>
															<tr>
																<th><?php echo --$packChange ; ?> </th>
																<td><b><?php echo $status; ?></b></td>
																<td><?php echo NULL ; ?></td>
																<td><?php echo $new_package->package_name; ?></td>
																<td><?php echo date("d-M-Y g:i a",strtotime($packagechange->__get('package_change_date')));  ?></td>  
																<td><?php echo $userName; ?></td>
																<td><?php echo $entry_date; ?></td>
																<td><?php echo $verified_by; ?></td>
																<td><?php echo $verified_date; ?></td>
																
															</tr>
														<?php } 
														}
													 }
												}
                                                
                                                 ?>
                                            </tbody>
                                        </table> 
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div> 
                    
					<div class="tab-pane" id="tab_6">
                       <div class="row">
                            <div class="col-md-12">
                                
                                <div class="portlet light bordered">
                                    <div class="portlet-title">
                                        <div class="caption font-dark">
                                            <i class="icon-settings font-dark"></i>
                                            <span class="caption-subject bold uppercase">Communications</span>
                                            
                                        </div>
                                        <div class="tools"></div>
                                        
                                    </div>
                                    <div class="portlet-body">
                                        <table class="table table-striped table-bordered table-hover"
                                               id="communication_table">
                                            <thead>
                                            <tr>
												<th>S.No </th>
												<th>Query </th>
												<th>Amount </th>
												<th>Entry Date </th>
												<th>Comment </th>
												<th>Created By </th>
												<th>Attachment</th>
												<th>Query Status</th>
												
                                                
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <?php 
                                               
                                                $communicationmapper = new Application_Model_CustomerCommunicationMapper();
                                                $communications = $communicationmapper->getAllQueriesOfACustomer($this->consumer->__get("consumer_id"));

                                                if($communications){
													$comm=count($communications);
													foreach ($communications as $communication) {
														$usermapper = new Application_Model_UsersMapper();
														$consumersMapper = new Application_Model_ConsumersMapper();
														$consumer = $consumersMapper->getConsumerById($communication['consumer_id']);
														$querymapper = new Application_Model_QueryMapper();
														$query = $querymapper->getQueryById($communication['query_id']);
														
														$users = $usermapper->getUserById($communication["user_id"]);
														$Created_By= $users->__get("user_fname") . " " . $users->__get("user_lname");
														
														?>
														<tr>
															<th><?php echo $comm--; ?></th>
															<td><?php echo $query->query; ?></td>
															<td><?php echo intval($communication['amount']); ?></td>
															<td><?php echo date("d-M-Y g:i a",strtotime($communication['timestamp'])); ?></td> 
															<td><?php echo $communication['query_comment']; ?></td>
															<td><?php echo $Created_By ?></td>
															<td><a href="http://taraurja.in/angular_app/components/customer-communication/files/<?php echo $communication['attachment']; ?>" target="_blank"><?php echo $communication['attachment']; ?><a>/
															<a href="http://taraurja.in/angular_app/components/customer-communication/files/<?php echo $communication['attach_sec']; ?>" target="_blank"><?php echo $communication['attach_sec']; ?><a></td>
															<td><?php echo $communication['query_status']; ?></td>
															 
														</tr>
                                                <?php  }
												}
                                            ?>
                                            </tbody>
                                        </table> 
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
				<!--End of Code-->
				
                    </div>
                   </div>
                </div>
            </div>
    </div>
  