<!-- Start Code of Edit and Delete modals -->
	<script type="text/ng-template" id="editCountry.html">
		<div class="modal-header">
			<h3 class="modal-title">Edit States</h3>
		</div>
		<div class="modal-body">
			<div class="form-group">
				<label for="type">Country Name</label>
				<input ng-model="selectedState.country_name" name="country_name" type="textbox" class="form-control"  placeholder="Country Name" required/>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="ok()" ng-disabled="editform.$invalid" >Edit</button>
			<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
		</div>
	</script>

	<script type="text/ng-template" id="deleteState.html">
		<div class="modal-header">
			<h3 class="modal-title">Are You Sure to Delete?</h3>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="confirm()">Confirm Delete</button>
			<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
		</div>
	</script>
<!-- END Code of Edit and Delete modals --> 

<!-- Start Code of Addition -->
	<div class="row">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Add Country
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal" id="addStateForm" name="form"  novalidate >
                    <div class="form-body">
						<div class=" form-group">
                            <label class="col-md-3 control-label">Country Name<sup style="color: red;"><b>*</b><sup></label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="country_name" ng-model="country_name" placeholder="Country Name">
								<span id="country_validation" style="color: red;"></span>
							</div>
                        </div>
					</div>	
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-4 col-md-8">
                                <button type="submit" class="btn btn-circle blue" ng-click="ValidateForm()">Submit</button>
                            </div>
                        </div>
                    </div>	
				</form>
			</div>
        </div>
	</div>
<!-- End Code of Addition -->     

<!-- Start Code of Listing -->     
	<div class="row">
		<div class="portlet light bordered">
			<div class="portlet-title">
				<div class="caption font-dark">
					<i class="icon-settings font-dark"></i>
					<span class="caption-subject bold"><i class="fa fa-picture"></i>All Countries</span>
				</div>
				<div class="tools"></div>
			</div>
			<div class="portlet-body">
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th> Country Name </th>
							<th> Action </th>
                       </tr>
					</thead>
					<tbody>
						<tr ng-repeat="country in countries">
							<td class="hidden-xs"> {{country.country_name}} </td>
							<td>
                                <a ng-click="editCountry(country)" class="btn default btn-xs purple"><i class="fa fa-edit"></i></a>
								<a ng-click="deleteCountry(country)" class="btn default btn-xs black"><i class="fa fa-trash-o"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
<!-- End Code of Listing -->      