<ul class="pagination pagination-sm pull-right">
        <?php if (isset($this->previous)): ?>
            <li><a href="<?php echo $this->url(array('page' => $this->previous)); ?>">«</a></li>
       <?php endif;?>
   
            
      <?php foreach($this->pagesInRange as $page): ?>
            
            <li <?php if($this->current===$page):?>class="active"<?php endif;?>><a href="<?php echo $this->url(array('page' => $page)); ?>"><?php echo $page; ?></a></li>
            
      <?php endforeach;?>
     
    
      <?php if (isset($this->next)): ?>
        <li><a href="<?php echo $this->url(array('page' => $this->next)); ?>">»</a></li>
    
      <?php endif; ?>
</ul>