<script type="text/ng-template" id="editSite.html">
    <div class="modal-header">
    <h3 class="modal-title">Edit Site</h3>
    </div>
    <div class="modal-body">

	<div class="form-group">
               <label for="type">State Name</label>
                <select type="text" class="form-control input-circle" ng-model="selectedSite.state_id" ng-change="getClusters()" placeholder="State Name">
                        <option value="{{state.state_id}}" ng-repeat="state in states" ng-selected="{{state.state_id == selectedSite.state_id}}">{{state.state_name}}</option>
                </select>
            </div>
    <div class="form-group">
    <label for="type">Cluster Name</label>
                <select type="text" class="form-control input-circle" ng-model="selectedSite.cluster_id" placeholder="cluster Name">
                        <option value="{{cluster.cluster_id}}" ng-repeat="cluster in clusters" ng-selected="{{cluster.cluster_id == selectedSite.cluster_id}}">{{cluster.cluster_name}}</option>
                </select>
    </select>
    </div>


    <div class="form-group">
    <label for="amount">Site Name</label>
    <input ng-model="selectedSite.site_name" type="textbox" name="cr_amount" class="form-control" id="editcr_amount" placeholder="Site Name" required/>
    </div>

    <div class="form-group">
    <label for="amount">Site Code</label>
    <input ng-model="selectedSite.site_code" type="textbox" name="site_code" class="form-control" id="site_code" placeholder="Site Code" required/>
    </div>
    
    <div class="form-group">
    <label for="amount">Number of Poles</label>
    <input ng-model="selectedSite.num_of_poles" type="textbox" name="num_of_poles" class="form-control" id="num_of_poles" placeholder="Num of Poles" required/>
    </div>
    
 	<div class="form-group">
    	<label for="amount">Site Status</label>
    	<select class="form-control" ng-model="selectedSite.site_status">
    		<option value="Enable">Enable</option>
    		<option value="Disable">Disable</option>
    	</select>
    </div>
    <div class="form-group">
               <label for="type">Site Order</label>
                <select type="text" class="form-control input-circle" ng-model="selectedSite.site_order"  placeholder="site Orders">
                        <option value="{{site.site_order}}" ng-repeat="site in sites" ng-selected="{{site.site_order == selectedSite.site_order}}">{{site.site_order}}</option>
                </select>
    </div>

    <div class="form-group">
        <label>X</label>
        <input ng-model="selectedSite.x" type="text" name="x" class="form-control" id="x" placeholder="X Value"/>
    </div>
    <div class="form-group">
        <label>Y</label>
        <input ng-model="selectedSite.y" type="text" name="y" class="form-control" id="y" placeholder="Y Value"/>
    </div>
<div class="form-group">
    <label>Size of plant in KW</label>
    <input ng-model="selectedSite.Size_of_plant" type="textbox" name="Size_of_plant" class="form-control" placeholder="Size of Plant in KW" required/>
    </div>
<table>
<tr>
	<div class="form-group">
	   <td><label for="amount">Solar panel size</label>
			<select class="form-control" ng-model="selectedSite.Solar_panel_size">
				<option value="250W">250W</option>
				<option value="300W">300W</option>
			</select>
	   </td>  
	</div>
	<td colspan="2">&nbsp; &nbsp;&nbsp; &nbsp;</td>
	<div class="form-group"> 
	  <td><label>Solar panel no</label>
		<input ng-model="selectedSite.Solar_panel_no" type="number" name="Solar_panel_no" class="form-control" placeholder="Solar panel no" required/>
	   </td>  
	</div>
	<td colspan="2">&nbsp; &nbsp;&nbsp; &nbsp;</td>
	<div class="form-group">
	  <td><label>Solar panel capacity</label>
		<input ng-model="selectedSite.Solar_panel_kw" type="number" name="Solar_panel_kw" class="form-control" placeholder="Solar panel capacity" required/>
	   </td>  
	</div>
</tr>
<tr>
<div class="form-group">
  <td><label>Charges controller size</label>
<select class="form-control" ng-model="selectedSite.Charges_controller_size">
    		<option value="MPPT 60A">MPPT 60A</option>
    		<option value="MPPT 80A">MPPT 80A</option>
    	</select> 
 </td>  </div>
 <td colspan="2">&nbsp; &nbsp;&nbsp; &nbsp;</td>
	<div class="form-group">
 <td><label>Charges controller no</label>
    <input ng-model="selectedSite.Charges_controller_no" type="number" name="Charges_controller_no" class="form-control" placeholder="Charges controller no" required/>
  </td>  </div>
</tr>
<tr>
<div class="form-group">
 <td><label>Inverter size</label>
<select class="form-control" ng-model="selectedSite.Inverter_size">
    		<option value="4.5 KW">4.5 KW</option>
    		<option value="6.0 KW">6.0 KW</option>
    	</select>   
</td>  </div>
 <td colspan="2">&nbsp; &nbsp;&nbsp; &nbsp;</td>
<div class="form-group">
 <td><label>Inverter no</label>
    <input ng-model="selectedSite.Inverter_no" type="number" name="Inverter_no" class="form-control" placeholder="Inverter no" required/>
  </td>  </div>
</tr>
<tr>
	<div class="form-group">
		<td><label>Battery size</label>
			<select class="form-control" ng-model="selectedSite.Battery_size">
					<option value="48V, 600 Ah">48V, 600 Ah</option>
					<option value="240V, 300 Ah"> 240V, 300 Ah</option>
				</select>
		</td>
	</div>
	<td colspan="2">&nbsp; &nbsp;&nbsp; &nbsp;</td>
	<div class="form-group">
		<td><label>Battery no</label>
			<input ng-model="selectedSite.Battery_no" type="number" name="Battery_no" class="form-control" placeholder="Battery_no" required/>
		</td>  
	</div>
	<td colspan="2">&nbsp; &nbsp;&nbsp; &nbsp;</td>
	<div class="form-group">
		<td><label>Battery capacity</label>
			<input ng-model="selectedSite.Battery_no_v" type="number" name="Battery_no_v" class="form-control" placeholder="Battery capacity" required/>
		</td>  
	</div>
</tr>

<tr>
	<div class="form-group">
		<td><label>DG Capacity</label>
			<input ng-model="selectedSite.dg_capacity" type="number" name="dg_capacity" class="form-control" placeholder="DG Capacity" required/>
		</td>  
	</div>
	<td colspan="2">&nbsp; &nbsp;&nbsp; &nbsp;</td>
	<div class="form-group">
		<td><label>DG No</label>
			<input ng-model="selectedSite.dg_no" type="number" name="dg_no" class="form-control" placeholder="DG No" required/>
		</td>  
	</div>
</tr>

<tr>
	<div class="form-group">
		<td><label>BIOGAS Capacity</label>
			<input ng-model="selectedSite.bio_capacity" type="number" name="bio_capacity" class="form-control" placeholder="BIOGAS Capacity" required/>
		</td>  
	</div>
	<td colspan="2">&nbsp; &nbsp;&nbsp; &nbsp;</td>
	<div class="form-group">
		<td><label>BIOGAS No</label>
			<input ng-model="selectedSite.bio_no" type="number" name="bio_no" class="form-control" placeholder="BIOGAS No" required/>
		</td>  
	</div>
</tr>

<tr>
	<div class="form-group">
		<td><label>Radiation</label>
			<input ng-model="selectedSite.radiation" type="number" name="radiation" class="form-control" placeholder="Radiation" required/>
		</td>  
	</div>
	<td colspan="2">&nbsp; &nbsp;&nbsp; &nbsp;</td>
	<div class="form-group">
		<td><label>Target</label>
			<input ng-model="selectedSite.site_target" type="number" name="site_target" class="form-control" placeholder="Target" required/>
		</td>  
	</div>
	<td colspan="2">&nbsp; &nbsp;&nbsp; &nbsp;</td>
	<div class="form-group">
		<td><label>Plant Duration</label>
			<input ng-model="selectedSite.plant_duration" type="number" name="plant_duration" class="form-control" placeholder="Plant Duration" required/>
		</td>  
	</div>
	<td colspan="2">&nbsp; &nbsp;&nbsp; &nbsp;</td>
	<div class="form-group">
		<td><label>Plant Target</label>
			<input ng-model="selectedSite.plant_target" type="number" name="plant_target" class="form-control" placeholder="Plant Target" required/>
		</td>  
	</div>
</tr>

<tr>
	<div class="form-group">
		<td><label>Array Capacity</label>
			<input ng-model="selectedSite.array_capacity" type="number" name="array_capacity" class="form-control" placeholder="Array Capacity" required/>
		</td>  
	</div>
	<td colspan="2">&nbsp; &nbsp;&nbsp; &nbsp;</td>
	<div class="form-group">
		<td><label>Array No</label>
			<input ng-model="selectedSite.array_no" type="number" name="array_no" class="form-control" placeholder="Array No" required/>
		</td>  
	</div>
</tr>	
<tr>
	<div class="form-group">
		<td><label>Day Factor</label>
			<input ng-model="selectedSite.day_factor" type="number" name="day_factor" class="form-control" placeholder="Day Factor" required/>
		</td>  
	</div>
	<td colspan="2">&nbsp; &nbsp;&nbsp; &nbsp;</td>
	<div class="form-group">
		<td><label>Night Factor</label>
			<input ng-model="selectedSite.night_factor" type="number" name="night_factor" class="form-control" placeholder="Night Factor" required/>
		</td>  
	</div>
</tr>
</table>

	<div class="form-group">
           <label >Activation Charges (*)</label>
           <select name="act_charges" class="form-control input-circle" ng-model="selectedSite.act_charges" required>
           		<option ng-repeat="otpCharge in otpCharges" value="{{otpCharge.id}}" ng-if="otpCharge.otp_type==0">{{otpCharge.charges}}</option>
           </select>
 	</div>
    <div class="form-group">
           <label >Metered Charges (*)</label> 
           <select name="mtr_charges" class="form-control input-circle" ng-model="selectedSite.mtr_charges" required>
            	<option ng-repeat="otpCharge in otpCharges" value="{{otpCharge.id}}" ng-if="otpCharge.otp_type==1">{{otpCharge.charges}}</option>
           </select>
 	</div>
 
 </div>
    <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="deleteSite.html">
    <div class="modal-header">
    <h3 class="modal-title">Are You Sure to Delete</h3>
    </div>
    <div class="modal-footer">
    <button class="btn btn-primary" ng-click="confirm()">Confirm Delete</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
<div class="page-content-wrapper">
    <div class="page-content">

        <div class="portlet box blue">
			<div class="portlet-title">
					<div class="caption"> <i class="fa fa-gift"></i>Add Sites</div>
					<div class="tools">
						<a href="" class="collapse"> </a>
						<a href="#portlet-config" data-toggle="modal" class="config"> </a>
						<a href="" class="reload"> </a>
						<a href="" class="remove"> </a>
					</div>
			</div>

            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal" id="addSiteForm" name="form" ng-submit="submitForm(form.$valid)" novalidate >
                    <div class="form-body">
						<div class="form-group" ng-class="{true:'has-error'}[form.state_id.$invalid && !form.state_id.$pristine]">
                            <label class="col-md-3 control-label">Country Name (*)</label>
								<div class="col-md-4">
									<select type="text" class="form-control" name="country_id" ng-model="country_id" ng-change="getClusters()" required>
										<option value="{{state.state_id}}" ng-repeat="state in states">{{state.state_name}}</option>
									</select>
								</div>
						</div>
						<div class="form-group" ng-class="{true:'has-error'}[form.state_id.$invalid && !form.state_id.$pristine]">
                            <label class="col-md-3 control-label">State Name (*)</label>
								<div class="col-md-4">
									<select type="text" class="form-control" name="state_id" ng-model="state_id" ng-change="getClusters()" required>
										<option value="{{state.state_id}}" ng-repeat="state in states">{{state.state_name}}</option>
									</select>
								</div>
						</div>
                        <div class="form-group" ng-show="state_id" ng-class="{true:'has-error'}[form.cluster_name.$invalid && !form.cluster_name.$pristine]">
                            <label class="col-md-3 control-label">Cluster Name (*)</label>
                            <div class="col-md-4">
                                <select name="cluster_name" type="text"  class="form-control" ng-model="cluster_name" placeholder="Cluster Name" required>
                                    <option ng-repeat="cluster in clusters" value="{{cluster.cluster_id}}">{{cluster.cluster_name}}</option>
                                </select>

                            </div>
                        </div>
                        <div class="form-group" ng-class="{true:'has-error'}[form.site_name.$invalid && !form.site_name.$pristine]">
                            <label class="col-md-3 control-label">Site Name (*)</label>
                            <div class="col-md-4">
                                <input type="text"  ng-model="site_name" name="site_name" class="form-control" placeholder="Site Name" required>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{true:'has-error'}[form.site_code.$invalid && !form.site_code.$pristine]">
                            <label class="col-md-3 control-label">Site Code (*)</label>
                            <div class="col-md-4">
                                <input type="text"  ng-model="site_code" name="site_code" class="form-control" placeholder="Site Code" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Num of Poles</label>
                            <div class="col-md-4">
                                <input type="text"  ng-model="num_of_poles" name="num_of_poles" class="form-control" placeholder="Num. of Poles">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">X</label>
                            <div class="col-md-4">
                            <input ng-model="x" type="text" name="x" class="form-control" placeholder="X Value"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Y</label>
                            <div class="col-md-4">
                            <input ng-model="y" type="text" name="y" class="form-control" placeholder="Y Value"/>
                            </div>
                        </div>
                   
						<div class="form-group" ng-class="{true:'has-error'}[form.site_code.$invalid && !form.site_code.$pristine]">
                            <label class="col-md-3 control-label">Solar Capacity (*)</label>
                            <div class="col-md-4">
                                <input type="text"  ng-model="solar_capicity" name="solar_capicity" class="form-control" placeholder="Solar Capacity" required>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{true:'has-error'}[form.site_code.$invalid && !form.site_code.$pristine]">
                            <label class="col-md-3 control-label">Biomass Capacity (*)</label>
                            <div class="col-md-4">
                                <input type="text"  ng-model="biomass_capicity" name="biomass_capicity" class="form-control" placeholder="Biomass Capacity" required>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{true:'has-error'}[form.site_code.$invalid && !form.site_code.$pristine]">
                            <label class="col-md-3 control-label">Installer Make (*)</label>
                            <div class="col-md-4">
                                <input type="text"  ng-model="biomass_capicity" name="biomass_capicity" class="form-control" placeholder="Installer Make" required>
                            </div>
                        </div>
						<div class="form-group" ng-class="{true:'has-error'}[form.site_code.$invalid && !form.site_code.$pristine]">
                            <label class="col-md-3 control-label">Battery (*)</label>
                            <div class="col-md-4">
                                <input type="text"  ng-model="biomass_capicity" name="biomass_capicity" class="form-control" placeholder="Battery" required>
                            </div>
                        </div>
						<div class="form-group" ng-class="{true:'has-error'}[form.site_code.$invalid && !form.site_code.$pristine]">
                            <label class="col-md-3 control-label">Battery Make (*)</label>
                            <div class="col-md-4">
                                <input type="text"  ng-model="biomass_capicity" name="biomass_capicity" class="form-control" placeholder="Battery Make" required>
                            </div>
                        </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" id="showtoast" ng-disabled="form.$invalid" class="btn btn-circle blue">Submit</button>

                            </div>
                        </div>
                    </div>	



                </form>
                <!-- END FORM-->
            </div> </div>
        </div>
        <!-- <form class="form-horizontal" role="form" ng-submit="addSite()">
                                                        <div class="form-group">
                                                                <label for="inputEmail12" class="col-md-2 control-label">Site Id</label>
                                                                <div class="col-md-4">
                                                                        <div class="input-icon right">
                                                                                <i class="fa "></i>
                                                                                <input type="text" ng-model="site_id" class="form-control" id="inputEmail12" placeholder="Site Id">
                                                                        </div>
                                                                </div>
                                                        </div>
                                                        <div class="form-group">
                                                                <label for="inputPassword1" class="col-md-2 control-label">Site Name</label>
                                                                <div class="col-md-4">
                                                                        <div class="input-icon right">
                                                                                <i class="fa fa-user"></i>
                                                                                <input type="text" ng-model="site_name" class="form-control" id="inputPassword1" placeholder="Site Name">
                                                                        </div>
                                                                        
                                                                </div>
                                                        </div>
                                                        <div class="form-group">
                                                                <div class="col-md-offset-2 col-md-4">
                                                                        
                                                                </div>
                                                        </div>
                                                        <div class="form-group">
                                                                <div class="col-md-offset-2 col-md-10">
                                                                        <button type="submit" class="btn green">Add Site</button>
                                                                </div>
                                                        </div>
                                                </form> -->
        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        Widget settings form goes here
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn blue">Save changes</button>
                        <button type="button" class="btn default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE HEAD -->
        <!-- <div class="page-head">
        <!-- BEGIN PAGE TITLE -->

        <!-- END PAGE HEAD -->
        <!-- BEGIN PAGE BREADCRUMB -->
        <!-- <ul class="page-breadcrumb breadcrumb">
                <li>
                        <a href="index.html">Home</a>
                        <i class="fa fa-circle"></i>
                </li>
                <li>
                        <a href="#">Data Tables</a>
                        <i class="fa fa-circle"></i>
                </li>
                <li>
                        <a href="#">Basic Datatables</a>
                </li>
        </ul> -->
        <!-- END PAGE BREADCRUMB -->
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->



        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN CONDENSED TABLE PORTLET-->
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-picture"></i>All Sites
                        </div>
                        <!-- <div class="tools">
                                <a href="javascript:;" class="collapse" data-original-title="" title="">
                                </a>
                                <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title="">
                                </a>
                                <a href="javascript:;" class="reload" data-original-title="" title="">
                                </a>
                                <a href="javascript:;" class="remove" data-original-title="" title="">
                                </a>
                        </div> -->
                    </div>
                    <div class="portlet-body">
                        <div class="table-scrollable">
                            <table class="table table-condensed table-hover">
                                <thead>
                                    <tr>
										<th>
                                            State Name
                                        </th>
                                        <th>
                                            Cluster Name
                                        </th>
                                        <th>
                                            Site Name
                                        </th>
                                        <th>
                                            Site Code
                                        </th>
                                        <th>
                                            Num of Poles
                                        </th>
                                        <th>
                                            Site Status
                                        </th>
                                        <th>
                                            X
                                        </th>
                                        <th>
                                            Y
                                        </th>
                                        <th>
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr ng-repeat="site in sites|filter:siteSearchQuery">
                                    	<td>
                                                {{site.state_name}} 
                                        </td>
                                        <td>
                                                {{site.cluster_name}}
                                        </td>
                                        <td>
                                            {{site.site_name}}
                                        </td>
                                        <td>
                                            {{site.site_code}}
                                        </td>
                                        <td>
                                            {{site.num_of_poles}}
                                        </td>
                                        <td>
                                            {{site.site_status}}
                                        </td>
                                        <td>
                                            {{site.x || 'NA'}}
                                        </td>
                                        <td>
                                            {{site.y  || 'NA'}}
                                        </td>
                                        <!-- <td class="hidden-xs">
                                                <a href="void:0" ng-click="updateSite(site.site_id)" class="btn default btn-xs purple">
                                                <i class="fa fa-edit"></i> Edit </a>
                                                <a href="#basic" ng-click="deleteSite(site.site_id)" class="btn default btn-xs black">
                                                <i class="fa fa-trash-o"></i> Delete </a>
                                        </td> -->
                                        <td>
                                        <span ng-repeat="subMenu in subMenus" ng-if="subMenu == 'Edit Permission for site'">
                                            <a ng-click="editSite(site)" class="btn default btn-xs purple"><i class="fa fa-edit"></i></a>
                                           </span> 
                                           <span ng-repeat="subMenu in subMenus" ng-if="subMenu == 'Delete Permission for site'">
                                            <a  ng-click="deleteSite(site)" class="btn default btn-xs black">
                                                <i class="fa fa-trash-o"></i>  </a>
                                           </span>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END CONDENSED TABLE PORTLET-->
            </div>


        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>

