/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/
.scrollable-dropdown{
    height:auto;
    max-height:200px;
    overflow-x:hidden;
}
.loading-spiner-holder{
    height:40000px;
    width:100%;
    background:#fff !important;
    position:absolute;
    z-index:9999999;
    opacity:0.7;

}
.loading-spiner {
    color: #fff !important;
    height:10%;
    width:10%;
    position:fixed;
    z-index:10000;
    left:45%;
    top:45%;
    margin:0 auto!important;
}