<script type="text/ng-template" id="editUserRole.html">
    <div class="modal-header">
    	<h3 class="modal-title">Edit User Role</h3>
    </div>
	<form name="editform" ng-submit="ok(editform.$valid)" novalidate>
    <div class="modal-body">
	<div class="form-group" ng-class="{true:'has-error'}[editform.user_role.$invalid && !editform.user_role.$pristine]">
    <label for="type">User Role</label>
    <input ng-model="selectedUserRole.user_role" name="user_role" type="textbox" class="form-control"  placeholder="User Role" required/>
    </div>
	<div class="form-group" ng-class="{true:'has-error'}[editform.state_id.$invalid && !editform.state_id.$pristine]">
		<label>Select States </label>
		<select id="editState" class="select2" style="width:100%"  ng-model="selectedUserRole.state_id" ng-change="getClusters()" multiple required>
			<option value="{{state.state_id}}" ng-repeat="state in states">{{state.state_name}}</option>
	    </select>
	</div>
	<div class="form-group"  ng-class="{true:'has-error'}[editform.cluster_id.$invalid && !editform.cluster_id.$pristine]">
		<label>Select clusters </label>
		<select id="editCluster" class="select2" style="width:100%"  ng-model="selectedUserRole.cluster_id" ng-change="getSites()"  multiple required>
			<option ng-repeat="cluster in clusters" value="{{cluster.cluster_id}}" >{{cluster.cluster_name}}</option>
		</select>
	</div>
    <div class="form-group" ng-class="{true:'has-error'}[editform.site_id.$invalid && !editform.site_id.$pristine]">
		<label>Select Sites </label>
		<select id="editSite" class="select2" style="width:100%"  ng-model="selectedUserRole.site_id"   multiple required>
			<optgroup ng-repeat="cluster in clusters" value="{{cluster.cluster_id}}"  label="{{cluster.cluster_name}}" >
				<option value="{{site.site_id}}" ng-repeat="site in sites" ng-if="cluster.cluster_id==site.cluster_id">{{site.site_name}}</option>
			</optgroup>
		</select>
		
	</div>
<div class="form-group" ng-class="{true:'has-error'}[editform.menu_id.$invalid && !editform.menu_id.$pristine]">
		<label>Select Menu </label>
		<select id="editMenu" class="select2" style="width:100%"  ng-model="selectedUserRole.menu_id" ng-change="getMenues()"  multiple required>
			<option value="{{menu.menu_id}}" ng-repeat="menu in menus">{{menu.menu_desc}}</option>
		</select>
	</div>
<div class="form-group" ng-class="{true:'has-error'}[editform.subMenu_id.$invalid && !editform.subMenu_id.$pristine]">
		<label>Select SubMenu </label>
		<select id="editSubMenu" class="select2" style="width:100%"  ng-model="selectedUserRole.subMenu_id" ng-change="getChildMenues()"  multiple required>
		<optgroup ng-repeat="menu in menus" value="{{menu.menu_id}}"  label="{{menu.menu_desc}}" >			
		<option value="{{subMenu.menu_id}}" ng-repeat="subMenu in subMenus" ng-if="menu.menu_id==subMenu.parent_menu">{{subMenu.menu_desc}}</option>
		</optgroup>
		</select>
	</div>

<div class="form-group" ng-class="{true:'has-error'}[editform.childMenu_id.$invalid && !editform.childMenu_id.$pristine]">
		<label>Select childMenu </label>
		<select id="editchildMenu" class="select2" style="width:100%"  ng-model="selectedUserRole.childMenu_id"  multiple required>
		<optgroup ng-repeat="subMenu in subMenus" value="{{subMenu.menu_id}}"  label="{{subMenu.menu_desc}}" >			
		<option value="{{childMenu.menu_id}}" ng-repeat="childMenu in childMenus" ng-if="subMenu.menu_id==childMenu.parent_menu">{{childMenu.menu_desc}}</option>
		</optgroup>
		</select>
	</div>

	</div>
	</div>
    </form>
    <div class="modal-footer">
    <button id="saveButton" class="btn btn-primary" ng-click="ok()" ng-disabled="editform.$invalid" >Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
 </div>
</script>
 
<script type="text/ng-template" id="deleteUserRole.html">
    <div class="modal-header">
    <h3 class="modal-title">Are You Sure to Delete</h3>
    </div>
    <div class="modal-footer">
    <button class="btn btn-primary" ng-click="confirm()">Confirm Delete</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<div class="page-content-wrapper">
    <div class="page-content">

        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Add User Role
                </div>
                <div class="inputs">
                    <div class="portlet-input input-small input-inline">
                        <div class="input-icon right">
                            <i class="icon-magnifier"></i>
                            <input type="text" class="form-control form-control-solid ng-pristine ng-valid" placeholder="Search Role" ng-model="roleSearchQuery">
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal" id="addUserRoleForm" name="form" ng-submit="submitForm(form.$valid)" novalidate >
                    <div class="form-body">
                    	<div class=" form-group" ng-class="{true:'has-error'}[form.user_role.$invalid && !form.user_role.$pristine]">
                            <label class="col-md-3 control-label">User Role (*)</label>
                            <div class="col-md-4">
                                <input type="text" id="userRole" class="form-control input-circle" name="user_role" ng-model="user_role" placeholder="User Role" required>

                            </div>
                        </div>
                        	<div class="form-group" ng-class="{true:'has-error'}[form.state_id.$invalid && !form.state_id.$pristine]">
							<label class="control-label col-md-3">Select States (*)</label>
								<div class="col-md-4">
									<select id="Multiple_State"  class="select2" style="width:100%" ng-model="state_id" ng-change="getClusters()" multiple required>
										<option value="{{state.state_id}}" ng-repeat="state in states">{{state.state_name}}</option>
	                                </select>
								</div>
							</div>
							<div class="form-group" ng-class="{true:'has-error'}[form.cluster_id.$invalid && !form.cluster_id.$pristine]">
							<label class="control-label col-md-3">Select clusters (*)</label>
								<div class="col-md-4">
									<select id="Multiple_Cluster" class="select2" style="width:100%" ng-model="cluster_id" ng-change="getSites()"  multiple required>
										<option ng-repeat="cluster in clusters" value="{{cluster.cluster_id}}" >{{cluster.cluster_name}}</option>
									</select>
								</div>
							</div>
                       		<div class="form-group" ng-class="{true:'has-error'}[form.site_id.$invalid && !form.site_id.$pristine]">
							<label class="control-label col-md-3">Select Sites (*)</label>
								<div class="col-md-4">
								<select id="Multiple_Site" class="select2" ng-model="site_id" style="width:100%"  multiple required>
										<optgroup ng-repeat="cluster in clusters" value="{{cluster.cluster_id}}"  label="{{cluster.cluster_name}}" >
											<option value="{{site.site_id}}" ng-repeat="site in sites" ng-if="cluster.cluster_id==site.cluster_id">{{site.site_name}}</option>
										</optgroup>
								</select>
									<!-- <select id="Multiple_Site" class="select2" ng-model="site_id"  multiple required>
										<option value="{{site.site_id}}" ng-repeat="site in sites">{{site.site_name}}</option>
									</select> -->
								</div>
							</div>
							
							<div class="form-group" ng-class="{true:'has-error'}[form.menu_id.$invalid && !form.menu_id.$pristine]">
							<label class="control-label col-md-3">Select Menu (*)</label>
								<div class="col-md-4">
									<select id="Multiple_Menu"  class="select2" style="width:100%" ng-model="menu_id" ng-change="getMenues()"  multiple required>
										<option ng-repeat="menu in menus" value="{{menu.menu_id}}" >{{menu.menu_desc}}</option>
									</select>
								</div>
							</div>
                       		<div class="form-group" ng-class="{true:'has-error'}[form.subMenu_id.$invalid && !form.subMenu_id.$pristine]">
							<label class="control-label col-md-3">Select SubMenu (*)</label>
								<div class="col-md-4">
									<select id="Multiple_subMenu"  class="select2" style="width:100%" ng-model="subMenu_id" ng-change="getsubMenues()"  multiple required>
										<optgroup ng-repeat="menu in menus" value="{{menu.menu_id}}"  label="{{menu.menu_desc}}" >
										<option value="{{subMenu.menu_id}}" ng-repeat="subMenu in subMenus" ng-if="menu.menu_id==subMenu.parent_menu">{{subMenu.menu_desc}}</option>
										</optgroup>
									
									</select>
								</div>
							</div>
							<div class="form-group" ng-show="subMenu_id" ng-class="{true:'has-error'}[form.childMenu_id.$invalid && !form.childMenu_id.$pristine]">
							<label class="control-label col-md-3">Select ChildMenu (*)</label>
								<div class="col-md-4">
									<select id="Multiple_childMenu"  class="select2" style="width:100%" ng-model="childMenu_id"  multiple >
										<optgroup ng-repeat="subMenu in subMenus" value="{{subMenu.menu_id}}"  label="{{subMenu.menu_desc}}" >
										<option value="{{childMenu.menu_id}}" ng-repeat="childMenu in childMenus" ng-if="subMenu.menu_id==childMenu.parent_menu">{{childMenu.menu_desc}}</option>
										</optgroup>
									
									</select>
								</div>
							</div>
							
                    </div>	
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" ng-disabled="form.$invalid" class="btn btn-circle blue">Submit</button>

                            </div>
                        </div>
                    </div>	



                </form>
                <!-- END FORM-->
            </div>
        </div>
        
        <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        Widget settings form goes here
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn blue">Save changes</button>
                        <button type="button" class="btn default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN CONDENSED TABLE PORTLET-->
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-picture"></i>All User Role
                        </div>
                       
                    </div>
                    <div class="portlet-body">
                        <div class="table-scrollable table-scrollable-borderless">
                            <table class="table table-hover table-light">
                                <thead>
                                    <tr>
										 <th>
                                            User Role
                                        </th>
                                         <th>
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr ng-repeat="userRole in userRoles | filter:roleSearchQuery">

										<td class="hidden-xs">
                                            {{userRole.user_role}}
                                        </td>
                                     
                                        <td>
                                            <a ng-click="editUserRole(userRole)" class="btn default btn-xs purple"><i class="fa fa-edit"></i></a>
                                            <a ng-click="deleteUserRole(userRole)" class="btn default btn-xs black">
                                                <i class="fa fa-trash-o"></i>  </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
		  </div>
  	 </div>
</div>
<script type="text/javascript">
$(document).ready(function() {   
	 
    // initiate layout and plugins
  //  ComponentsDropdowns.init();
	 $('#Multiple_State').select2({
         placeholder: "Select States",
         allowClear: true,
     });
	 $('#Multiple_Cluster').select2({
         placeholder: "Select Clusters",
         allowClear: true,
     });
	 $('#Multiple_Site').select2({
         placeholder: "Select Sites",
         allowClear: true,
         closeOnSelect:false
     });
	 $('#Multiple_Menu').select2({
         placeholder: "Select Menu",
         allowClear: true,
     });
	 $('#Multiple_subMenu').select2({
         placeholder: "Select SubMenu",
         selectableOptgroup: true,
         allowClear: true,
         closeOnSelect:false
     });
     $('#Multiple_childMenu').select2({
         placeholder: "Select ChildMenu",
         selectableOptgroup: true,
         allowClear: true,
         closeOnSelect:false
     });
});
</script>