<?php if ($this->hasMessage): ?>
    <div class="row">
        <div class="col-sm-6">
            <div class="alert alert-block alert-<?php echo $this->messageType ?> fade in">
                <button data-dismiss="alert" class="close close-sm" type="button">
                    <i class="fa fa-times"></i>
                </button>
                <?php if ($this->messageType == "danger"): ?>
                    <strong>Oh snap!</strong>
                <?php elseif ($this->messageType == "success"): ?>
                    <strong>Well done!</strong>
                <?php elseif ($this->messageType == "info"): ?>
                    <strong>Heads up!</strong>
                <?php elseif ($this->messageType == "warning"): ?>
                    <strong>Warning!</strong>
                <?php endif; ?>
                <?php echo $this->message; ?>
            </div>
        </div>
    </div>
<?php endif; ?>
<div class="row">
    <div class="col-sm-6">
        <section class="panel">
            <header class="panel-heading">
                Change Password
            </header>
            <div class="panel-body">
                <div class="position-left">
                    <form class="" action="#" role="form" method="post">
                        <div class="form-group">
                            <label for="old_password">Old Password</label>
                            <input type="password" name="old_password" class="form-control" id="old_password" placeholder="Old Password" required/>
                        </div>
                        <div class="form-group">
                            <label for="password">New Password</label>
                            <input type="password" name="pass" class="form-control" id="pass" placeholder="New Password" required/>
                        </div>
                        <div class="form-group">
                            <label for="cpassword">Confirm New Password</label>
                            <input type="password" name="cpass" class="form-control" id="cpass" placeholder="Confirm New Password" required/>
                        </div>
                        <input type="hidden" name="request_type" value="change_password"/>
                        <button type="submit" class="btn btn-success">Update</button>
                    </form>
                </div>
            </div>
        </section>  
    </div>


    <div class="col-sm-6">
        <section class="panel">
            <header class="panel-heading">
                Primary Email for System Messages
            </header>
            <div class="panel-body">
                <div class="position-left">
                    <form class="" action="<?php echo $this->baseUrl(); ?>/Settings" role="form" method="post">
                        <div class="form-group">
                            <label for="email">Enter Email Address</label>
                            <input type="textbox" name="system_email" class="form-control" id="email" placeholder="Enter Email" required value="<?php echo $this->sysEmail; ?>"/>
                        </div>
                        <input type="hidden" name="request_type" value="update"/>
                        <button type="submit" class="btn btn-success">Update</button>
                    </form>
                </div>
            </div>
            <!--
            <header class="panel-heading">
                  Penalty/Discount Amount Setting
              </header>
              <div class="panel-body">
                  <div class="position-left">
                      <form class="" role="form" method="post">
                       <div class="form-group">
                          <label for="penalty_amount">Penalty Amount</label>
                          <div class="input-group">
                              <div class="input-group-addon">Rs.</div>
                              <input type="textbox" name="penalty_amount" class="form-control" id="penalty_amount" placeholder="Penalty Amount" required value="<?php echo $this->penaltyAmount; ?>"/>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="discount_amount">Discount Amount</label>
                          <div class="input-group">
                              <div class="input-group-addon">Rs.</div>
                              <input type="textbox" name="discount_amount" class="form-control" id="discount_amount" placeholder="Discount Amount" required value="<?php echo $this->discountAmount; ?>"/>
                          </div>
                      </div>
                          
                      <input type="hidden" name="request_type" value="update"/>
                      <button type="submit" class="btn btn-success">Update</button>
                  </form>
                  </div>
              </div>-->
        </section>  
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <section class="panel">
            <header class="panel-heading">
                <p class="pull-left">Daily Automatic Backups</p>
                <button type="button" class="btn btn-primary pull-right input-sm" id="add-more-fields"><i class="fa fa-plus"></i> Add More Fields</button>
                <div class="clearfix"></div>

            </header>
            <div class="panel-body">
                <form class="" action="#" role="form" method="post">
                    <div class="position-left">
                        <div class="form-group">
                            Send backup files to following emails : <input type="checkbox" id="change-color-switch" checked="" data-on="default" data-off="primary">
                        </div>    
                        <div class="emails">
                            <?php foreach ($this->backupEmails as $email): ?> 
                                <div class="form-group">
                                    <label class="sr-only" for="backup_email">Enter Backup Email</label>
                                    <input type="textbox" name="backup_email[]" class="form-control" id="backup_email" placeholder="Enter Backup Email" required value="<?php echo $email->__get("setting_value"); ?>"/>
                                    <input type="hidden" name="setting_id[]" value="<?php echo $email->__get("setting_id"); ?>"/>
                                </div>
                            <?php endforeach; ?>
                        </div>
                        <input type="hidden" name="request_type" value="backup-emails"/>
                        <button type="submit" class="btn btn-success">Update</button>
                    </div>
                </form>
            </div>
        </section>  
        <!-- <div class="target-sell"></div>-->
    </div>
    <div class="col-sm-6">
        <section class="panel">
            <header class="panel-heading">
                Export Backup File
            </header>
            <div class="panel-body">
                <div class="position-left">
                    <form class="" action="#" role="form" method="post">
                        <div class="form-group">
                            <div id="download-link"></div>
                            Create and export a backup file of website's database instantly.
                        </div>    
                        <input type="hidden" name="request_type" value="export"/>
                        <button type="button" id="generate-backup" class="btn btn-success pull-right">Export</button>
                    </form>
                </div>
            </div>
            <header class="panel-heading">
                Import Backup File
            </header>
            <div class="panel-body">
                <div class="position-left">
                    <div class="alert alert-block alert-danger fade in">
                        <p>
                            Be very careful while using this feature.<br/>
                            DO NOT ATTEMPT THIS UNTIL YOU KNOW WHAT YOU ARE DOING.<br/><br/>
                            This will replace ALL data & cannot be undone.


                        </p>
                    </div>
                    <form class="" role="form" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="request_type" value="import"/>
                        <input type="file" name="backup_file"/>
                        <button type="submit" class="btn btn-success pull-right">Import</button>
                        <div class="pull-left">
                            <input name="import-backup" type="checkbox" id="change-color-switch" data-on="default" data-off="primary"> Yes, I know what I am doing.
                        </div>
                    </form>
                </div>
            </div>
        </section>  
        <!-- <div class="target-sell"></div>-->
    </div>
</div>


<div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="exportModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Confirm Deletion</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this?
            </div>
            <div class="modal-footer">
                <form method="post">
                    <input type="hidden" name="id" class="id" value="0"/>
                    <input type="hidden" name="request_type" value="delete"/>
                    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                    <button class="btn btn-danger" type="submit"> Confirm</button>
                </form>
            </div>
        </div>
    </div>
</div>

