<script type="text/ng-template" id="editConsumer.html">
    <div class="modal-header">
    <h3 class="modal-title">Edit Consumer</h3>
    </div>
    <div class="modal-body">
 

    <!--<div class="form-group" ng-if="selectedConsumer.consumer_status!='banned'">
    <label for="amount">Package Name</label>
	 <select ng-options="package as package.package_name for package in packages" ng-change="changePackage()" type="text" id="package_id"  class="form-control input-circle" ng-model="selectedPackage" placeholder="Package Name"></select>
    </div>-->
 
<div class="form-group" ng-if="selectedConsumer.consumer_status!='banned'">
    <label class="control-label">Package Type (*)</label>
    <select type="text" class="form-control input-circle" ng-change="loadEditPackage()" name="package_type" ng-model="selectedConsumer.package_type" placeholder="Package Type" required disabled>
        <option  value="0" selected="selected" >Prepaid</option>
        <option  value="1">Postpaid</option>
         <option value="2">Mix Mode</option>
    </select>
    
</div>
    
    <div class="form-group" >
    <label for="amount">Package Name</label>
     <select id="editPackage" class="select2" ng-model="selectedPackage" style="width:100%" placeholder="Package Name" ng-change="changePackage()" multiple disabled>
    	 <option ng-repeat="package in packages" value="{{package.package_id}}">{{package.package_name}}</option>
    </select>

	 <!--<select ng-options="package as package.package_name for package in packages" ng-change="changePackage()" type="text"  class="form-control input-circle" ng-model="selectedPackage" placeholder="Package Name"></select>
    --></div>

    <div class="form-group" ng-if="selectedPackage_type >0" ng-if="selectedConsumer.consumer_status!='banned'">
    <label for="amount">Package Name</label>
     <select ng-options="package as package.package_name for package in packages" ng-change="changePackage()" type="text"  class="form-control input-circle" ng-model="selectedPackage" placeholder="Package Name" disabled></select>
   </div>
 
    <div class='form-group' ng-show="meter_reading">
        <label for="amount">Meter Reading </label>
        <input type="number" class="form-control" name="meter_start_reading" ng-model="selectedConsumer.meter_start_reading" placeholder="Meter Reading" >
    </div>
    <div class="form-group">
    <label for="amount">Site Name</label>
    
    <select ng-options="site as site.site_name for site in sites" ng-change="changeSite()" type="text"  class="form-control input-circle" ng-model="selectedSite" placeholder="Site Name" disabled></select>
    </div>
    <div class="form-group"> 
    <label for="amount">Master Meter</label>
   <!-- <select ng-options="meter as meter.meter_keyword for meter in meters"  type="text"  class="form-control input-circle" ng-model="selectedConsumer.selectedMeter" placeholder="Master Meter" required disabled></select>
     <select  ng-model="selectedConsumer.selectedMeter" class="form-control input-circle" multiple="multiple" ft-select2 placeholder="Master Meter" required >
		    <option value="{{meter.id}}" ng-repeat="meter in meters" >{{meter.meter_keyword}}</option>
	 </select>-->
     <select id="editMM" class="select2" style="width:100%"  ng-model="selectedConsumer.selectedMeter"   multiple disabled>
			<option value="{{meter.id}}" ng-repeat="meter in meters">{{meter.meter_keyword}}</option>
	    </select>
    </div>
    
    <div class="form-group">
        <label for="amount">Connection ID</label>
        <input ng-model="selectedConsumer.consumer_connection_id" type="textbox" name="consumer_connection_id" class="form-control" id="consumer_connection_id" placeholder="Consumer's Connection ID" required />
    </div>
    <div class="form-group">
        <label for="amount">Consumer's Mobile Number</label>
        <input ng-model="selectedConsumer.consumer_code" ng-minlength="10" ng-maxlength="10" type="textbox" name="consumer_code" class="form-control" id="consumer_code" placeholder="Mobile Number" required />
    </div>
    <div class="form-group">
    <label for="amount">Consumer's Name</label>
    <input ng-model="selectedConsumer.consumer_name" type="textbox" name="consumer_name" class="form-control" id="consumer_name" placeholder="Consumer's Name" required />
    </div>
    <div class="form-group">
    <label for="amount">Consumer's Father's Name</label>
    <input ng-model="selectedConsumer.consumer_father_name" type="textbox" name="consumer_father_name" class="form-control" id="consumer_father_name" placeholder="Father's Name" required />
    </div>
    <div class="form-group">
    <label for="amount">Act Date</label>
    <input ng-model="selectedConsumer.consumer_act_date" type="textbox" name="consumer_act_date" class="form-control" id="consumer_act_date" placeholder="Activation Date" required />
    </div>
    <div class="form-group">
    <label>Act Charge</label>
    <input ng-model="selectedConsumer.consumer_act_charge" type="textbox" name="consumer_act_charge" class="form-control" id="consumer_act_charge" placeholder="Activation Charge" />
    </div>
    <div class="form-group">
        <label for="amount">Credit Limit</label>
        <input ng-model="selectedConsumer.credit_limit" type="textbox" name="consumer_credit_limit" class="form-control" id="credit_limit" placeholder="Credit Limit" required />
    </div>
<div class="form-group">
        <label for="amount">Wallet Bal</label>
        <input ng-model="selectedConsumer.wallet_bal" type="textbox" name="wallet_bal" class="form-control" id="wallet_bal" placeholder="Wallet Bal" />
    </div>
    <div class="form-group">
    <label for="amount">Status</label>
    <select class="form-control" ng-model="selectedConsumer.consumer_status">
    <option value="new">new</option>
    <option value="active">active</option>
    <option value="banned">banned</option>
    </select>
    </div>
   <!-- <div class="form-group">
    <label for="amount">Suspension Date</label>
    <input ng-model="selectedConsumer.suspension_date" type="textbox" name="suspension_date" class="form-control" id="suspension_date" placeholder="Suspension Date" required/>
    </div>-->
	
   
    
    <div class="form-group">
	<!-- <label for="enterpise_type">Flat unit Charge</label>
    <input ng-model="selectedConsumer.enterprise_type" type="checkbox" name="enterpise_type" class="form-control" id="enterpise_type" style="margin-left: -272px;
    height: 19px;" placeholder="Micro Enterpise Price" ng-true-value="FlatUnit" ng-false-value="Scheme"  ng-checked="(enterprise_type_val)?true:false;" />
	-->

    <label for="amount">Schemes</label>
	<select  ng-model="selectedConsumer.consumer_scheme" ng-change="changeType(selectedConsumer.consumer_scheme)" type="textbox" name="consumer_scheme" class="form-control" id="scheme" placeholder="" required>
		<option value="0"  ng-selected="{{selectedConsumer.enterprise_type == 'FlatUnit'}}">FlatUnit</option>
 		 <option value="{{scheme_name.scheme_id}}" ng-repeat="scheme_name in schemes" ng-selected="{{scheme_name.scheme_id == selectedConsumer.consumer_scheme}}">{{scheme_name.scheme}}</option>
   </select>
 </div>
	<div id="microPrice" style="display:{{enterprise_display}}">
    <label for="amount">Micro Enterprise</label>
    <input ng-model="selectedConsumer.micro_entrprise_price" type="textbox" name="micro_entrprise_price" class="form-control" id="micro_entrprise_price" placeholder="Micro Enterpise Price" required disabled/>
   </div>
	<div class="form-group">
	<input type="text" style="display:none" ng-model="selectedConsumer.consumer_scheme_id"  name="consumer_scheme_id" class="form-control" id="consumer_scheme_id"/>
</div>
 
    <div class="form-group">
    <label for="type_of_me">Type of Consumer</label>
    <!--<select ng-model="selectedConsumer.type_of_me" type="textbox" name="type_of_me" class="form-control" id="type_of_me" ng-change="changeMeType(selectedConsumer.type_of_me)"  required disabled>
		<option value="HH Basic">HH Basic</option>
		<option value="HH Advanced">HH Advanced</option>
		<option value="Shops Basic">Shops Basic</option>
		<option value="Shops Advanced">Shops Advanced</option>
		<option value="Commercial- Appliance (Existing)">Commercial- Appliance (Existing)</option>
		<option value="Commercial- Appliance (New)">Commercial- Appliance (New)</option>
		<option value="Commercial- Motor">Commercial- Motor</option>
		<option value="New Micro-enterprise">New Micro-enterprise</option>
		<option value="CDKN - DGO" >CDKN - DGO</option>
		<option value="Institutional Load (Existing)">Institutional Load (Existing)</option>
		<option value="Institutional Load (New)">Institutional Load (New)</option>
		<option value="Telecom Tower">Telecom Tower</option>

	</select>-->
	<select type="text" class="form-control input-circle" name="type_of_me" ng-model="selectedConsumer.type_of_me" placeholder="Type of Consumers" disabled>
             <option value="{{consumerType.consumer_type_id}}" ng-repeat="consumerType in consumerTypes" >{{consumerType.consumer_type_name}}</option>
    </select>
    </div>
    <div class="form-group">
    <label for="notes">Notes</label>
    <input ng-model="selectedConsumer.notes" type="textbox" name="notes" class="form-control" id="notes" placeholder="Notes" required/>
    </div>
	<div class='form-group'>
    <label for="smsOptIn">SMS Opt In</label>
    <input type="checkbox" name="smsOptIn" ng-model="selectedConsumer.smsOptIn">
    </div>
    </div>
    <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="deleteConsumer.html">
    <div class="modal-header">
    <h3 class="modal-title">Are You Sure to Delete</h3>
    </div>
    <div class="modal-footer">
    <button class="btn btn-primary" ng-click="confirm()">Confirm Delete</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
<script type="text/ng-template" id="welcomeModal.html">
    <div class="modal-header">
    <h3 class="modal-title">Send welcome message?</h3>
    </div>
    <div class="modal-footer">
    <button class="btn btn-primary" ng-click="confirm()">Yes</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="wattage.html">
    <div class="modal-header">
    	<h4><b>Package Name = {{package_name}}</b></h4>
		<h4><b>Wattage = {{wattage_name}}</b></h4>
		<h4 class="modal-title"><b>You have salect these details for this consumer.</b></h4>
		
    </div>
    <div class="modal-footer">
		<button class="btn btn-primary" ng-click="agree()">Agree</button>
    	<button class="btn btn-warning" ng-click="disagree()">Disagree</button>
    </div>
</script>
<style>
    .ng-dirty.ng-invalid-required{
        border: 1px solid red;
    }
    
    .ng-dirty.ng-valid-required{
    border: 1px solid  #78FA89;
}
</style>

<div class="row">
 
   <div class="page-content-wrapper">
        <div class="page-content">
      <div class="col-md-12">
	  <div class="btn-group" dropdown>
				<button type="button" class="btn green-jungle dropdown-toggle" dropdown-toggle ng-disabled="disabled">
					{{selected_site.site_name}} <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu" style="overflow-x: hidden;max-height: 200px;">
					<li ng-repeat="site in sites"><a ng-click="selectSite(site);updateConsumers();">{{site.site_name }}</a></li>
				</ul>
			</div>
   <div style="float:right" ng-repeat="subMenu in subMenus" ng-if="subMenu == 'Add Consumer'">
   	<a  data-toggle="tooltip" data-placement="top" title="Add Consumers" class="btn default btn-xs blue"  value="Add Consumer" ng-click="showAddConsumer()" >
   		<i class="glyphicon glyphicon-plus"></i></a>
   </div>
    </div>
   
    <div class="col-md-12">
            <!-- <div ng-repeat="subMenu in subMenus" ng-if="subMenu == 'Manage Consumers'"> -->
            <div ng-show="addConsumers">
            <div class="portlet light" >
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Add Consumer
                    </div>
                </div>
                <div class="portlet-body form" >
                    
                    <form id="addConsumerForm" name="consumer" method="post" style="border:none;" class="horizontal-form"  ng-submit="submitForm(consumer.$valid)" novalidate >
                        <div class="form-body">
                          <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Select Site (*)</label>
                                        <select type="text" class="form-control input-circle" name="site_id" ng-model="site_id" ng-change="getSiteCode()" placeholder="Site Id" required>
                                            <option value="{{site.site_id}}" ng-repeat="site in sites">{{site.site_name}}</option>
                                        </select>
                                        
                                         <span style="color:red" ng-show="consumer.site_id.$dirty">
                                            <span ng-show="consumer.site_id.$error.required">Site Id Is required.</span>
                                        </span>
                                    </div>
                                </div> 
                           <!--     <div class='col-md-2' style=" margin-top: 29px;">
                                    <div class='form-group'>
                                        <label class="control-label">Auto Generated Id</label>
                                       	<input type="checkbox" name="isAutoGenerated" ng-model="isAutoGenerated" >
                                       
                                    </div>
                                    
                                </div> -->
                                 <div class='col-md-3'>
                                    <div class="form-group"s>
                                        <label class="control-label" >Pole No (*) &nbsp;&nbsp;</label>
                                        <strong><span id="siteCode"></span></strong> 
										<input type="text" class="form-control input-circle" name="poleNo" id="pole_no" ng-model="pole_no" placeholder="Pole no" required maxlength="3">
									<!-- <input type="text" class="form-control input-circle" name="conectionNo" id="conectionNo" ng-model="conectionNo" placeholder="Conection No" required  > -->
                                     
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Consumer's Name (*)</label>
                                        <input type="text" class="form-control input-circle" name="consumer_name" ng-model="consumer_name" placeholder="Consumer's Name" required>
                                    <span style="color:red" ng-show="consumer.consumer_name.$dirty">
                                            <span ng-show="consumer.consumer_name.$error.required">Consumer Name Id Is required.</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Consumer's Father's Name (*)</label>
                                        <input type="text" class="form-control input-circle" name="consumer_father_name" ng-model="consumer_father_name" placeholder="Father's Name" required>
                                         <span style="color:red" ng-show="consumer.consumer_father_name.$dirty">
                                            <span ng-show="consumer.consumer_father_name.$error.required">Consumer Father Name Id Is required.</span>
                                        </span>
                                    </div>
                                </div>
                             </div>
                             
                            <div class="row">
                            	
                            	<div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Package Type (*)</label>
                                        <select type="text" class="form-control input-circle"   name="package_type" ng-model="package_type" ng-change="loadPackage()" placeholder="Package Type" required>
                                            <option value="0" selected="selected" >Prepaid</option>
 											<option  value="1">Postpaid</option>
                                            <option  value="2">Mix Mode</option>
                                        </select>
                                        <span style="color:red" ng-show="consumer.package_id.$dirty">
                                            <span ng-show="consumer.package_id.$error.required">Package Id Is required.</span>
                                        </span>
                                    </div>
                                </div>
 
                                <div class='col-md-3'>
                                    <div class="form-group">
                                        <label class="control-label">Select Package (*)</label>
                                        <select id="Multiple_Package"  class="select2" style="width:100%" name="package_id" ng-model="package_id" ng-change="loadPackageCost()" placeholder="Package Id"  multiple>
                                            <option ng-repeat="package in packages" value="{{package.package_id}}">{{package.package_name}}</option>
                                        </select>
                                       
                                    </div>
                                </div>
 
                                 <div class="col-md-3" ng-show="package_cost_val==0">
                                    <div class="form-group">
                                        <label class="control-label">Package Cost (*)</label>
                                        <input type="text" class="form-control input-circle" name="price" ng-model="price" placeholder="Package Cost" >
                                    <span style="color:red" ng-show="price.$dirty">
                                            <span ng-show="price.$error.required">Price Is required.</span>
                                        </span>
                                    </div>
                                </div>
                                <div class='col-md-3' ng-show="showMicroPrice">
                                    <div class='form-group'>
                                        <label class="control-label">Price/Unit (*)</label>
                                        <input type="text" type="number" class="form-control input-circle" name="micro_entrprise_price" ng-model="micro_entrprise_price" placeholder="Enterprise Price" required>
                                     <span style="color:red" ng-show="consumer.micro_entrprise_price.$dirty">
                                            <span ng-show="consumer.micro_entrprise_price.$error.required">Price is required.</span>
                                        </span>
                                    </div>
                                </div>
                                <div class='col-md-3' ng-show="package_type!=0">
                                    <div class='form-group'>
                                        <label class="control-label">Meter Reading (*)</label>
                                        <input type="text" type="number" class="form-control input-circle" name="meter_start_reading" ng-model="meter_start_reading" placeholder="Meter Start Reading" required>
                                     <span style="color:red" ng-show="consumer.meter_start_reading.$dirty">
                                            <span ng-show="consumer.meter_start_reading.$error.required">Start Reading is required.</span>
                                        </span>
                                    </div> 
                                </div>
                                
                                <div class='col-md-3' ng-show="showMMPrice  && package_cost_val==0">
                                    <div class='form-group'>
                                        <label class="control-label">Unit (*)</label>
                                        <input type="text" type="number" class="form-control input-circle" name="unit" ng-model="unit" placeholder="Unit" required>
                                     <span style="color:red" ng-show="consumer.unit.$dirty">
                                            <span ng-show="consumer.unit.$error.required">Unit is required.</span>
                                        </span>
                                    </div>
                                </div>
                                <div class='col-md-3' ng-show="showMMPrice  && package_cost_val==0">
                                    <div class='form-group'>
                                        <label class="control-label">Extra Charges (*)</label>
                                        <input type="text" type="number" class="form-control input-circle" name="charges" ng-model="charges" placeholder="Extra Charges" required>
                                     <span style="color:red" ng-show="consumer.charges.$dirty">
                                            <span ng-show="consumer.charges.$error.required">Extra Charges is required.</span>
                                        </span>
                                    </div>
                                </div>
                                
                               <!--<div class="col-md-3" ng-if="package_type >0">
 
                               <div class="col-md-3" >
 
                                    <div class="form-group">
                                        <label class="control-label">Select Package (*)</label>
                                        <select type="text"  class="form-control input-circle" name="package_id" ng-model="package_id" placeholder="Package Id" required>
                                            <option ng-repeat="package in packages" value="{{package.package_id}}">{{package.package_name}}</option>
                                        </select>
                                         
                                        <span style="color:red" ng-show="consumer.package_id.$dirty">
                                            <span ng-show="consumer.package_id.$error.required">Package Id Is required.</span>
                                        </span>
                                    </div>
                                </div>
                                 <!--<div class="col-md-3" ng-show="package_type ==0">
                                    <div class="form-group">
                                        <label class="control-label">Select Package (*)</label>
                                        <select type="text"  style="width:100%"  class="select2" name="package_id" ng-model="package_id" placeholder="Package Id"   required>
                                            <option ng-repeat="package in packages" value="{{package.package_id}}">{{package.package_name}}</option>
                                        </select>
                                        <span style="color:red" ng-show="consumer.package_id.$dirty">
                                            <span ng-show="consumer.package_id.$error.required">Package Id Is required.</span>
                                        </span>
                                    </div>
 
                                </div>   
                                
 
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Consumer's Name (*)</label>
                                        <input type="text" class="form-control input-circle" name="consumer_name" ng-model="consumer_name" placeholder="Consumer's Name" required>
                                    <span style="color:red" ng-show="consumer.consumer_name.$dirty">
                                            <span ng-show="consumer.consumer_name.$error.required">Consumer Name Id Is required.</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Consumer's Father's Name (*)</label>
                                        <input type="text" class="form-control input-circle" name="consumer_father_name" ng-model="consumer_father_name" placeholder="Father's Name" required>
                                         <span style="color:red" ng-show="consumer.consumer_father_name.$dirty">
                                            <span ng-show="consumer.consumer_father_name.$error.required">Consumer Father Name Id Is required.</span>
                                        </span>
                                    </div>
                                </div>-->
 

                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Mobile Number (*)</label>
                                        <input type="number" class="form-control input-circle" name="consumer_code" ng-model="consumer_code" ng-minlength="10" ng-maxlength="10" placeholder="Mobile Number" required>
                                     <span style="color:red" ng-show="consumer.consumer_code.$dirty">
                                         <span ng-show="consumer.consumer_code.$error.required">Mobile Number  Is required.</span><br/>
                                         <span ng-show="consumer.consumer_code.$error.number">Mobile Number should be numeric.</span>
                                         <span ng-show="consumer.consumer_code.$error.minLength">Mobile Number should be 10 digits.</span>
                                         <span ng-show="consumer.consumer_code.$error.maxLength">Mobile Number should be 10 digits.</span>
                                        </span>
                                    </div>
                                </div>
                                  
                                <div class="col-md-3">
                                   <div class="form-group">
                                        <label class="control-label">Act Date  (*)</label>
                                        <input type="text" class="form-control input-circle" ng-model="consumer_act_date" id="datepicker" placeholder="Act Date (dd-mm-yyyy)" required>
                                    
                                    </div> 
                               
                                </div>
                                <!--<div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Act Charge  (*)</label>
                                        <input type="text" type="number" class="form-control input-circle" ng-model="consumer_act_charge" placeholder="Act Charge" required>
                                    </div>
                                </div>-->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Credit Limit (*)</label>
                                        <input ng-model="credit_limit" type="number" name="consumer_credit_limit" class="form-control input-circle" placeholder="Credit Limit" required>
                                    </div>
                                </div>
                                
                                 <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Discount Type for OTP</label>
                                        <select class="form-control input-circle" name="discount_type" ng-model="discount_type">
                                            <option value="0" ng-selected="otp==0" >No Discount</option>
 											<option  value="1">Flat Discount</option>
                                            <option  value="2">Percentage</option>
                                        </select>
                                    </div>
                                </div>
                               
                            </div>
							 <div class="row">
									<div class='col-md-3'>
										<div class="form-group" ng-show="site_id">
											<label class="control-label">Activation Charges</label>
										 <input type="text" class="form-control input-circle" name="act_charges" ng-model="act_charges" placeholder="Activation Charges" disabled>
											
										</div>
									</div>
									 <div class='col-md-3'>
										<div class="form-group" ng-show="site_id">
											<label class="control-label">Metered Charges</label>
											<input type="text" class="form-control input-circle" name="mtr_charges" ng-model="mtr_charges" placeholder="Activation Charges" disabled>
	 
										</div>
									</div>
									
									<div class="col-md-3" ng-show="discount_type==1 || discount_type==2">
										<div class="form-group">
											<label class="control-label">Discount for OTP</label>
											<input ng-model="discount" type="number" name="discount" class="form-control input-circle" placeholder="Discount">
										</div>
									</div>
								</div>
                            <!-- <div class="row">

                                <div class='col-md-3' ng-show="showMicroPrice">
                                    <div class='form-group'>
                                        <label class="control-label">Price/Unit (*)</label>
                                        <input type="text" type="number" class="form-control input-circle" name="micro_entrprise_price" ng-model="micro_entrprise_price" placeholder="Enterprise Price" >
                                     <span style="color:red" ng-show="consumer.micro_entrprise_price.$dirty">
                                            <span ng-show="consumer.micro_entrprise_price.$error.required">Price is required.</span>
                                        </span>
                                    </div>
                                </div>
                                <div class='col-md-3' ng-show="showMicroPrice">
                                    <div class='form-group'>
                                        <label class="control-label">Meter Reading (*)</label>
                                        <input type="text" type="number" class="form-control input-circle" name="meter_start_reading" ng-model="meter_start_reading" placeholder="Meter Start Reading" >
                                     <span style="color:red" ng-show="consumer.meter_start_reading.$dirty">
                                            <span ng-show="consumer.meter_start_reading.$error.required">Start Reading is required.</span>
                                        </span>
                                    </div>
                                </div>
                            </div>-->
							 <div class="row">

                                <div class='col-md-3'>
                                    <div class='form-group'>
                                        <label class="control-label">Type of Consumer (*)</label>
                                     <select type="text" class="form-control input-circle" name="consumer_type" ng-model="consumer_type" placeholder="Type of Consumers" >
                                            <option value="{{consumerType.consumer_type_id}}" ng-repeat="consumerType in consumerTypes" >{{consumerType.consumer_type_name}}</option>
                                        </select>
                                        
                                         <span style="color:red" ng-show="consumers.consumer_type.$dirty">
                                            <span ng-show="consumers.Consumer_type.$error.required">Consumer Type Is Required.</span>
                                        </span>
                                    </div>
                                </div>
                                <div class='col-md-3'>
                                    <div class='form-group'>
                                        <label class="control-label">Notes (*)</label>
                                        <textarea class="form-control input-circle" style="height:35px;" name="notes" ng-model="notes" placeholder="Notes" required> </textarea>
                                     <span style="color:red" ng-show="consumer.notes.$dirty">
                                            <span ng-show="consumer.notes.$error.required">Note is required.</span>
                                        </span>
                                    </div>
                                </div>
                                <div class='col-md-3'>
                                    <div class='form-group' ng-show="site_id">
                                        <label class="control-label">Master Meter (*)</label>
                                        <!--<select type="text" class="form-control input-circle" name="site_meter_id" ng-model="site_meter_id" ng-change="" placeholder="Master Meter" >
                                	<option selected="selected"></option>
									<option value="{{site_meter.id}}" ng-repeat="site_meter in site_meters">{{site_meter.meter_keyword}}</option>
                                </select>-->
                                 <select id="Multiple_MM"  class="select2" style="width:100%" name="site_meter_id" ng-model="site_meter_id" ng-change="" placeholder="Master Meter"  multiple required>
											<option value="{{site_meter.id}}" ng-repeat="site_meter in site_meters">{{site_meter.meter_keyword}}</option>
	                                </select>
							 
                                  <span ng-show="consumer.site_meters.$error.required">Master Meter is required.</span>
                                        </span>
                                    </div>
                                </div>
                                
                                 <div class="col-md-3">
                                    <div class="form-group" ng-show="site_id">
                                        <label class="control-label">Wattage (*)</label>
                                        <select type="text" class="form-control input-circle" name="wattage" ng-model="wattage" placeholder="Wattage" required>
                                            <option value="{{wattage.watt_id}}" ng-repeat="wattage in wattages">{{wattage.wattage}}</option>
                                        </select>
                                        
                                         <span style="color:red" ng-show="consumer.site_id.$dirty">
                                            <span ng-show="consumer.site_id.$error.required">Site Id Is required.</span>
                                        </span>
                                    </div>
                                </div> 
                            </div>
                            <!--  <div class="row">
                              <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Package Cost (*)</label>
                                        <input type="text" class="form-control input-circle" name="price" ng-model="price" placeholder="Price" required>
                                    <span style="color:red" ng-show="price.$dirty">
                                            <span ng-show="price.$error.required">Price Is required.</span>
                                        </span>
                                    </div>
                                </div>
                            </div>-->
                            
                            
                            
                           </div>

                          <div class="portlet light">
                        	<div class="portlet-title">
                            	<div class="caption">
                       				Money Collected
                   				</div>
                   			</div>
                   		   
                   		    <div class="form-body">
                             <div class="row">
                              <div class='col-md-3'>
                             		<div class="form-group" >
                                        <label class="control-label">Activation Amount</label>
                                        <input type="number" class="form-control input-circle" id="activation_Amount" name="activation_Amount" ng-model="activation_Amount" ng-required="!monthly_Amount" placeholder="Activation Amount">
                                  	</div>
                               </div>
                               <div class='col-md-3'>
                              		<div class="form-group">
                                     	<label class="control-label">Monthly Amount</label>
                                        <input type="number" class="form-control input-circle" id="monthly_Amount" name="monthly_Amount" ng-model="monthly_Amount" ng-required="!activation_Amount" placeholder="Monthly Amount">
                                    </div>
                             	</div>
								
								<div class='col-md-3'>
									<div class="form-group">
										<label class="control-label">Entry Status</label>
										<select type="text" class="form-control input-circle" id="entry_status" name="entry_status" ng-model="entry_status" >
												<option value="ACT">ACT</option>
												<option value="CHG">CHG</option>
												<option value="EED">EED</option>
												<option value="MED">MED</option>
												<option value="WATER">WATER</option>
												<option value="OTHERS">OTHERS</option>
												<option value="DISCOUNT">Credit Note</option>
										</select>
									</div>
								</div>
								
                                </div>
                                </div>
                          </div>
                         

                       

                        <div class="form-actions right">
                            <input type="submit" ng-disabled="consumer.$invalid" class="btn btn-circle blue" value="Submit">
                        </div>
                    </form>
                </div>
            </div></div>
        </div>

            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            Widget settings form goes here
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn blue">Save changes</button>
                            <button type="button" class="btn default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <!-- BEGIN PAGE HEADER-->
            <!-- BEGIN PAGE HEAD -->
            <!-- <div class="page-head">
            <!-- BEGIN PAGE TITLE -->

            <!-- END PAGE HEAD -->
            <!-- BEGIN PAGE BREADCRUMB -->
            <!-- <ul class="page-breadcrumb breadcrumb">
                    <li>
                            <a href="index.html">Home</a>
                            <i class="fa fa-circle"></i>
                    </li>
                    <li>
                            <a href="#">Data Tables</a>
                            <i class="fa fa-circle"></i>
                    </li>
                    <li>
                            <a href="#">Basic Datatables</a>
                    </li>
            </ul> -->
            <!-- END PAGE BREADCRUMB -->
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->

                <div class="col-md-12">
                    <!-- BEGIN CONDENSED TABLE PORTLET-->
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-picture"></i>Consumers for {{selected_site.site_name }} ({{consumers_count}} + {{new_consumer_count}}) ({{inactive_consumer_count}} Inactive) 
                            </div>
                            <div class="inputs">
                                <div class="portlet-input input-small input-inline">
                                    <div class="input-icon right">
                                        <i class="icon-magnifier"></i>
                                        <input type="text" class="form-control form-control-solid ng-pristine ng-valid" placeholder="Search Consumers" ng-model="consumerSearchQuery">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-scrollable table-scrollable-borderless">
                                <table class="table table-hover table-light">
                                    <thead>
                                        <tr>
                                            <th>
                                                Connection ID
                                            </th>
                                            <th>
                                                Consumer's Name
                                            </th>
                                            <th>
                                                Father's Name
                                            </th>
                                            <th>
                                                Package

                                            </th>
                                            <th>
                                                Act Date
                                            </th>
                                            <th>
                                                Act Charge
                                            </th>
                                            <th>
                                                Status
                                            </th>
                                            <th>
                                                Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody infinite-scroll="nextConsumersPage()" infinite-scroll-disabled='busy' infinite-scroll-distance="0">
                                        <tr ng-repeat="consumer in consumers| filter:consumerSearchQuery">
                                            <td>
                                                <a href="{{baseUrl}}/consumers/view/id/{{consumer.consumer_id}}" target="_blank">{{consumer.consumer_connection_id}}</a>
                                            </td>
                                            <td>
                                                {{consumer.consumer_name}}
                                            </td>
                                            <td>
                                                {{consumer.consumer_father_name}}
                                            </td>
                                            <td data-toggle="tooltip" data-placement="top" title="{{consumer.package_id}}">
                                                {{consumer.package_name}}
                                            </td>


                                            <td>
                                                {{consumer.consumer_act_date}}
                                            </td>
                                            <td>
                                                {{consumer.consumer_act_charge}}
                                            </td>
                                            <td>
                                                <span ng-class="{active:'label label-success',banned:'label label-danger',new:'label label-warning'
                                                    }
                                                    [consumer.consumer_status]">{{consumer.consumer_status}}</span>
                                            </td>


                                            <td>
                                            <span ng-repeat="subMenu in subMenus" ng-if="subMenu == 'Edit Permission for Consumer'">
                                                <a data-toggle="tooltip" data-placement="top" title="Edit Consumer" ng-click="editConsumer(consumer)" class="btn default btn-xs purple"><i class="fa fa-edit"></i></a>
                                                </span>
                                                <a data-toggle="tooltip" data-placement="top" title=" " ng-click="openWelcomeModal(consumer)" class="btn default btn-xs blue"><i class="fa fa-bullhorn"></i></a>
                                                
                                                <span ng-repeat="subMenu in subMenus" ng-if="subMenu == 'Delete Permission for Consumer'">
                                                <a data-toggle="tooltip" data-placement="top" title="Delete Consumer" ng-click="deleteConsumer(consumer)" class="btn default btn-xs black">
                                                    <i class="fa fa-trash-o"></i>  </a>
                                            </span>
                                        		<a data-toggle="tooltip" data-placement="top" title="Edit package for consumer" ng-click="editPackage(consumer)" class="btn default btn-xs blue"><i class="fa fa-exchange"></i></a>
                                             <a data-toggle="tooltip" data-placement="top" title="Banned Consumer" ng-click="banned(consumer)" class="btn default btn-xs red"><i class="fa fa-times"></i></a>
  
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- END CONDENSED TABLE PORTLET-->



            </div>
            <!-- END PAGE CONTENT-->
        </div>
    
    </div>
</div>
<script type="text/ng-template" id="editPackage.html">
 <div class="modal-header">
    <h3 class="modal-title"> Edit Package</h3>
    </div>

    <div class="modal-body">
     <table>

	<tr ng-repeat="item in packageData.items" ng-init="dataIndex = $index">

		<td>
			<div class="form-group" >
				<label for="amount">Current Package </label>
				<select type="text"  class="form-control input-circle" name="curr_package_id" ng-model="item.current_package" placeholder="Package Id" required disabled>
						 <option ng-repeat="package in curr_packages" value="{{package.package_id}}">{{package.package_name}}</option>
				</select>
			</div>
		</td>  

	 <td colspan="2">&nbsp; &nbsp;</td>

	  <td>
	 <div class="form-group">
		<label for="amount">Choose Package </label>
	<select type="text"  class="form-control input-circle" name="ch_package_id" ng-model="item.new_package" placeholder="Package Id" required>
			 <option ng-repeat="package in ch_packages" value="{{package.package_id}}">{{package.package_name}}</option>
	  </select>
	 </div>
	</td>  
<td colspan="2">&nbsp; &nbsp;</td>
<td>
	 <div class="form-group">
		<label for="amount">Meter Reading </label>
	  <input type="text" type="text" class="form-control input-circle" name="meter_reading" ng-model="item.meter_reading" ng-disabled="item.meter_reading=='Null'" placeholder="Meter Reading">
                                     
	 </div>
	</td> 
	<th>&nbsp;&nbsp;&nbsp;<a data-toggle="tooltip" data-placement="top" title="Remove Row" class="btn default btn-xs black" ng-click="deletePackage()"  ><i class="fa fa-trash-o"></i></a>
	</th>
	</tr>

   <th><a data-toggle="tooltip" data-placement="top" title="Add New Package" class="btn default btn-xs blue" ng-disabled="editforms.$invalid" value="Add New" ng-click="addNewPackage(editforms.$valid)" ><i class="glyphicon glyphicon-plus"></i></a></th>

<tr ng-repeat="item in newPackageData.items" ng-init="dataIndex = $index">
<td>
 <div class="form-group">
    <label for="amount">Assign New Package </label>
<select type="text"  class="form-control input-circle" name="add_new" ng-model="item.add_new" placeholder="Package Id" >
         <option ng-repeat="package in add_new" value="{{package.package_id}}">{{package.package_name}}</option>
  </select>
 </div>
</td>
<th>&nbsp;&nbsp;&nbsp;<a data-toggle="tooltip" data-placement="top" title="Remove Row" class="btn default btn-xs black" ng-click="removeNewRow(dataIndex)" ><i class="fa fa-trash-o"></i></a>
</th>
</tr>

</table>

 </div>

    <div class="modal-footer">
    	<button class="btn btn-primary" id="submit_button"   ng-click="save(true)">Save</button>
    	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
 
</script>

<script type="text/ng-template" id="banned.html">
 <div class="modal-header">
    <h3 class="modal-title">Banned Consumer</h3>
 </div>
 
 	<div class="modal-body">
 		<table>
			<tr border=1 ng-repeat="item in packageData.items" ng-init="dataIndex = $index">
				<td>
					<div class="form-group" >
						<label for="amount">Current Package </label>
						<select type="text"  class="form-control input-circle" name="curr_package_id" ng-model="item.current_package" placeholder="Package Id" required disabled>
							<option ng-repeat="package in curr_packages" value="{{package.package_id}}">{{package.package_name}}</option>
						</select>
					</div>
				</td>  
				<td colspan="2">&nbsp; &nbsp;</td>
				<td>
					<div class="form-group">
						<label for="amount">Meter Reading </label>
	  						<input type="text" type="text" class="form-control input-circle" name="meter_reading" ng-model="item.meter_reading" ng-disabled="item.meter_reading=='Null'" placeholder="Meter Reading">
                    </div>
				</td> 
				 
				<td colspan="2">&nbsp; &nbsp;</td>
				<td>
					<div class="form-group">
						<button class="btn btn-danger" style="margin-top: 24px;" ng-click="banned(item.current_package,item.meter_reading,item.remark,dataIndex)">Banned</button>      
	 				</div>
				</td> 
			</tr>
 		</table>
	</div>
 
</script>

<script type="text/ng-template" id="deletepackage.html">
    <div class="modal-header">
    <h3 class="modal-title">Are You Sure to Delete</h3>
    </div>
    <div class="modal-footer">
    <button class="btn btn-primary" ng-click="sure()">Confirm Delete</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>




<script type="text/javascript">
var MM_val=0;
$(document).ready(function() {
	 
	 $('#Multiple_MM').select2({
         placeholder: "Select Feedar",
         allowClear: true,
     }).on("select2-selecting", function( e ) {
    	 MM_val=e.val;
   	 });
		$('#Multiple_Package').select2({
        placeholder: "Select Package",
        allowClear: true,
    });
});
</script>