

<div class="page-content-wrapper">
    <div class="page-content">

        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Add Transaction
                </div>
                
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal" id="addEnterpriseForm" name="form" novalidate >
                    <div class="form-body">
                    	<div class=" form-group" ng-class="{true:'has-error'}[form.enterprise_scheme.$invalid && !form.enterprise_scheme.$pristine]">
                            <label class="col-md-3 control-label">Add Transaction (*)</label>
                            <div class="col-md-4">
                                <input type="file" class="form-control input-circle" name="addfile" file-model = "addfile" id="addfile">
 </div>
                        </div>
                       
                    </div>	
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                               <a ng-click="add()" class="btn btn-circle blue">submit</a>
                            </div>
                        </div>
                    </div>	



                </form>
                <!-- END FORM-->
            </div>
        </div>    
  	
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Update Transaction
                </div>
                
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal" id="addEnterpriseForm" name="form" novalidate >
                    <div class="form-body">
                    	<div class=" form-group" ng-class="{true:'has-error'}[form.enterprise_scheme.$invalid && !form.enterprise_scheme.$pristine]">
                            <label class="col-md-3 control-label">Update Transaction (*)</label>
                            <div class="col-md-4">
                               <input type="file" class="form-control input-circle" name="user_profile" file-model = "updatefile" id="user_profile">



                            </div>
                        </div>
                       
                    </div>	
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                            <a ng-click="update()" class="btn btn-circle blue">submit</a>
                            </div>
                        </div>
                    </div>	



                </form>
                <!-- END FORM-->
            </div>
        </div>
      
        
        
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Delete Transaction
                </div>
                
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal" id="addEnterpriseForm" name="form" novalidate >
                    <div class="form-body">`
                    	<div class=" form-group" ng-class="{true:'has-error'}[form.enterprise_scheme.$invalid && !form.enterprise_scheme.$pristine]">
                            <label class="col-md-3 control-label"> Delete Transaction (*)</label>
                            <div class="col-md-4">
                               <input type="file" class="form-control input-circle" name="user_profile" file-model = "deletefile" id="user_profile">



                            </div>
                        </div>
                       
                    </div>	
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <a ng-click="delete()" class="btn btn-circle blue">Submit</a>
   
   								 
                            
                           </div>
                        </div>
                    </div>	
                 
                </form>
                <!-- END FORM-->
                
                
                    </div>
        </div>
        
            <div class="portlet light">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-gift"></i>Inactive Transaction
					</div>
				</div>
				<div class="portlet-body form">
					<!-- BEGIN FORM-->
					<form class="form-horizontal" id="addEnterpriseForm" name="form" novalidate >
						<div class="form-body">`
							<div class=" form-group" ng-class="{true:'has-error'}[form.enterprise_scheme.$invalid && !form.enterprise_scheme.$pristine]">
								<label class="col-md-3 control-label"> Inactive Transaction (*)</label>
								<div class="col-md-4">
								   <input type="file" class="form-control input-circle" name="user_profile" file-model = "inactivefile" id="user_profile">



								</div>
							</div>
						   
					   </div>	
						<div class="form-actions">
							<div class="row">
								<div class="col-md-offset-3 col-md-9">
									<a ng-click="inactive()" class="btn btn-circle blue">Submit</a>
		 
							   </div>
							</div>
						</div>	
					 
					</form>
					<!-- END FORM-->
				</div>
			</div>
			
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-gift"></i>Upload Bank Statement
					</div>
				</div>
				<div class="portlet-body form">
					<form class="form-horizontal" id="bankStatementForm" name="form" ng-submit="bankStatement(form.$valid)" novalidate >
						<div class="form-body">`
							<div class=" form-group">
								<label class="col-md-3 control-label"> Bank Statement (*)</label>
								<div class="col-md-4">
								   <input type="file" class="form-control input-circle" file-model = "bankStatementFile" required>
								</div>
							</div>
						</div>	
						<div class="form-actions">
							<div class="row">
								<div class="col-md-offset-3 col-md-9">
									<button type="submit" ng-disabled="form.$invalid" class="btn btn-circle blue">Submit</button>
								</div>
							</div>
						</div>	
					</form>
				</div>
			</div>
        
  	</div>
</div>



