 <style>
	.graphHover:hover {
		-ms-transform: scale(1.5); /* IE 9 */
		-ms-transform: all 200ms ease-in;
		-webkit-transform: scale(1.5); /* Safari 3-8 */
		-webkit-transition: all 200ms ease-in;
		-moz-transition: all 200ms ease-in;
		-moz-transform: scale(1.5);
		transition: all 200ms ease-in;
		transform: scale(1.5);
		
		width: 100%;
		z-index: 1000;
		position: relative;
		float: center;  
		margin-left:40%
	} 
	.graphHover
	{
		-webkit-transition: all 500ms ease-in;
		-webkit-transform: scale(1); 
		-ms-transition: all 200ms ease-in;
		-ms-transform: scale(1); 
		-moz-transition: all 200ms ease-in;
		-moz-transform: scale(1);
		transition: all 200ms ease-in;
		transform: scale(1);   

	}
	
	.graphHoverright:hover {
		-ms-transform: scale(1.5); /* IE 9 */
		-ms-transform: all 200ms ease-in;
		-webkit-transform: scale(1.5); /* Safari 3-8 */
		-webkit-transition: all 200ms ease-in;
		-moz-transition: all 200ms ease-in;
		-moz-transform: scale(1.5);
		transition: all 200ms ease-in;
		transform: scale(1.5);
		
		width: 100%;
		z-index: 1000;
		position: relative;
		float: center;  
		margin-left:-70%
	} 
	.graphHoverright
	{
		-webkit-transition: all 500ms ease-in;
		-webkit-transform: scale(1); 
		-ms-transition: all 200ms ease-in;
		-ms-transform: scale(1); 
		-moz-transition: all 200ms ease-in;
		-moz-transform: scale(1);
		transition: all 200ms ease-in;
		transform: scale(1);   

	}
 </style>
<div class="page-content-wrapper">
		<div class="page-content">
			 
			<div class="page-head">
				 
				<div class="page-title">
					<h1>Dashboard <small>Plants statistics &amp; Graphs</small></h1>
				</div>
				 
			</div>      
                        <div class="row"> 
						<div class="col-md-12">
						<div class="dashboard-stat2 bordered" style="background-color:lavenderblush;padding: 15px 15px 47px;">
							 
							<div class="col-md-2">
								<select id="Multiple_State_ds1"  class="select2" style="width:100%" name="ds_state_id" ng-model="ds_state_id" placeholder="States" ng-change="updateSites();widget();"  multiple>
									<option value="{{state.state_id}}" ng-repeat="state in states">{{state.state_name}}</option>
	                            </select>
	                        </div>   
							<div class="col-md-2">								 
	                            <select id="Multiple_Site_ds1"  class="select2" style="width:100%" name="ds_site_id" ng-model="ds_site_id" ng-change="updateFeederMppt();widget();" placeholder="Sites"  multiple>
									<option value="{{site.site_id}}" ng-repeat="site in sites">{{site.site_name}}</option>
	                            </select>
							</div>
							<div class="col-md-2">
								<select id="Multiple_mppt"  class="select2" style="width:100%" name="mppt_id" ng-model="mppt_id" placeholder="Mppts" ng-change="widget();"  multiple>
									<option value="{{allMppt.id}}" ng-repeat="allMppt in allMppts">{{allMppt.mppt_keyword}} ({{allMppt.description}})</option>
								</select>
							</div>   
							<div class="col-md-3">								
								<select id="Multiple_feeder"  class="select2" style="width:100%" name="feeder_id" ng-model="feeder_id" placeholder="Feeders" ng-change="widget();" multiple>
									<option value="{{allFeeder.id}}" ng-repeat="allFeeder in allFeeders">{{allFeeder.meter_keyword}} ({{allFeeder.feeder_type}}) ({{allFeeder.description}})</option>
								</select>
							</div>
							<div class="col-md-3">								
								<div id="reportrange" class="btn btn-success" >
									<i class="fa fa-calendar"></i> &nbsp;
									<span id="dateRange"> </span>
									<b class="fa fa-angle-down" ></b>
								</div>
							</div>
							
                          </div>
							</div>    
                        </div>
						 
		 
						<div class="row">
							<div class="col-md-3">
								<div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
									<h4 class="widget-thumb-heading">Standard Generation(PV)</h4>
									<div class="widget-thumb-wrap">
										<i class="widget-thumb-icon bg-green icon-bulb"></i>
										<div class="widget-thumb-body">
											<span class="widget-thumb-subtitle">Unit</span>
											<span class="widget-thumb-body-stat" data-counter="counterup">{{plantWidget.gen_standard.toLocaleString('en-IN')}}</span>
										</div>
									</div>
								</div> 
							</div>
							<div class="col-md-3">
								<div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
									<h4 class="widget-thumb-heading">Benchmark Generation(PV)</h4>
									<div class="widget-thumb-wrap">
										<i class="widget-thumb-icon bg-green icon-bulb"></i>
										<div class="widget-thumb-body">
											<span class="widget-thumb-subtitle">Unit</span>
											<span class="widget-thumb-body-stat" data-counter="counterup">{{plantWidget.gen_target.toLocaleString('en-IN')}}</span>
										</div>
									</div>
								</div>
							</div>
							
							 <div class="col-md-3">
                             
                            <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
                                <h4 class="widget-thumb-heading">Active Hours</h4>
                                <div class="widget-thumb-wrap">
                                    <i class="widget-thumb-icon bg-yellow icon-screen-desktop"></i>
                                    <div class="widget-thumb-body">
                                        <span class="widget-thumb-subtitle">Hour</span>
                                        <span class="widget-thumb-body-stat" data-counter="counterup">{{plantWidget.up.toLocaleString('en-IN')}}</span>
                                    </div>
                                </div>
                            </div>
                          
                        </div>
                        <div class="col-md-3">
                            
                            <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
                                <h4 class="widget-thumb-heading">Inactive Hours</h4>
                                <div class="widget-thumb-wrap">
                                    <i class="widget-thumb-icon bg-yellow icon-screen-desktop"></i>
                                    <div class="widget-thumb-body">
                                        <span class="widget-thumb-subtitle">Hour</span>
                                        <span class="widget-thumb-body-stat" data-counter="counterup">{{plantWidget.down.toLocaleString('en-IN')}}</span>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
							
							 
						</div> 
					  
					   <div class="row">
							<div class="col-md-3">
								<div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
									<h4 class="widget-thumb-heading">Total Generation</h4>
									<div class="widget-thumb-wrap">
										<i class="widget-thumb-icon bg-green icon-bulb"></i>
										<div class="widget-thumb-body">
											<span class="widget-thumb-subtitle">Unit</span>
											<span class="widget-thumb-body-stat" data-counter="counterup">{{plantWidget.mppt.toLocaleString('en-IN')}}</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
									<h4 class="widget-thumb-heading">PV Generation</h4>
									<div class="widget-thumb-wrap">
										<i class="widget-thumb-icon bg-green icon-bulb"></i>
										<div class="widget-thumb-body">
											<span class="widget-thumb-subtitle">Unit</span>
											<span class="widget-thumb-body-stat" data-counter="counterup">{{plantWidget.PV.toLocaleString('en-IN')}}</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
									<h4 class="widget-thumb-heading">DG Generation</h4>
									<div class="widget-thumb-wrap">
										<i class="widget-thumb-icon bg-green icon-bulb"></i>
										<div class="widget-thumb-body">
											<span class="widget-thumb-subtitle">Unit</span>
											<span class="widget-thumb-body-stat" data-counter="counterup">{{plantWidget.DG.toLocaleString('en-IN')}}</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
									<h4 class="widget-thumb-heading">BIOGAS Generation</h4>
									<div class="widget-thumb-wrap">
										<i class="widget-thumb-icon bg-green icon-bulb"></i>
										<div class="widget-thumb-body">
											<span class="widget-thumb-subtitle">Unit</span>
											<span class="widget-thumb-body-stat" data-counter="counterup">{{plantWidget.BIOGAS.toLocaleString('en-IN')}}</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					  
  					    <div class="row">
							<div class="col-md-3">
								<div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
									<h4 class="widget-thumb-heading">Total Consumption</h4>
									<div class="widget-thumb-wrap">
										<i class="widget-thumb-icon bg-red icon-bulb"></i>
										<div class="widget-thumb-body">
											<span class="widget-thumb-subtitle">Unit</span>
											<span class="widget-thumb-body-stat" data-counter="counterup">{{plantWidget.feeder.toLocaleString('en-IN')}}</span>
										</div>
									</div>
								</div>
                            </div>
							
							<div class="col-md-3">
								<div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
									<h4 class="widget-thumb-heading">PV Consumption</h4>
									<div class="widget-thumb-wrap">
										<i class="widget-thumb-icon bg-red icon-bulb"></i>
										<div class="widget-thumb-body">
											<span class="widget-thumb-subtitle">Unit</span>
											<span class="widget-thumb-body-stat" data-counter="counterup">{{plantWidget.con_pv.toLocaleString('en-IN')}}</span>
										</div>
									</div>
								</div>
                            </div>
							
							<div class="col-md-3">
								<div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
									<h4 class="widget-thumb-heading">DG Consumption</h4>
									<div class="widget-thumb-wrap">
										<i class="widget-thumb-icon bg-red icon-bulb"></i>
										<div class="widget-thumb-body">
											<span class="widget-thumb-subtitle">Unit</span>
											<span class="widget-thumb-body-stat" data-counter="counterup">{{plantWidget.con_dg.toLocaleString('en-IN')}}</span>
										</div>
									</div>
								</div>
                            </div>
							
							<div class="col-md-3">
								<div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
									<h4 class="widget-thumb-heading">BIOGAS Consumption</h4>
									<div class="widget-thumb-wrap">
										<i class="widget-thumb-icon bg-red icon-bulb"></i>
										<div class="widget-thumb-body">
											<span class="widget-thumb-subtitle">Unit</span>
											<span class="widget-thumb-body-stat" data-counter="counterup">{{plantWidget.con_bio.toLocaleString('en-IN')}}</span>
										</div>
									</div>
								</div>
                            </div>
						</div>
			  
						<div class="row">
							<div class="col-md-3">
								<div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
									<h4 class="widget-thumb-heading">Total Sold</h4>
									<div class="widget-thumb-wrap">
										<i class="widget-thumb-icon bg-red icon-bulb"></i>
										<div class="widget-thumb-body">
											<span class="widget-thumb-subtitle">Unit</span>
											<span class="widget-thumb-body-stat" data-counter="counterup">{{plantWidget.unit_sold.toLocaleString('en-IN')}}</span>
										</div>
									</div>
								</div>
                            </div>
							
							<div class="col-md-3">
								<div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
									<h4 class="widget-thumb-heading">PV Sold</h4>
									<div class="widget-thumb-wrap">
										<i class="widget-thumb-icon bg-red icon-bulb"></i>
										<div class="widget-thumb-body">
											<span class="widget-thumb-subtitle">Unit</span>
											<span class="widget-thumb-body-stat" data-counter="counterup">{{plantWidget.sold_pv.toLocaleString('en-IN')}}</span>
										</div>
									</div>
								</div>
                            </div>
							
							<div class="col-md-3">
								<div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
									<h4 class="widget-thumb-heading">DG Sold</h4>
									<div class="widget-thumb-wrap">
										<i class="widget-thumb-icon bg-red icon-bulb"></i>
										<div class="widget-thumb-body">
											<span class="widget-thumb-subtitle">Unit</span>
											<span class="widget-thumb-body-stat" data-counter="counterup">{{plantWidget.sold_dg.toLocaleString('en-IN')}}</span>
										</div>
									</div>
								</div>
                            </div>
							
							<div class="col-md-3">
								<div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
									<h4 class="widget-thumb-heading">BIOGAS Sold</h4>
									<div class="widget-thumb-wrap">
										<i class="widget-thumb-icon bg-red icon-bulb"></i>
										<div class="widget-thumb-body">
											<span class="widget-thumb-subtitle">Unit</span>
											<span class="widget-thumb-body-stat" data-counter="counterup">{{plantWidget.sold_bio.toLocaleString('en-IN')}}</span>
										</div>
									</div>
								</div>
                            </div>
						</div>
						 
				 <div class="row"> 
              	 	 <div class="col-md-4">
                          
                            <div class="portlet light portlet-fit bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-layers font-red"></i>
                                        <span class="caption-subject font-red sbold uppercase">Generation</span>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                 <div class="table-scrollable table-scrollable-borderless">
                                   
                                    <table class="table table-hover table-light" fixed-header style="height: 385px;">
                                        <thead>
                                            <tr class="uppercase" >
                                            	<th> MPPTs </th>
                                            	<th data-placement="top" title='{{lastdate_first}} to {{lastdate_second}}' > Last Year Range </th>
                                           		<th data-placement="top" title="{{last_date_widget}} to {{current_date_widget}}" > Current range </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="mppt in mppts">
                                                 <td> {{mppt.mppt_name}}</td>
                                                 <td> {{mppt.last_year_unit.toLocaleString('en-IN')}}</td>
                                                 <td> {{mppt.curr_year_unit.toLocaleString('en-IN')}}</td>
                                            </tr>
                                             <tr ng-repeat="mppt in mpptothers">
                                                 <td> {{mppt.mppt_name}}</td>
                                                 <td> {{mppt.last_year_unit.toLocaleString('en-IN')}}</td>
                                                 <td> {{mppt.curr_year_unit.toLocaleString('en-IN')}}</td>
                                            </tr>
                                        </tbody>
                                    </table></div>
                                    <div class="alert alert-danger"  ng-show="mppts.length<=0" ><b>No Details found.</b></div>
                                </div>
                            </div>
                            
                        </div>
                         <div class="col-md-4">
                          
                            <div class="portlet light portlet-fit bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-layers font-red"></i>
                                        <span class="caption-subject font-red sbold uppercase">Consumption</span>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                 <div class="table-scrollable table-scrollable-borderless">
                                   
                                    <table class="table table-hover table-light" fixed-header style="height: 385px;">
                                        <thead>
                                            <tr class="uppercase">
                                            	<th> Feeders </th>
                                            	<th data-placement="top" title="{{lastdate_first}} to {{lastdate_second}}"> Last Year Range  </th>
                                           		<th data-placement="top" title="{{last_date_widget}} to {{current_date_widget}}" > Current range </th>
                                            </tr>
                                        </thead> 
                                        <tbody>
                                            <tr ng-repeat="feeeder in feeders">
                                                 <td> {{feeeder.meter_name}}</td>
                                                 <td> {{feeeder.last_year_unit.toLocaleString('en-IN')}}</td>
                                                 <td> {{feeeder.curr_year_unit.toLocaleString('en-IN')}}</td>
                                            </tr>
                                        </tbody>
                                    </table></div>
                                    <div class="alert alert-danger" ng-show="feeders.length<=0"><b>No New Consumer found.</b></div>
                                </div>
                            </div>
                            
                        </div>
                        
                      
                         <div class="col-md-4">
                          
                            <div class="portlet light portlet-fit bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-layers font-red"></i>
                                        <span class="caption-subject font-red sbold uppercase">Plant Dynamics</span>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                	<div class="table-scrollable table-scrollable-borderless">
                                        <table class="table table-hover table-light" fixed-header  style="height: 350px;"> 
                                         <thead>
                                        <tr><h5 class="font-blue-steel">
                                            <span data-counter="counterup"><b>PV Capacity : {{plantWidget.Solar_panel_kw}} kw</b></span>
                                        	</h5>
                                        </tr>
                                       <tr> <h5 class="font-blue-steel">
                                            <span data-counter="counterup"><b>Battery Capacity : {{plantWidget.Battery_no_v}} Ah</b></span>
                                          </h5></tr>
                                       <tr> <h5 class="font-blue-steel">
                                            <span data-counter="counterup"><b>DG Capacity : {{plantWidget.dg_capacity}} KVA</b></span>
                                        </h5></tr>
                                       <tr> <h5 class="font-blue-steel">
                                            <span data-counter="counterup"><b>Bio Gas Capacity : {{plantWidget.bio_capacity}} KVA</b></span>
                                        </h5></tr>
										 <tr> <h5 class="font-blue-steel">
                                            <span data-counter="counterup"><b>Panels # : {{plantWidget.Solar_panel_no}}</b></span>
                                        </h5></tr>
										<tr><h5 class="font-blue-steel">
                                            <span data-counter="counterup"><b>Array Capacity : {{plantWidget.array_capacity}} kw</b></span>
                                        </h5></tr>
										<tr><h5 class="font-blue-steel">
                                            <span data-counter="counterup"><b>Array # : {{plantWidget.array_no}}</b></span>
                                        </h5></tr>
										 <tr><h5 class="font-blue-steel">
                                            <span data-counter="counterup"><b>Battery Bank Capacity : 600 Ah</b></span>
                                        </h5></tr>
										
										 <tr><h5 class="font-blue-steel">
                                            <span data-counter="counterup"><b>Battery Bank # : {{plantWidget.Battery_no}}</b></span>
                                        </h5></tr>
										
										<tr><h5 class="font-blue-steel"> 
                                            <span data-counter="counterup"><b>Inverter # : {{plantWidget.Inverter_no}}</b></span>
                                        </h5></tr>
                                        <tr><h5 class="font-blue-steel">
                                            <span data-counter="counterup"><b>MPPT # : {{plantWidget.Charges_controller_no}}</b></span>
                                        </h5></tr>
                                        
										<hr>
										
										<tr><h5 class="font-red-haze">
                                            <span data-counter="counterup"><b>Standard Radiation : {{plantWidget.radiation}} kwh/m<sup>2</sup>/day</b></span>
                                        </h5></tr> 
                                        <tr><h5 class="font-red-haze">
                                            <span data-counter="counterup"><b>Benchmark Radiation : {{plantWidget.site_target}} kwh/m<sup>2</sup>/day</b></span>
                                        </h5></tr>
                                        <tr><h5 class="font-red-haze">
                                            <span data-counter="counterup"><b>Standard Generation : {{plantWidget.plant_duration}}</b></span> 
                                        </h5></tr>
                                       <tr> <h5 class="font-red-haze">
                                            <span data-counter="counterup"><b>Benchmark Generation : {{plantWidget.plant_target}}</b></span>
                                        </h5></tr> 
										<tr><h5 class="font-red-haze">
                                            <span data-counter="counterup"><b>Day-Night Factor : {{plantWidget.day_factor}} - {{plantWidget.night_factor}}</b></span>
                                        </h5></tr>
                                         </thead></table>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
             </div>
              
              <div class="row"> 
              	<!--<div class="col-md-4">
             		<div class="portlet light portlet-fit bordered">
	                    <div class="portlet-title">
                       		<div class="caption">
                            	<i class="icon-layers font-red"></i>
                              	<span class="caption-subject font-red sbold uppercase">Unit Sold</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                        	<div class="table-scrollable table-scrollable-borderless">
                            	<h5 class="font-blue-steel">
                                	<span data-counter="counterup"><b>Prepaid : {{plantWidget.prepaidUnit.toLocaleString('en-IN')}}</b></span>
                           		</h5>
                                <h5 class="font-red-haze">
                                	<span data-counter="counterup"><b>Postpaid : {{plantWidget.postpaidUnit.toLocaleString('en-IN')}}</b></span>
                               	</h5>
								<h5 class="font-blue-steel">
                                	<span data-counter="counterup"><b>Total : {{plantWidget.total.toLocaleString('en-IN')}}</b></span>
                                </h5>
                           	</div>
                    	</div>
                     </div>
                  </div>-->
                  <div class="col-md-4">
             		<div class="portlet light portlet-fit bordered">
	                    <div class="portlet-title">
                       		<div class="caption">
                            	<i class="icon-layers font-red"></i>
                              	<span class="caption-subject font-red sbold uppercase">Customer Complaints</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                        	<div class="table-scrollable table-scrollable-borderless">
                            	<h5 class="font-blue-steel">
                                	<span data-counter="counterup"><b>Reported : {{plantWidget.com_rcv.toLocaleString('en-IN')}}</b></span>
                           		</h5>
                                <h5 class="font-blue-steel">
                                	<span data-counter="counterup"><b>Resolved  : {{plantWidget.com_closing.toLocaleString('en-IN')}}</b></span>
                               	</h5>
								<h5 class="font-blue-steel">
                                	<span data-counter="counterup"><b>Open  : {{plantWidget.com_opening.toLocaleString('en-IN')}}</b></span>
                                </h5>
								<h5 class="font-white-haze" style='color: #ffffff;'>
                                	<span>.</span>
                               	</h5>
                           	</div>
                    	</div>
                     </div>
                  </div>
                  <div class="col-md-4">
             		<div class="portlet light portlet-fit bordered">
	                    <div class="portlet-title">
                       		<div class="caption">
                            	<i class="icon-layers font-red"></i>
                              	<span class="caption-subject font-red sbold uppercase">Feeder Load</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                        	<div class="table-scrollable table-scrollable-borderless">
                            	<h5 class="font-blue-steel">
                                	<span data-counter="counterup"><b>Day Load : {{plantWidget.dd_feeder.toLocaleString('en-IN')}} kwh</b></span>
                           		</h5>
                                <h5 class="font-blue-steel">
                                	<span data-counter="counterup"><b>Night Load  : {{plantWidget.nn_feeder.toLocaleString('en-IN')}} kwh</b></span>
                               	</h5>
								<h5 class="font-blue-steel">
                                	<span data-counter="counterup"><b>Day Load Avg : {{plantWidget.dd_feeder_avg.toLocaleString('en-IN')}} kwh</b></span>
                           		</h5>
                                <h5 class="font-blue-steel">
                                	<span data-counter="counterup"><b>Night Load Avg : {{plantWidget.nn_feeder_avg.toLocaleString('en-IN')}} kwh</b></span>
                               	</h5>
								
							</div>
                    	</div>
                     </div>
                  </div>
            </div>
				
				<div class="row"> 
					<div class="col-md-12">
						<div class="dashboard-stat2 bordered" style="background-color:lavenderblush;padding: 15px 15px 47px;">
							<div class="col-md-2">
								<select id="Multiple_State_graph"  class="select2" style="width:100%" name="graph_state_id" ng-model="graph_state_id" placeholder="States" ng-change="updateSitesgraph();checkFilter();"  multiple>
									<option value="{{state.state_id}}" ng-repeat="state in statesgraph">{{state.state_name}}</option>
								</select>
							</div>   
							<div class="col-md-3">								
								<select id="Multiple_Site_graph"  class="select2" style="width:100%" name="graph_site_id" ng-model="graph_site_id" ng-change="checkFilter();" placeholder="Sites"  multiple>
									<option value="{{site.site_id}}" ng-repeat="site in sitesgraph">{{site.site_name}}</option>
								</select>
							</div>
									
							<div class="col-md-2">
								<input type="checkbox" id="yearType" ng-model="yearType" checked ng-click="selectYearType();checkFilter();" data-toggle="toggle" data-on="Ready" data-off="Not Ready" data-onstyle="success" data-offstyle="primary">
							</div>
							<div class="col-md-2"> 
								<div class="btn-group" dropdown >
									<button type="button" class="btn btn-success dropdown-toggle" dropdown-toggle ng-disabled="disabled">
										{{selected_month}} <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li ng-repeat="month in months"><a ng-click="selectMonth(month);checkFilter();">{{month}}</a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-2">
								<div class="btn-group" dropdown >
									<button type="button" class="btn btn-success dropdown-toggle" dropdown-toggle ng-disabled="disabled">
										{{selected_year}} <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li ng-repeat="year in years"><a ng-click="selectYear(year);checkFilter();">{{year}}</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
    </div>  		
			<div class="page-content-wrapper">
		<div class="page-content">
					<div class="row"> 
                        <div class="col-md-6" ng-repeat="subMenu in subMenus" ng-if="subMenu == 'Energy Consumed Graph'">
                            <div class="portlet light portlet-fit bordered graphHover">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class=" icon-layers font-red"></i>
                                        <span class="caption-subject font-red bold uppercase">Energy Generation</span>
                                    </div>
									<div style="float:right;">
									<b>MPPT Categories</b>
                                    
	                                    <div class="btn-group" dropdown>
	                                    <button type="button" class="btn btn-success dropdown-toggle" dropdown-toggle ng-disabled="disabled">
	                                       	{{selected_sites.site_name}} <span class="caret"></span>
	                                    </button>
	                                    <ul class="dropdown-menu" role="menu" style="overflow-x: hidden;max-height: 300px;">
	                                       	<li ng-repeat="site in sites"><a ng-click="selectSites(site);checkFilter();">{{site.site_name}}</a></li>
	                                    </ul>
	                                	</div>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div id="ebarChartforMppt" style="height:250px;"></div>
                                </div>
                            </div>
                        </div>
                   
                        <div class="col-md-6" ng-repeat="subMenu in subMenus" ng-if="subMenu == 'Energy Consumed Graph'">
                            <div class="portlet light portlet-fit bordered graphHoverright">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class=" icon-layers font-green"></i>
                                        <span class="caption-subject font-green bold uppercase">Energy Consumed</span>
                                    </div>
									<div style="float:right;">
										<b>Feeder Categories</b>
										<div class="btn-group" dropdown>
	                                    <button type="button" class="btn btn-success dropdown-toggle" dropdown-toggle ng-disabled="disabled">
	                                       	{{selected_site.site_name}} <span class="caret"></span>
	                                    </button>
	                                    <ul class="dropdown-menu" role="menu" style="overflow-x: hidden;max-height: 300px;">
	                                       	<li ng-repeat="site in sites"><a ng-click="selectSite(site);checkFilter();">{{site.site_name}}</a></li>
	                                    </ul> 
	                                	</div>
                                    </div>  
                                </div>
                                <div class="portlet-body">
                                    <div id="ebarChartforMeters" style="height:250px;"></div>
                                </div>
                            </div>
                        </div>
					</div>      
				
				 
					<div class="row">
                        <div class="col-md-6" ng-repeat="subMenu in subMenus" ng-if="subMenu == 'Energy Consumed Graph'">
                            <div class="portlet light portlet-fit bordered graphHover"> 
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class=" icon-layers font-green"></i>
                                        <span class="caption-subject font-green bold uppercase">Unit Sold</span>
                                    </div>
								</div>
                                <div class="portlet-body">
                                   <div id="ebarChartforUnitSold" style="height:250px;"></div>
                                </div>
                            </div>
                        </div>
                      
                        <div class="col-md-6" ng-repeat="subMenu in subMenus" ng-if="subMenu == 'Energy Consumed Graph'">
                            <div class="portlet light portlet-fit bordered graphHoverright">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class=" icon-layers font-green"></i>
                                        <span class="caption-subject font-green bold uppercase">Plant Utilization</span>
                                    </div>
								</div>
								<div class="portlet-body">
									<div id="ebarChartforUtilization" style="height:250px;"></div>
								</div>
							</div>
                        </div>
                    </div> 
					
 
             </div>
                    </div>       
				  
	 
 <script type="text/javascript">
	$(document).ready(function() {
 		 $('#Multiple_State_ds1').select2({
 	         placeholder: "Select States",
 	         allowClear: true,
 	     });
 		 $('#Multiple_Site_ds1').select2({
 	         placeholder: "Select Sites",
 	         allowClear: true,
 	     });
		  $('#Multiple_mppt').select2({
 	         placeholder: "Select States",
 	         allowClear: true,
 	     });
 		 $('#Multiple_feeder').select2({
 	         placeholder: "Select Sites",
 	         allowClear: true,
 	     });
		 $('#Multiple_State_graph').select2({
 	         placeholder: "Select States",
 	         allowClear: true,
 	     });
 		 $('#Multiple_Site_graph').select2({
 	         placeholder: "Select Sites",
 	         allowClear: true,
 	     });
 	});
</script>                
             

 
