<ul class="page-breadcrumb breadcrumb">

	<li>
		<a ui-sref="dashboard">Dashboard</a>
		<i class="fa fa-circle"></i>
	</li>
	<li class="active"> Management Dashboard</li>
</ul>

<div class="note note-success note-bordered">

		
</div>



 
