
<div class="page-content-wrapper">
		<div class="page-content">
			<!-- BEGIN PAGE HEAD -->
			<div class="page-head">
				<!-- BEGIN PAGE TITLE -->
				<div class="page-title">
					<h1>Dashboard <small>statistics &amp; reports for {{selectedSite.site_name}}</small></h1>
				</div>
				<!-- END PAGE TITLE -->
			</div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="btn-group" dropdown>
                                    <button type="button" class="btn btn-success dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                                        {{selected_site.site_name}} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li ng-repeat="site in sites"><a ng-click="selectSite(site);updateDashboard();">{{site.site_name}}</a></li>
                                    </ul>
                                </div>
                                <div class="btn-group" dropdown>
                                    <button type="button" class="btn btn-success dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                                        {{selected_month}} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li ng-repeat="month in months"><a ng-click="selectMonth(month);updateDashboard();">{{month}}</a></li>
                                    </ul>
                                </div>
                                <div class="btn-group" dropdown >
                                    <button type="button" class="btn btn-success dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                                        {{selected_year}} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li ng-repeat="year in years"><a ng-click="selectYear(year);updateDashboard();">{{year}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
			<!-- END PAGE HEAD -->
	
			<!-- BEGIN PAGE CONTENT INNER -->
           <div class="row margin-top-10">
              <div ng-repeat="subMenu in subMenus" ng-if="subMenu == 'Total Billed'">       
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<div class="dashboard-stat2">
						<div class="display">
							<div class="number">
								<h3 class="font-green-sharp">
								<i class="fa fa-rupee"></i>{{billing_data.total_debit}}</h3>
								<small>TOTAL Billed</small>
							</div>
							<div class="icon">
								<i class="icon-pie-chart"></i>
							</div>
						</div>
						<div class="progress-info">
							<div class="status">
								<div class="status-title">
									For the month of {{selected_month}} {{selected_year}}
								</div>
								
							</div>
						</div>
					</div>
				</div>
				</div> 
				  <div ng-repeat="subMenu in subMenus" ng-if="subMenu == 'Total Collected'"> 
                   <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<div class="dashboard-stat2">
						<div class="display">
							<div class="number">
								<h3 class="font-red-haze"><i class="fa fa-rupee"></i> {{billing_data.total_credit}}</h3>
								<small>Total Collected (Credit)</small>
							</div>
							<div class="icon">
								<i class="icon-pie-chart"></i>
							</div>
						</div>
						<div class="progress-info">

							<div class="status">
								<div class="status-title">
									 For the month of {{selected_month}} {{selected_year}}
								</div>
							</div>
						</div>
					</div>
				</div>
                </div>       
                  <div ng-repeat="subMenu in subMenus" ng-if="subMenu == 'Percentage'">      
               <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<div class="dashboard-stat2">
						<div class="display">
						 <progressbar value="collection_percentage" animate="true" type="success">{{collection_percentage}}%</progressbar>
						<div class="number"><small> Percentage</small></div>

                        </div>
                        <div class="progress-info">
                                  <div class="status">
                                          <div class="status-title">
                                              Monthly Money Collected Against Billed
                                          </div>
                                  </div>
                          </div>
					</div>
				</div>
				</div>
				  <div ng-repeat="subMenu in subMenus" ng-if="subMenu == 'Live consumers'"> 
				  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<div class="dashboard-stat2">
						<div class="display">
							<div class="number pull-left">
                                  <h3 class="font-green-sharp">{{consumer_tracking.consumer_count}}</h3>
                                  <small>Live Connection</small>
							</div>
							
							<div class="number pull-right">
						
                                  <h3 class="font-green-sharp">{{consumer_tracking.sites_count }}</h3>
                                  <small>Mini Grids</small>
							</div>
						</div>
						   <div class="progress-info">
                                  <div class="status">
                                          <div class="status-title">
                                             Accross UP and Bihar
                                          </div>
                                  </div>
                          </div>
					</div>
				</div>
				</div>
			</div>
 
 	<div ng-repeat="subMenu in subMenus" ng-if="subMenu == 'Graph for UP'"> 
    <div id="upGrid" class="row margin-top-10" >
    <div class="portlet-title">
           <div class="col-lg-9 col-xs-10" style="">
                    <div class="dashboard-stat2">
                        <div class="portlet box green" >
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-gift"></i>Site Wise Billed and Collected-UP
							</div>
						</div>
						<div class="portlet-body">
							<div id="chart_up" class="chart" ></div> 
						</div>
					</div>
                    </div>
             
           </div>
           <div class="col-lg-3 col-md-4 col-sm-4 col-xs-10" style=" height:100px">
					<div class="dashboard-stat2">
						<div class="display">
							<div class="number">
								<h3 class="font-green-sharp">
								<i class="fa fa-rupee"></i>{{up_billing_data.total_debit}}</h3>
								<small>TOTAL Billed</small>
							</div>
							<div class="icon">
								<i class="icon-pie-chart"></i>
							</div>
						</div>
						<!-- <div class="progress-info">
							<div class="status">
								<div class="status-title">
									For the month of {{selected_month}} {{selected_year}}
								</div>
								
							</div>
						</div> -->
					</div>
				</div>
           <div class="col-lg-3 col-md-2 col-sm-4 col-xs-10" style="height:100px">
					<div class="dashboard-stat2">
						<div class="display">
							<div class="number">
								<h3 class="font-red-haze"><i class="fa fa-rupee"></i> {{up_billing_data.total_credit}}</h3>
								<small>Total Collected (Credit)</small>
							</div>
							<div class="icon">
								<i class="icon-pie-chart"></i>
							</div>
						</div>
						<!-- <div class="progress-info">

							<div class="status">
								<div class="status-title">
									 For the month of {{selected_month}} {{selected_year}}
								</div>
							</div>
						</div> -->
					</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="height:110px">
					<div class="dashboard-stat2">
						<div class="display">
						 <progressbar value="collection_percentage" animate="true" type="success">{{up_collection_percentage}}%</progressbar>
						<div class="number"><small> Percentage</small></div>

                        </div>
                         <div class="progress-info">
                                  <div class="status">
                                          <div class="status-title">
                                              Monthly Money Collected Against Billed
                                          </div>
                                  </div>
                          </div>
					</div>
			 </div>
			 <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style=" width:24.66%;">
					<div class="dashboard-stat2">
						<div class="display">
							<div class="number pull-left">
                                  <h3 class="font-green-sharp">{{up_consumer_tracking.consumer_count}}</h3>
                                  <small>Live Connection</small>
							</div>
							
							<div class="number pull-right">
						
                                  <h3 class="font-green-sharp">{{up_consumer_tracking.sites_count }}</h3>
                                  <small>Mini Grids</small>
							</div>
						</div>
						   <div class="progress-info">
                                  <div class="status">
                                          <div class="status-title">
                                             Accross UP
                                          </div>
                                  </div>
                          </div>
					</div>
				</div>
           
         </div>
       </div>
    </div>
              <div ng-repeat="subMenu in subMenus" ng-if="subMenu == 'Graph for Bihar'"> 
                <div id="biharGrid" class="row margin-top-10" >
                <div class="portlet-title">
               <div class="col-lg-9 col-xs-10" style="">
                    <div class="dashboard-stat2">
                        <div class="portlet box green">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-gift"></i>Site Wise Billed and Collected-Bihar
							</div>
						
						</div>
						<div class="portlet-body">
							<div id="chart_bihar" class="chart"  ></div> 
							</div>
						</div>
					</div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="height:100px">
					<div class="dashboard-stat2">
						<div class="display">
							<div class="number">
								<h3 class="font-green-sharp">
								<i class="fa fa-rupee"></i>{{bihar_billing_data.total_debit}}</h3>
								<small>TOTAL Billed</small>
							</div>
							<div class="icon">
								<i class="icon-pie-chart"></i>
							</div>
						</div>
						<!-- <div class="progress-info">
							<div class="status">
								<div class="status-title">
									For the month of {{selected_month}} {{selected_year}}
								</div>
								
							</div>
						</div> -->
					</div>
				</div>
           <div class="col-lg-3 col-md-2 col-sm-3 col-xs-12" style="height:100px">
					<div class="dashboard-stat2">
						<div class="display">
							<div class="number">
								<h3 class="font-red-haze"><i class="fa fa-rupee"></i> {{bihar_billing_data.total_credit}}</h3>
								<small>Total Collected (Credit)</small>
							</div>
							<div class="icon">
								<i class="icon-pie-chart"></i>
							</div>
						</div>
						<!-- <div class="progress-info">

							<div class="status">
								<div class="status-title">
									 For the month of {{selected_month}} {{selected_year}}
								</div>
							</div>
						</div> -->
					</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="height:110px">
					<div class="dashboard-stat2">
						<div class="display">
						 <progressbar value="collection_percentage" animate="true" type="success">{{bihar_collection_percentage}}%</progressbar>
						<div class="number"><small> Percentage</small></div>

                        </div>
                        <div class="progress-info">
                                  <div class="status">
                                          <div class="status-title">
                                              Monthly Money Collected Against Billed
                                          </div>
                                  </div>
                          </div>
					</div>
			 </div>
			 <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style=" width:24.66%;">
					<div class="dashboard-stat2">
						<div class="display">
							<div class="number pull-left">
                                  <h3 class="font-green-sharp">{{bihar_consumer_tracking.consumer_count}}</h3>
                                  <small>Live Connection</small>
							</div>
							
							<div class="number pull-right">
						
                                  <h3 class="font-green-sharp">{{bihar_consumer_tracking.sites_count }}</h3>
                                  <small>Mini Grids</small>
							</div>
						</div>
						   <div class="progress-info">
                                  <div class="status">
                                          <div class="status-title">
                                             Accross Bihar
                                          </div>
                                  </div>
                          </div>
					</div>
				</div>
                    </div>
                </div>                     
            </div>        
                        <div class="row margin-top-10">
                        <div ng-repeat="subMenu in subMenus" ng-if="subMenu == 'Monthly Billing and Revenue'"> 
                            <div class="col-sm-6 col-xs-12">
                               <div class="dashboard-stat2">
                        <div class="portlet box green">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-gift"></i>Monthly Billing and Revenue
							</div>
						
						</div>
						<div class="portlet-body">
							<div id="chart_monthlyBilling" class="chart"  ></div> 
							</div>
						</div>
					</div>
                                <!--<div class="dashboard-stat2">
                                    <div google-chart chart="areaChart"></div>
                                </div>-->
                            </div>
                            </div>
                      <div ng-repeat="subMenu in subMenus" ng-if="subMenu == 'Consumer registrations by month'"> 
                         
                            <div class="col-sm-6 col-xs-12">
                                <div class="dashboard-stat2">
<!--                                     <div google-chart chart="lineChart"></div> -->
                                     <div class="portlet box green">
										<div class="portlet-title">
											<div class="caption">
												<i class="fa fa-gift"></i>Consumer registrations by month
											</div>
										
										</div>
										<div class="portlet-body">
											<div id="chart_consumer" class="chart"  ></div> 
											</div>
									</div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="row margin-top-10">
                          <div ng-repeat="subMenu in subMenus" ng-if="subMenu == 'One Time Connection Fees'"> 
                            <div class="col-sm-6 col-xs-12">
                            
                                <div class="dashboard-stat2">
                                    <div google-chart chart="barChart"></div>
                                </div>
                            </div>
                          </div>
                          <div ng-repeat="subMenu in subMenus" ng-if="subMenu == 'Consumers By Packages'"> 
                            <div class="col-sm-6 col-xs-12">
                                <div class="dashboard-stat2">
                                    <div google-chart chart="chart"></div>
                                </div>
                            </div>
                          </div>
                        </div>
<!--			<div class="row margin-top-10">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="dashboard-stat2">
						<div class="display">
							<div class="number">
								<h3 class="font-red-haze"><i class="fa fa-rupee"></i>{{billing_data.total_activation}}</h3>
								<small>Total Collected (Activation)</small>
							</div>
							<div class="icon">
								<i class="icon-pie-chart"></i>
							</div>
						</div>
						<div class="progress-info">

							<div class="status">
								<div class="status-title">
									 For the month of {{selectedMonth}}
								</div>
							</div>
						</div>
					</div>
				</div>
                        </div>
                        <div class="row margin-top-10">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="dashboard-stat2">
						<div class="display">
							<div class="number">
								<h3 class="font-red-haze"><i class="fa fa-rupee"></i>{{billing_data.monthly_target}}</h3>
								<small>Monthly Target</small>
							</div>
							<div class="icon">
								<i class="icon-pie-chart"></i>
							</div>
						</div>
						<div class="progress-info">

							<div class="status">
								<div class="status-title">
									 As of today
								</div>
							</div>
						</div>
					</div>
				</div>
                        </div>
                        <div class="row margin-top-10">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="dashboard-stat2">
						<div class="display">
							<div class="number">
								<h3 class="font-red-haze"><i class="fa fa-rupee"></i>{{billing_data.otp_target}}</h3>
								<small>OTP Target</small>
							</div>
							<div class="icon">
								<i class="icon-pie-chart"></i>
							</div>
						</div>
						<div class="progress-info">

							<div class="status">
								<div class="status-title">
									 As of today
								</div>
							</div>
						</div>
					</div>
				</div>
                        </div>-->
			<!-- END PAGE CONTENT INNER -->
		</div>
	</div>

 
