 
<div class="page-content-wrapper">
	<div class="page-content">
		<div class="page-head">
			<div class="page-title">
				<h1>SPI Dashboard <small>Statistics &amp; Graphs</small></h1>
			</div>
		</div>     
        <div class="row"> 
		<div class="col-md-12">
						<div class="dashboard-stat2 bordered" style="background-color:lavenderblush;padding: 15px 15px 47px;">
						 
			<div class="col-md-2">
				<select id="Multiple_State_spi"  class="select2" style="width:100%" name="spi_state_id" ng-model="spi_state_id" placeholder="All States" ng-change="updateSites()"  multiple>
					<option value="{{state.state_id}}" ng-repeat="state in states">{{state.state_name}}</option>
	       		</select>
	   		</div>   
			<div class="col-md-3">								
	       		<select id="Multiple_Site_spi"  class="select2" style="width:100%" name="spi_site_id" ng-model="spi_site_id" ng-change="getPackages()" placeholder="All Sites"  multiple>
					<option value="{{site.site_id}}" ng-repeat="site in sites">{{site.site_name}}</option>
	       		</select>
			</div>
			<div class="col-md-1">
				<div class="btn-group" dropdown >
                	<button type="button" class="btn btn-success dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                    	{{selected_month}} <span class="caret"></span>
               		</button>
                	<ul class="dropdown-menu" role="menu">
                    	<li ng-repeat="month in months"><a ng-click="selectMonth(month);">{{month}}</a></li>
                 	</ul>
           		</div>
			</div>
			<div class="col-md-1">
           		<div class="btn-group" dropdown >
                	<button type="button" class="btn btn-success dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                    	{{selected_year}} <span class="caret"></span>
                	</button>
                	<ul class="dropdown-menu" role="menu">
               			<li ng-repeat="year in years"><a ng-click="selectYear(year);">{{year}}</a></li>
                   	</ul>
             	</div>
			</div>
			<div class="col-md-2">
				<button type="button" class="btn btn-primary" ng-click="checkFilter();" >Submit</button>
			</div>
   		</div>
		</div>
   		</div>
		
		<div class="row widget-row" >
			<div class="col-md-12">
				<div class="portlet light bordered">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-bar-chart font-green-jungle"></i>
							<span class="caption-subject font-green-jungle bold uppercase">Site-wise customers count</span>
						</div>
					</div>
		      		<div class="portlet-body">
						<div id="consumer_count" class="chart" ></div> 
					</div>
       			</div>
   			</div>
   		</div>
 		<div class="row widget-row" >
			<div class="col-md-12">
				<div class="portlet light bordered">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-bar-chart font-green-jungle"></i>
							<span class="caption-subject font-green-jungle bold uppercase">Average Unit per user</span>
						</div>
					</div>
		      		<div class="portlet-body">
						<div id="unit_per_user" class="chart" ></div> 
					</div>
       			</div>
   			</div>
   		</div>
   		<div class="row widget-row" >
			<div class="col-md-12">
				<div class="portlet light bordered">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-bar-chart font-green-jungle"></i>
							<span class="caption-subject font-green-jungle bold uppercase">Avg. Revenue Per User</span>
						</div>
					</div>
		      		<div class="portlet-body">
						<div id="revenue_avg" class="chart" ></div> 
					</div>
       			</div>
   			</div>
   		</div>
   		 <div class="row widget-row" >
			<div class="col-md-12">
				<div class="portlet light bordered">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-bar-chart font-green-jungle"></i>
							<span class="caption-subject font-green-jungle bold uppercase">Units</span>
						</div>
					</div>
		      		<div class="portlet-body">
						<div id="units" class="chart" ></div> 
					</div>
       			</div>
   			</div>
   		</div>
		<div class="row widget-row" >
			<div class="col-md-12">
				<div class="portlet light bordered">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-bar-chart font-green-jungle"></i>
							<span class="caption-subject font-green-jungle bold uppercase">Monthly Revenue</span>
						</div>
					</div>
		      		<div class="portlet-body">
						<div id="monthly_revenue_data" class="chart" ></div> 
					</div>
       			</div>
   			</div>
   		</div>
   		
		<div class="row widget-row" >
			<div class="col-md-12">
				<div class="portlet light bordered">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-bar-chart font-green-jungle"></i>
							<span class="caption-subject font-green-jungle bold uppercase">Cost</span>
						</div>
					</div>
		      		<div class="portlet-body">
						<div id="cost" class="chart" ></div> 
					</div>
       			</div>
   			</div>
   		</div>
   		<div class="row widget-row" >
			<div class="col-md-12">
				<div class="portlet light bordered">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-bar-chart font-green-jungle"></i>
							<span class="caption-subject font-green-jungle bold uppercase">EBITDA</span>
						</div>
					</div>
		      		<div class="portlet-body">
						<div id="EBITDA" class="chart" ></div> 
					</div>
       			</div>
   			</div>
   		</div> 
<div class="row widget-row" >
			<div class="col-md-12">
				<div class="portlet light bordered">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-bar-chart font-green-jungle"></i>
							<span class="caption-subject font-green-jungle bold uppercase">People Impacted</span>
						</div>
					</div>
		      		<div class="portlet-body">
						<div id="people_impacted" class="chart" ></div> 
					</div>
       			</div>
   			</div>
   		</div>     		
			<div class="row widget-row" >
			<div class="col-md-6">
				<div class="portlet light bordered">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-bar-chart font-green-jungle"></i>
							<span class="caption-subject font-green-jungle bold uppercase">Site-wise customers count</span>
						</div>
					</div>
		      		<div class="portlet-body">
						<div id="consumer_count_month" class="chart" ></div> 
					</div>
       			</div>
   			</div>
   			<div class="col-md-6">
				<div class="portlet light bordered">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-bar-chart font-green-jungle"></i>
							<span class="caption-subject font-green-jungle bold uppercase">Customer Mix</span>
						</div>
					</div>
		      		<div class="portlet-body">
						<div id="customer_mix" class="chart" ></div> 
					</div>
       			</div>
   			</div>
   		</div>
 		<div class="row widget-row" >
			<div class="col-md-6">
				<div class="portlet light bordered">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-bar-chart font-green-jungle"></i>
							<span class="caption-subject font-green-jungle bold uppercase">Average Unit per user</span>
						</div>
					</div>
		      		<div class="portlet-body">
						<div id="unit_per_user_month" class="chart" ></div> 
					</div>
       			</div>
   			</div>
   			<div class="col-md-6">
				<div class="portlet light bordered">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-bar-chart font-green-jungle"></i>
							<span class="caption-subject font-green-jungle bold uppercase">Revenue Mix</span>
						</div>
					</div>
		      		<div class="portlet-body">
						<div id="revenue_mix" class="chart" ></div> 
					</div>
       			</div>
   			</div>
   		</div>
   		<div class="row widget-row" >
			<div class="col-md-6">
				<div class="portlet light bordered">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-bar-chart font-green-jungle"></i>
							<span class="caption-subject font-green-jungle bold uppercase">Avg. Revenue Per User</span>
						</div>
					</div>
		      		<div class="portlet-body">
						<div id="revenue_avg_month" class="chart" ></div> 
					</div>
       			</div>
   			</div>
			<div class="col-md-6">
				<div class="portlet light bordered">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-bar-chart font-green-jungle"></i>
							<span class="caption-subject font-green-jungle bold uppercase">Monthly Revenue</span>
						</div>
					</div>
		      		<div class="portlet-body">
						<div id="monthly_revenue_data_month" class="chart" ></div> 
					</div>
       			</div>
   			</div>
   		</div>
   		 <div class="row widget-row" >
			<div class="col-md-6">
				<div class="portlet light bordered">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-bar-chart font-green-jungle"></i>
							<span class="caption-subject font-green-jungle bold uppercase">Units Consumed</span>
						</div>
					</div>
		      		<div class="portlet-body">
						<div id="units_consumed_month" class="chart" ></div> 
					</div>
       			</div>
   			</div>
			<div class="col-md-6">
				<div class="portlet light bordered">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-bar-chart font-green-jungle"></i>
							<span class="caption-subject font-green-jungle bold uppercase">Units Sold</span>
						</div>
					</div>
		      		<div class="portlet-body">
						<div id="units_sold_month" class="chart" ></div> 
					</div>
       			</div>
   			</div>
   		</div>
   		
		<div class="row widget-row" >
			<div class="col-md-6">
				<div class="portlet light bordered">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-bar-chart font-green-jungle"></i>
							<span class="caption-subject font-green-jungle bold uppercase">Cost</span>
						</div>
					</div>
		      		<div class="portlet-body">
						<div id="cost_month" class="chart" ></div> 
					</div>
       			</div>
   			</div>
			<div class="col-md-6">
				<div class="portlet light bordered">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-bar-chart font-green-jungle"></i>
							<span class="caption-subject font-green-jungle bold uppercase">Generation Mix</span>
						</div>
					</div>
		      		<div class="portlet-body">
						<div id="generation_mix" class="chart" ></div> 
					</div>
       			</div>
   			</div>
   		</div>
   		<div class="row widget-row" >
			<div class="col-md-6">
				<div class="portlet light bordered">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-bar-chart font-green-jungle"></i>
							<span class="caption-subject font-green-jungle bold uppercase">EBITDA</span>
						</div>
					</div>
		      		<div class="portlet-body">
						<div id="EBITDA_month" class="chart" ></div> 
					</div>
       			</div>
   			</div>
   			<div class="col-md-6">
				<div class="portlet light bordered">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-bar-chart font-green-jungle"></i>
							<span class="caption-subject font-green-jungle bold uppercase">EBITDA Total</span>
						</div>
					</div>
		      		<div class="portlet-body">
						<div id="EBITDA_month_total" class="chart" ></div> 
					</div>
       			</div>
   			</div>
   		</div> 

    </div> 
</div>

 <script type="text/javascript">
	$(document).ready(function() {
 		 $('#Multiple_State_spi').select2({
 	         placeholder: "Select States",
 	         allowClear: true,
 	     });
 		 $('#Multiple_Site_spi').select2({
 	         placeholder: "Select Sites",
 	         allowClear: true,
 	     });
 	});
</script>                
             

 
