<?php if($this->hasMessage): ?>
<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-block alert-<?php echo $this->messageType?> fade in">
            <button data-dismiss="alert" class="close close-sm" type="button">
                <i class="fa fa-times"></i>
            </button>
            <?php if($this->messageType=="danger"):?>
            <strong>Oh snap!</strong>
            <?php elseif($this->messageType=="success"):?>
            <strong>Well done!</strong>
            <?php elseif($this->messageType=="info"):?>
            <strong>Heads up!</strong>
            <?php elseif($this->messageType=="warning"):?>
            <strong>Warning!</strong>
            <?php endif; ?>
             <?php echo $this->message; ?>
        </div>
    </div>
</div>
<?php endif; ?>
<div class="row">
    <div class="col-sm-12">
      <section class="panel">
            <header class="panel-heading">
                Add New Admin
            </header>
            <div class="panel-body">
                <div class="position-left">
                    <form class="form-inline" role="form" method="post" enctype="multipart/form-data">
                    <div class="row">
                            <div class="form-group col-lg-3">
                                <label class="sr-only" for="username">UserName</label>
                                    <input type="textbox" name="username" class="form-control" id="username" placeholder="Enter UserName" required/>
                                
                            </div>
                            <div class="form-group col-lg-3">
                                <label class="sr-only" for="hashed_password">Hashed Password</label>
                                <input type="password" name="hashed_password" class="form-control" id="hashed_password" placeholder="Enter Password" required/>
                            </div>
                            <div class="form-group col-lg-3">
                                <label class="sr-only" for="admin_fname">Admin Fname</label>
                                        <input type="textbox" name="admin_fname" class="form-control" id="admin_fname" placeholder="Enter First Name" required/>
                            </div>
                            <div class="form-group col-lg-3">
                                <label class="sr-only" for="admin_lname">Admin Lname</label>
                                <input type="textbox" name="admin_lname" class="form-control" id="admin_lname" placeholder="Enter Last Name" required/>
                                
                            </div>
                    </div>
                        <br/>
                    <div class="row">
                        
                            <div class="form-group col-lg-3">
                                <label class="sr-only" for="admin_email">Admin Email</label>
                                <input type="textbox" name="admin_email" class="form-control" id="admin_email" placeholder="Enter Email" required/>
                                
                            </div>
                        
                            <div class="form-group col-sm-3">
                                
                                    <select id="e2" class="populate " name="admin_role" style="width: 250px">
                                        <option>Select Admin Role</option>
                                        <option value="admin">Admin</option>
                                        <option value="demo">Demo</option>
                                   </select>
                                
                            </div>
                        
                                <div class="form-group col-lg-3">
                                    <label for="profileimage">Profile Image</label>
                                    <input type="file" id="profile_image" name="profile_image">
                                </div>
                          
                            <div class="form-group col-lg-3">
                                <input type="hidden" name="request_type" value="add"/>
                                <button type="submit" class="btn btn-success">Add Admin</button>  
                            </div>
                    </div>
                </form>
                </div>
            </div>
        </section>  
    </div>
    
</div>
<div class="row">
   <div class="col-sm-12">
    <section class="panel">
                    <header class="panel-heading">
                        List of all Admins
                    </header>
                    <div class="panel-body">
                    <div class="adv-table">
                    <table  class="display table table-bordered table-striped" id="dynamic-table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>User Name</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        <?php if($this->admins): ?>
                        <?php foreach($this->admins as $admin): ?>
                        <tr>
                            <td><img alt="" width="32px" src="<?php echo $this->baseUrl(); ?>/adminImages/<?php echo $admin->__get("profile_image");?>"></td>
                            <td><?php echo $admin->__get("username"); ?></td>
                            <td><?php echo $admin->__get("admin_fname")." ".$admin->__get("admin_lname"); ?></td>
                            <td><?php echo $admin->__get("admin_email"); ?></td>
                            <td><?php echo $admin->__get("admin_role"); ?></td>
                            <td>
                                <a data-id="<?php echo $admin->__get("admin_id"); ?>" href="#editModalPass" class="btn btn-info editAdminPass" title="Change Password">
                                    <i class="fa fa-lock"></i>
                                </a>
                                <a data-id="<?php echo $admin->__get("admin_id"); ?>" href="#editModal" class="btn btn-primary editAdmin" title="Edit Admin">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a data-id="<?php echo $admin->__get("admin_id"); ?>" href="#deleteModal" class="btn btn-danger delete" title="Delete Admin">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </td>
                        </tr>
                        <?php endforeach; ?>
                        <?php endif; ?>
                    </tbody>
                    </table>
                    </div>
                    </div>
                </section>  
       <!-- <div class="target-sell"></div>-->
    </div>
</div>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Editing Admin</h4>
            </div>
            <form method="post" enctype="multipart/form-data">
            <div class="modal-body">
                
                <div class="form-group">
                    <label for="admin_fname">First Name</label>
                    <input type="textbox" name="admin_fname" class="form-control" id="editadmin_fname" placeholder="Enter First Name" required/>
                </div>
                
                <div class="form-group">
                    <label for="admin_lname">Last Name</label>
                    <input type="textbox" name="admin_lname" class="form-control" id="editadmin_lname" placeholder="Enter Last Name" required/>
              
                </div>
               
                 <div class="form-group">
                    <label for="admin_email">Email</label>
                    <input type="textbox" name="admin_email" class="form-control" id="editadmin_email" placeholder="Enter Email" required/>
              
                </div>
                
                  <div class="form-group">
                            <select class="populate " name="admin_role" id="editadmin_role" style="width: 250px">
                                <option>Select Admin Role</option>
                                <option value="admin">Admin</option>
                                <option value="demo">Demo</option>
                           </select>
                    </div>
                
                 <div class="form-group">
                    <label for="profileimage">Profile Image</label>
                    <input type="file" id="profile_image" name="profile_image">
                </div>

               
             
            </div>
            <div class="modal-footer">
                <input type="hidden" name="id" class="id" value="0"/>
                <input type="hidden" name="request_type" value="update"/>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                <button class="btn btn-info" type="submit"> Update</button>
            </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="editModalPass" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Change Password</h4>
            </div>
            <form method="post">
            <div class="modal-body">
                <div class="form-group">
                    <label for="old_password">Password</label>
                        <input type="password" name="old_password" class="form-control" id="editOldPass" placeholder="Old Password" required/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                        <input type="password" name="pass" class="form-control" id="editPass" placeholder="New Password" required/>
                </div>
                <div class="form-group">
                    <label for="cpassword">Confirm Password</label>
                    <input type="password" name="cpass" class="form-control" id="editCpass" placeholder="Confirm Password" required/>
                </div>
                
            </div>
            <div class="modal-footer">
                <input type="hidden" name="id" class="id" value="0"/>
                <input type="hidden" name="request_type" value="change_password"/>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                <button class="btn btn-info" type="submit"> Update</button>
            </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Confirm Deletion</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this?
            </div>
            <div class="modal-footer">
                <form method="post">
                    <input type="hidden" name="id" class="id" value="0"/>
                    <input type="hidden" name="request_type" value="delete"/>
                    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                    <button class="btn btn-danger" type="submit"> Confirm</button>
                </form>
            </div>
        </div>
    </div>
</div>