
<?php $auth = new My_Auth("user"); ?>
<div class="row" ng-controller="duplicateSmsReportsController">
<script type="text/ng-template" id="notduplicate.html">
    <div class="modal-header">
    <h4 class="modal-title">Are you sure this is not a duplicate entry? You can not undo this change.</h4>
    </div>
    <div class="modal-footer">
    <button class="btn btn-danger" ng-click="changeStatus()">Confirm </button>
    <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
    </div>
</script>
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                 <b>Select Site : </b><div class="btn-group" dropdown >
                        <button type="button" class="btn btn-success dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                          {{selected_site.site_name}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu scrollable-dropdown" role="menu">
                          <li ng-repeat="site in sites"><a ng-click="selectSite(site);updateReport();">{{site.site_name}}</a></li>
                        </ul>
                      </div>
           
         </header>
            <div class="panel-body">
                
                <div class="adv-table">
                  <div ng-repeat="entry in enteries" ng-init="rowIndex = $index">
                  <h4><b>Duplicate Sms report for {{selected_site.site_name}} site for {{entry.month}} ,{{entry.year}}</b></h4>
                    <table  class="display table table-bordered" id="dynamic-table" >
                        <tbody>
                             <tr>
                                <th>Sl.No.</th>
                                <th>Consumer's NAME</th>
                                <th>Connection ID</th>
                                <th colspan="5">Transactions</th>
                            </tr>
                            </tbody>
                                <tr ng-repeat="consumer in entry.consumer_data" ng-init="dataIndex = $index">
                                    <td>{{dataIndex+1}}</td>
                                    <td>{{consumer.consumer_name}}</td>
                                    <td><a href="<?php echo $this->baseUrl(); ?>/consumers/view/id/{{consumer.consumer_id}}" target="_blank">{{consumer.consumer_connection_id}}</a></td>
                                	<td colspan="5">
                                	<table  class="table  table-bordered" >
									<tr ng-repeat="cashEntry in consumer.cashRegisters| filter: NotEqual('cr_status','INACTIVE')" >
									
									<td>Rs.{{cashEntry.cr_amount}}</td>
                                	<td><span class="" ng-class="{RECEIVED:'label label-info',PENALTY:'label label-info',ACTIVATION:'label label-info',DEBIT:'label label-danger',CREDIT:'label label-success',DISCOUNT:'label label-warning'
											}
											[cashEntry.cr_entry_type]">{{cashEntry.cr_entry_type}}</span></td>
									
									<td>{{cashEntry.timestamp}}</td>
									<td>{{cashEntry.collection_agent_fname}} {{cashEntry.collection_agent_lname}}</td>
									 <td colspan="3">  
									 <span ng-repeat="subMenu in subMenus" ng-if="subMenu == 'Mark as not duplicate in duplicateSmsReport'">
									 
									   	  <button type="button" ng-show="cashEntry.cr_status =='ACTIVE'" class="btn btn-success" crid="cashEntry.cr_id" ng-click="notduplicate(cashEntry.cr_id,'NOTDUPLICATE',rowIndex,$index,dataIndex)">Not Duplicate</button>
									   	  <button type="button" ng-show="cashEntry.cr_status =='NOTDUPLICATE'" class="btn btn-info" crid="cashEntry.cr_id" >Marked as Not Duplicate</button>
									 </span>
									 <?php if($auth->getIdentity()->user_role=="1"){?>
									 	  <!-- <button type="button" ng-show="cashEntry.cr_status =='ACTIVE'" class="btn btn-success" crid="cashEntry.cr_id" ng-click="notduplicate(cashEntry.cr_id,'NOTDUPLICATE',rowIndex,$index,dataIndex)">Not Duplicate</button>
									   	   -->
									   	  <button type="button" ng-show="cashEntry.cr_status =='PENDING'" class="btn btn-danger" crid="cashEntry.cr_id" ng-click="changeStatus(cashEntry.cr_id,'INACTIVE',rowIndex,$index,dataIndex)">Approve For Delete</button>
									 <?php }?>
									  <span ng-repeat="subMenu in subMenus" ng-if="subMenu == 'Request for deletion in duplicateSmsReport'">
									 
									    <button type="button"  ng-show="cashEntry.cr_status =='ACTIVE'" class="btn btn-danger" ng-click="changeStatus(cashEntry.cr_id,'PENDING',rowIndex,$index,dataIndex)">Request For Delete</button>
									    <button type="button" ng-show="cashEntry.cr_status =='PENDING'" ng-click="changeStatus(cashEntry.cr_id,'ACTIVE',rowIndex,$index,dataIndex)" class="btn btn-warning">Pending</button>
										<!-- <button type="button" ng-show="cashEntry.cr_status =='PENDING'" class="btn btn-success" ng-click="changeStatus(cashEntry.cr_id,'ACTIVE',rowIndex,$index,dataIndex)">Cancel</button> -->
									  </span>
									   </td>
									</tr>
								</table>
								
                               </td>
                                </tr>
                    </table>
                  </div> 
                  
                    <div ng-show="enteries.length<=0" > <span class="label label-success"><b>No records found to display</b></span></div>
                  
                </div>
            </div>
        </section>  
        <!-- <div class="target-sell"></div>-->
    </div>
</div>

    
