<div class="row" ng-controller="managerReportsPlainController">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                Select Site : <div class="btn-group" dropdown >
                        <button type="button" class="btn btn-success dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                          {{selected_site.site_name}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu scrollable-dropdown" role="menu">
                          <li ng-repeat="site in sites"><a ng-click="selectSite(site);updateReport();">{{site.site_name}}</a></li>
                        </ul>
                      </div>
            </header>
            <div class="panel-body">
                
                <div class="adv-table">
                    
                    <table  class="display table table-bordered" id="dynamic-table">
                        <tbody>
                            <tr>
                                <th colspan="3" rowspan="2">{{selected_site.site_name}}</th>
                                <th colspan="7">Month: <?php echo $this->monthName." ".$this->year; ?></th>
                                <th rowspan="3">To Collect</th>
                            </tr>
                            <tr>
                                <th colspan="3">OTP</th>
                                <th colspan="4">Monthly Charges</th>
                            </tr>
                            <tr>
                                <th>S.No.</th>
                                <th>Customer's Name</th>
                                <th>Connection ID</th>
                                <th>Prev Due</th>
                                <th>Paid</th>
                                <th>Due Carry Forward</th>
                                <th>Prev Due</th>
                                <th>Current Month</th>
                                <th>Paid</th>
                                <th>Due Carry Forward</th>
                            </tr>
                            <tr>
                                <th colspan="3">Total</th>
                                <th>{{total_otp_due_total}}</th>
                                <th>{{otp_in_total}}</th>
                                <th>{{otp_carry_forward_total}}</th>
                                <th>{{monthly_overdue_total}}</th>
                                <th>{{monthly_due_total}}</th>
                                <th>{{monthly_in_total}}</th>
                                <th>{{monthly_carry_forward_total}}</th>
                                <th>{{collection_amount_total}}</th>
                            </tr>
                            </tbody>
                            <!-- Disabled infite scroll because api is fast enough now -->
                            <!-- <tbody infinite-scroll="nextReportPage()" infinite-scroll-disabled='busy' infinite-scroll-distance="10">-->
                            <tbody>
                                <tr ng-repeat="entry in enteries">
                                    <td>{{$index+1}}</td>
                                    <td>{{entry.consumer_name}}</td>
                                    <td><a href="<?php echo $this->baseUrl(); ?>/consumers/view/id/{{entry.consumer_id}}">{{entry.consumer_connection_id}}</a></td>
                                    <td>{{entry.total_otp_due}}</td>
                                    <td>{{entry.otp_in}}</td>
                                    <td>{{entry.otp_carry_forward}}</td>
                                    <td>{{entry.monthly_overdue}}</td>
                                    <td>{{entry.monthly_due}}</td>
                                    <td>{{entry.monthly_in}}</td>
                                    <td>{{entry.monthly_carry_forward}}</td>
                                    <td>{{entry.collection_amount}}</td>
                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>  
        <!-- <div class="target-sell"></div>-->
    </div>
</div>
