 <div class="row" ng-controller="billingComparisionController">
<div class="page-content-wrapper">
    <div class="page-content">
    <div class="col-sm-12" style="margin-top:11px">
        <section class="panel">
            <header class="panel-heading">
                   
            					<div class='col-md-2'>
				                    <select id="Multiple_State"  class="select2" style="width:100%" name="state_id" ng-model="state_id" ng-change="selectState(state);updateSites();" placeholder="States"  multiple>
				                    	<option value="{{state.state_id}}" ng-repeat="state in states">{{state.state_name}}</option>
				                    </select>
				                </div>
				                
				                <div class='col-md-2'>
				                  	<select id="Multiple_Site" class="select2" style="width:100%" name="site_id" ng-model="site_id" ng-change="filterAgent()" placeholder="Sites"  multiple>
				                    	<option value="{{site.site_id}}" ng-repeat="site in sites">{{site.site_name}}</option>
				                  	</select>
				                </div>
				                <div class='col-md-2'>
									 <select id="Multiple_Type" class="select2" style="width:100%" name="entry_type" ng-model="entry_type" placeholder="Type"  multiple>
											<option value="'ACT'">ACT</option>
 											<option value="'CHG'">ENERGY</option>
 											<option value="'EED'">EED</option>
 											<option value="'MED'">MED</option>
 											<option value="'OTHERS'">OTHERS</option>
 											<option value="'WATER'">WATER</option>
 									</select>
                                </div>
                                <div class="btn-group" dropdown>
                                    <button type="button" class="btn btn-success dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                                        {{selected_month}} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li ng-repeat="month in months"><a ng-click="selectMonth(month);">{{month}}</a></li>
                                    </ul>
                                </div>
                                
                                <div class="btn-group" dropdown >
                                    <button type="button" class="btn btn-success dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                                        {{selected_year}} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li ng-repeat="year in years"><a ng-click="selectYear(year);">{{year}}</a></li>
                                    </ul>
                                </div>
                                
                                <div class="btn-group" dropdown >
                                    <button type="button" class="btn btn-success dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                                        {{selected_format}} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li ng-repeat="format in formats"><a ng-click="selectFormat(format);">{{format}}</a></li>
                                    </ul>
                                </div>
                                
					            <div class="btn-group" style="float:right">
					           		<button type="button" class="btn btn-success " ng-click="convertToPdf()">Generate Report</button>
					     		</div>
            </header>
   
        </section>  
   
    </div>
   </div></div>
</div>
