<div class="row" ng-controller="bksDefaulterReportController">
<div class="page-content-wrapper">
    <div class="page-content">
    <div class="col-sm-12" style="margin-top:11px">
        <section class="panel">
            <header class="panel-heading">
                Select Site : <div class="btn-group" dropdown >
                        <button type="button" class="btn btn-success dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                          {{selected_site.site_name}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu scrollable-dropdown" role="menu" style="overflow-x: hidden;max-height: 200px;">
                          <li ng-repeat="site in sites"><a ng-click="selectSite(site);updateReport();">{{site.site_name}}</a></li>
                        </ul>
                      </div>
                      
           <div class="btn-group" style="float:right">
            <button type="button" class="btn btn-success " ng-click="convertToPdf()">Convert To PDF </button>
     		</div>
            </header>
            
        <div id="test"> 
            <div class="panel-body">
			<div class="table-scrollable">
             <div class="adv-table">
                    
                    <table border=1 class="display table table-bordered" id="dynamic-table">
                        <tbody>
                            <tr>
                                <th colspan="5" rowspan="2">{{selected_site.site_name}}</th>
                                <th colspan="12">Year: <?php echo $this->year; ?></th>
                                <th rowspan="3"width="70px">Grand Total</th>   
                            </tr>
                            <tr>
                               <th colspan="3">Nov</th>
                               <th colspan="3">Oct</th>
               				   <th colspan="3">Sep</th>
               				   <th colspan="3">Aug</th>
                            </tr>
                            <tr>
                                <th width="10px">S.No.</th>
                                <th width="90px">Customer's Name</th>
                                <th width="140px">Connection ID</th>
                                <th width="70px">Total Pending Debits</th>
                                <th width="70px">Month of last payment</th>
                               
                                <th width="80px">Activation</th>
                                <th width="70px">Debit</th>
                                <th width="70px">Credit</th>
                                
                                <th width="80px">Activation</th>
                                <th width="70px">Debit</th>
                                <th width="70px">Credit</th>
                                
                                 <th width="80px">Activation</th>
                                <th width="70px">Debit</th>
                                <th width="70px">Credit</th>
                                
                                <th width="80px">Activation</th>
                                <th width="70px">Debit</th>
                                <th width="70px">Credit</th>
                               
                            </tr>
                         
                            </tbody>
                            <!-- Disabled infite scroll because api is fast enough now -->
                            <!-- <tbody infinite-scroll="nextReportPage()" infinite-scroll-disabled='busy' infinite-scroll-distance="10">-->
                            <tbody>
                                <tr ng-repeat="entry in enteries">
                                    <td>{{$index+1}}</td>
                                    <td>{{entry.consumer_name}}</td>
                                    <td><a href="<?php echo $this->baseUrl(); ?>/consumers/view/id/{{entry.consumer_id}}">{{entry.consumer_connection_id}}</a></td>
                                    <td>{{entry.totalDebit - entry.totalCredit}}</td>
                                    <td>{{entry.month}}</td> 
                                    
                                    <td>{{entry.total_activation}}</td>
                                    <td>{{entry.total_debit}}</td>
                                    <td>{{entry.total_credit}}</td>
                                    
                                  <td>{{entry.total_activation1}}</td>
                                    <td>{{entry.total_debit1}}</td>
                                    <td>{{entry.total_credit1}}</td>
                                   
                                  <td>{{entry.total_activation2}}</td>
                                    <td>{{entry.total_debit2}}</td>
                                    <td>{{entry.total_credit2}}</td>
                                   
                                   <td>{{entry.total_activation3}}</td>
                                    <td>{{entry.total_debit3}}</td>
                                    <td>{{entry.total_credit3}}</td>
                                   
		                             <td>{{entry.total_amount}}</td>
                                </tr>
                        </tbody>
                    </table>
                </div>
                </div>
				</div>
         
		 </div>  
        </section>  
        <!-- <div class="target-sell"></div>-->
    </div>
  </div></div>
</div>
