
<?php 
$date = new Zend_Date();
$date->setTimezone("Asia/Calcutta");
$timestamp = $date->toString("yyyy-MM-dd HH:mm:ss");
$trans_date=date_parse_from_format("Y-m-d", $timestamp);
$day=$trans_date["day"];
$month= $trans_date["month"]+1;
$year= $trans_date["year"];?>

<div class="row" ng-controller="cmDefaulterReportEmailController">
<div class="page-content-wrapper">
    <div class="page-content">
    <div class="col-sm-12" style="margin-top:11px">
        <section class="panel">
            <header class="panel-heading">
                Select Site : <div class="btn-group" dropdown >
                        <button type="button" class="btn btn-success dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                          {{selected_site.site_name}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu scrollable-dropdown" role="menu" style="overflow-x: hidden;max-height: 200px;">
                          <li ng-repeat="site in sites"><a ng-click="selectSite(site);updateReport();">{{site.site_name}}</a></li>
                        </ul>
                      </div>
					  <div class="btn-group" style="float:right">
            <button type="button" class="btn btn-success " ng-click="convertToPdf()">Convert To PDF </button>
     		</div>
			<!-- <div style="float:right;margin-right:15px">
			  <input type="text" class="form-control" placeholder="Search record" ng-model="registerSearchQuery">
				</div>		-->		   
           	<div class="checkbox-list btn-group" >
                <label class="checkbox-inline">
                	 <input type="checkbox" ng-model="priority1" ng-checked='true' value="'Priority1'" ng-change="FilterData()" > Priority1 
              <label class="checkbox-inline">
              	<input type="checkbox" ng-model="priority2" ng-checked='true' value="'Priority2'"ng-change="FilterData()"  > Priority2 
                </label>
                <label class="checkbox-inline">
                	<input type="checkbox" ng-model="priority3" ng-checked='true' value="'Priority3'" ng-change="FilterData()"    > Priority3 
                  </label>
           <label class="checkbox-inline">
           	<input type="checkbox"  ng-model="notcycle" ng-checked='true' value="'Not paid in current cycle'" ng-change="FilterData()"  >Not Paid
              </label>
            <label class="checkbox-inline">
            		<input type="checkbox"  ng-model="blank" ng-checked='true' value="" ng-change="FilterData()"  >Blank
             </label>
		<label class="checkbox-inline">
            		<input type="checkbox"  ng-model="disconnected" ng-checked='true' value="Z-Disconnected" ng-change="FilterData()"  >Disconnected
             </label>
            </div>
            </header>
            
        <div id="cm_defaulter_email"> 
   
            <div class="panel-body">
            <div class="table-scrollable">
             <div class="adv-table">
                    
                    <table border=1 class="display table table-bordered" id="dynamic-table">
                        <tbody>
                            <tr>
                          <th colspan="7" rowspan="2">{{siteName}} </th>
                            <?php  if(($month >= 3) ){?>
                                <th colspan="9">Year:<?php echo $year; ?></th>
                             <tr>
                               <th colspan="3">{{months[<?php echo $month ; ?>-1]}}</th>
                               <th colspan="3">{{months[<?php echo $month ; ?>-2]}}</th>
               				   <th colspan="3">{{months[<?php echo $month ; ?>-3]}}</th>
               				 
                            </tr>
                             <?php } 
                                else if($month ==2) {?>
                                <th colspan="9"></th>
                               <tr>
                               <th colspan="3">{{months[<?php echo $month ; ?>-1]}}</th>
                               <th colspan="3">{{months[0]}}</th>
               				   <th colspan="3">{{months[11]}}</th>

                            </tr>
                              <?php } 
                                else if($month ==1) {?>
                                <th colspan="9"></th>
                               <tr>
                               <th colspan="3">{{months[<?php echo $month ; ?>-1]}}</th>
                               <th colspan="3">{{months[11]}}</th>
               				   <th colspan="3">{{months[10]}}</th>

                            </tr>
                                <?php  }?>
<!--                                 <th rowspan="3"width="70px">Grand Total</th>    -->
                            </tr>
                           
                            <tr>
                                <th width="10px">S.No.</th>
                                <th width="90px">Customer's Name</th>
                                <th width="140px">Connection ID</th>
                                <th width="70px">Issue Levels</th>
                                <th width="70px">Status</th>
                                <th width="70px">Total Pending Debits</th>
                                <th width="70px">Month of last payment</th>
                               
                                <th width="80px">Activation</th>
								  <th width="70px">Credit</th>
                                <th width="70px">Debit</th>
                              
                                
                                <th width="80px">Activation</th>
								  <th width="70px">Credit</th>
                                <th width="70px">Debit</th>
                              
                                
                                 <th width="80px">Activation</th>
								   <th width="70px">Credit</th>
                                <th width="70px">Debit</th>
                              
                            </tr>
                          <tr>
                                <th width="70px" colspan="5">Total</th>
                                <th width="70px" colspan="2">{{total_pending}}</th>

                                <th width="80px">{{total_act}}</th>
								  <th width="70px">{{total_cred}}</th>
                                <th width="70px">{{total_deb}}</th>
                              
                                <th width="80px">{{total_act1}}</th>
								  <th width="70px">{{total_cred1}}</th>
                                <th width="70px">{{total_deb1}}</th>
                                
                                <th width="80px">{{total_act2}}</th>
								  <th width="70px">{{total_cred2}}</th>
                                <th width="70px">{{total_deb2}}</th>
                               
                              
                            </tr>
                            </tbody>
                            <!-- Disabled infite scroll because api is fast enough now -->
                            <!-- <tbody infinite-scroll="nextReportPage()" infinite-scroll-disabled='busy' infinite-scroll-distance="10">-->
                            <tbody>
                            
                                <tr ng-repeat="entry in enteries">
                                    <td>{{$index+1}}</td>
                                    <td>{{entry.consumer_name}}</td>
                                    <td><a href="<?php echo $this->baseUrl(); ?>/consumers/view/id/{{entry.consumer_id}}">{{entry.consumer_connection_id}}</a></td>
                                    <td>{{entry.issue_level}}</td> 
                                    <td>{{entry.consumer_status}}</td> 
                                    
                                    <td>{{entry.pending}}</td>
                                    <td>{{entry.month}}</td> 
                                    
                                    <td>{{entry.total_activation}}</td>
									 <td>{{entry.total_credit}}</td>
                                    <td>{{entry.total_debit}}</td>
                                   
                                    
                                  <td>{{entry.total_activation1}}</td>
								   <td>{{entry.total_credit1}}</td>
                                    <td>{{entry.total_debit1}}</td>
                                   
                                   
                                  <td>{{entry.total_activation2}}</td>
								    <td>{{entry.total_credit2}}</td>
                                    <td>{{entry.total_debit2}}</td>
                                  
                                  
                                </tr>
                        </tbody>
                    </table>
                </div>
           </div>
		   </div>
          </div>  
        </section>  
        <!-- <div class="target-sell"></div>-->
    </div>
  </div></div>
</div>
