 <div class="row" ng-controller="cmNextMonthReportController">
<div class="page-content-wrapper">
    <div class="page-content">
    <div class="col-sm-12" style="margin-top:11px">
        <section class="panel">
            <header class="panel-heading">
                Select Site : <div class="btn-group" dropdown >
                        <button type="button" class="btn btn-success dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                          {{selected_site.site_name}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu scrollable-dropdown" role="menu" style="overflow-x: hidden;max-height: 200px;">
                          <li ng-repeat="site in sites"><a ng-click="selectSite(site);updateReport();">{{site.site_name}}</a></li>
                        </ul>
                      </div>
            <div class="btn-group" style="float:right">
           	 <button type="button" class="btn btn-success " ng-click="convertToPdf()">Convert To PDF </button>
     		</div>
            </header>
            
        <div id="test"> 
            <div class="panel-body">
              <div class="table-scrollable">  
                <div class="adv-table">
                    
                    <table border=1  width="100%" class="display table table-bordered" id="dynamic-table">
                        <tbody>
                            <tr>
                                <th colspan="4" rowspan="2">{{selected_site.site_name}}</th>
                                <th colspan="7">Month: <?php echo $this->monthName." ".$this->year; ?></th>
                              <!--  <th rowspan="3" width="70px">100 or 200 Due</th>-->
                                <th rowspan="3" width="70px">To Collect</th>
                               <!-- <th rowspan="3" width="90px">Total Activation</th>
                                <th rowspan="3" width="70px">Total Credit</th>
                                <th rowspan="3" width="70px">Total Debit</th>
                                <th rowspan="3"width="70px">Grand Total</th>-->   
                            </tr>
                            <tr>
                                <th colspan="3">OTP</th>
                                <th colspan="4">Monthly Charges</th>
                            </tr>
                            <tr>
                                <th width="10px">S.No.</th>
                                <th width="90px">Customer's Name</th>
                                <th width="140px">Connection ID</th>
                                <!--<th width="90px">Activation Due</th>-->
                                <th width="70px">Status</th>
                                <th width="60px">Prev Due</th>
                                <th width="50px">Paid</th>
                                <th width="70px">Due Carry Forward</th>
                                <th width="70px">Prev Due</th>
                                <th width="70px">Current Month</th>
                                <th width="70px">Paid</th>
                                <th width="70px">Due Carry Forward</th>
                            </tr>
                            <tr>
                                <th colspan="4">Total</th>
                                <th>{{total_otp_due_total}}</th>
                                <th>{{otp_in_total}}</th>
                                <th>{{otp_carry_forward_total}}</th>
                                <th>{{monthly_overdue_total}}</th>
                                <th>{{monthly_due_total}}</th>
                                <th>{{monthly_in_total}}</th>
                                <th>{{monthly_carry_forward_total}}</th>
                               <!--  <th>{{entry.due100}}</th>-->
                                <th>{{collection_amount_total}}</th>
                                <!--<th></th>
                                <th></th>
                                <th></th>
                                <th></th>-->
                            </tr>
                            </tbody>
                            <!-- Disabled infite scroll because api is fast enough now -->
                            <!-- <tbody infinite-scroll="nextReportPage()" infinite-scroll-disabled='busy' infinite-scroll-distance="10">-->
                            <tbody>
                                <tr ng-repeat="entry in enteries">
                                    <td>{{$index+1}}</td>
                                    <td>{{entry.consumer_name}}</td>
                                    <td><a href="<?php echo $this->baseUrl(); ?>/consumers/view/id/{{entry.consumer_id}}">{{entry.consumer_connection_id}}</a></td>
                                   <!-- <td>{{entry.consumer_act_charge}}</td>-->
                                     <td>{{entry.consumer_status}}</td>
                                   <td>{{entry.prev_due}}</td> 
                                    <!-- <td>{{entry.consumer_act_charge - entry.total_activation}}</td>-->
                                    <td>{{entry.paid}}</td>
                                    <td>{{entry.carry_forward}}</td>
                                   
                                    <td>{{entry.prev_due_month}}</td>
                                    <td>{{entry.debit_current_month}}</td>
                                    <td>{{entry.paid_current_month}}</td>
                                    <td>{{entry.monthly_carry_forward}}</td>
                                   <!-- <td>{{entry.due100}}</td>-->
                                    <td>{{entry.to_collect}}</td>
                                   <!-- <td>{{entry.total_activation}}</td>
		                            <td>{{entry.total_credit}}</td>
		                            <td>{{entry.total_debit}}</td>
		                             <td>{{entry.total_amount}}</td>-->
                                </tr>
                        </tbody>
                    </table>
                </div>
          </div>
		  </div>
          </div>  
        </section>  
        <!-- <div class="target-sell"></div>-->
    </div>
   </div></div>
</div>
