<div class="row" ng-controller="collectionSheetController">

<div class="page-content-wrapper">
	<div class="page-content">
		<div class="col-sm-12" style="margin-top:11px">
        	<section class="panel">
            <header class="panel-heading">
			<div class="row" > 
	 				<div class="col-md-4">
	   					<div id="reportrange" class="btn btn-success" >
			 				<i class="fa fa-calendar"></i> &nbsp;
							<span id="dateRange"> </span>
							<b class="fa fa-angle-down" ></b>
						</div>
  					</div>
				</div>
            	<div class="row">
            					<div class='col-md-4'>
            						<label class="control-label">States</label>
                                    <select id="Multiple_State"  class="select2" style="width:100%" name="state_id" ng-model="state_id" ng-change="updateSites()" placeholder="States"  multiple>
											<option value="{{state.state_id}}" ng-repeat="state in states">{{state.state_name}}</option>
	                                </select>
                                </div>
                                
                                <div class='col-md-4'>
            						<label class="control-label">Sites</label>
                                    <select id="Multiple_Site"  class="select2" style="width:100%" name="site_id" ng-model="site_id" ng-change="getPackages()" placeholder="Sites"  multiple>
										<option value="{{site.site_id}}" ng-repeat="site in sites">{{site.site_name}}</option>
	                                </select>
                                </div>
                                
                                <div class="col-md-4">
                                    <label class="control-label">Packaget Type </label>
                                    <select id="Multiple_Package_Type"  class="select2" style="width:100%" name="package_type" ng-model="package_type" ng-change="getPackages()"  placeholder="Package Type" multiple>
                                    	<option value="0">Prepaid</option>
 										<option value="1">Postpaid</option>
 										<option value="2">Mixmode</option>
                                 	 </select>
                                </div>
                  </div>
                  <div class="row">
                                 <div class='col-md-4'>
            					 	<label class="control-label">Packages</label>
                                    <select id="Multiple_Package"  class="select2" style="width:100%" name="package_id" ng-model="package_id" placeholder="Packages"  multiple>
										<option value="{{package.package_id}}" ng-repeat="package in packages">{{package.package_name}}</option>
	                                </select>
                                 </div>
                                 <div class='col-md-4'>
            					 	<label class="control-label">Consumer Type</label>
                                    <select id="Consumer_type"  class="select2" style="width:100%" name="consumer_type" ng-model="consumer_type"  multiple>
										<option value="{{consumerType.consumer_type_id}}" ng-repeat="consumerType in consumerTypes">{{consumerType.consumer_type_name}}</option>
	                                </select>
                                 </div>
                                 <!-- <div class='col-md-2' style="margin-top: 25px;">
            						<label class="control-label">Select Year </label>
                                    <div class="btn-group" dropdown>
			                            <button type="button" class="btn btn-success dropdown-toggle" dropdown-toggle ng-disabled="disabled">
			                                {{selected_year}} <span class="caret"></span>
			                            </button>
			                            <ul class="dropdown-menu" role="menu">
			                                <li ng-repeat="year in years"><a ng-click="selectYear(year);">{{year}}</a></li>
			                            </ul>
		                        	</div>
                  				  </div>-->
                  				   <div class='col-md-2' style="margin-top: 25px;">
            						<label class="control-label">File Type </label>
                  				  <div class="btn-group" dropdown >
	                                    <button type="button" class="btn btn-success dropdown-toggle" dropdown-toggle ng-disabled="disabled">
	                                        {{selected_format}} <span class="caret"></span>
	                                    </button>
	                                    <ul class="dropdown-menu" role="menu">
	                                        <li ng-repeat="format in formats"><a ng-click="selectFormat(format);">{{format}}</a></li>
	                                    </ul>
                                	</div>
                                	</div>
         </div>
         <div class="btn-group" style="margin-top:30px">
           	 <button type="button" class="btn btn-success " ng-click="convertToPdf()" >Financial Report</button>
     	</div>
        </header>
        </section>  
  </div>
   </div> </div>
    <!-- <div class="page-content-wrapper">
        <div class="page-content">
            <div class="col-sm-12" style="margin-top:11px">
                <section class="panel">
                    <header class="panel-heading">
                        <div class="btn-group" dropdown >
                              <button type="button" class="btn btn-success dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                                        {{selected_states.state_name}} <span class="caret"></span>
                               </button>
                               <ul class="dropdown-menu" role="menu">
                                        <li ng-repeat="state in states"><a ng-click="select_state(state);update_sites();">{{state.state_name}}</a></li>
                               </ul>
                         </div>
                        <select  ng-model="site_id"  style="width: 230px;" multiple="multiple" ft-select2 placeholder="Site Name">
								<optgroup ng-repeat="state in states" value="{{state.state_id}}"  label="{{state.state_name}}" >
										<option value="{{site.site_id}}" ng-repeat="site in sites" ng-if="state.state_id==site.state_id">{{site.site_name}}</option>
								</optgroup>
						</select>
                       
                        Select Year :
                        <div class="btn-group" dropdown>
                            <button type="button" class="btn btn-success dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                                {{selected_year}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="year in years"><a ng-click="selectYear(year);">{{year}}</a></li>
                            </ul>
                        </div>
                        <div class="btn-group"    style="margin-left: 100px;">
                            <label class="control-label">  <input type="checkbox" id="fixed_type" name="fixed_type" checked>
                                Fixed Package</label>
                        </div>&nbsp;
                        <div class="btn-group">
                            <label class="control-label">  <input type="checkbox" id="mm_type" name="mm_type">
                                Mixed Mode Package</label>
                        </div>&nbsp;
                        <div class="btn-group">
                            <label class="control-label">  <input type="checkbox" id="me_type" name="me_type">
                                ME Package</label>
                        </div>&nbsp;

                        <div class="btn-group" style="float:right">
                            <button type="button" class="btn btn-success " ng-click="convertToPdfs()">Historical Report</button>

                        </div>&nbsp;&nbsp;&nbsp;
                        <div class="btn-group" style="float:right;margin-right: 29px;">
                            <button type="button" class="btn btn-success " ng-click="convertToPdf()">Financial Report</button>
                        </div>
                    </header>


                </section>
               
            </div>

        </div></div>-->
</div>
<script>


</script>