 <div class="row" ng-controller="consumerProfileReportController">
<div class="page-content-wrapper">
    <div class="page-content">
    <div class="col-sm-12" style="margin-top:11px">
        <section class="panel">
            <header class="panel-heading">
            
             					 <div class="row" > 
	 								<div class="col-md-4">
	   								 <div id="reportrange" class="btn btn-success" >
			 						 <i class="fa fa-calendar"></i> &nbsp;
									 <span id="dateRange"> </span>
									 <b class="fa fa-angle-down" ></b>
								</div>
  								</div>
								</div>
            
                  			<div class="row">
            					<div class='col-md-4'>
            						<label class="control-label">States</label>
                                    <select id="Multiple_State"  class="select2" style="width:100%" name="state_id" ng-model="state_id" placeholder="States" ng-change="updateSites()"  multiple>
										<option value="{{state.state_id}}" ng-repeat="state in states">{{state.state_name}}</option>
	                                </select>
                                </div>
                                
                                <div class='col-md-4'>
            						<label class="control-label">Sites</label>
                                    <select id="Multiple_Site"  class="select2" style="width:100%" name="site_id" ng-model="site_id" ng-change="getPackages()" placeholder="Sites"  multiple>
										<option value="{{site.site_id}}" ng-repeat="site in sites">{{site.site_name}}</option>
	                                </select>
                                </div>
                                
                                <div class="col-md-4">
                                    <label class="control-label">Packaget Type </label>
                                    <select id="Multiple_Package_Type"  class="select2" style="width:100%" name="package_type" ng-model="package_type" ng-change="getPackages()" placeholder="Package Type" multiple>
                                    	<option value="0">Prepaid</option>
 										<option value="1">Postpaid</option>
 										<option value="2">Mixmode</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class='col-md-4'>
            						<label class="control-label">Packages</label>
                                    <select id="Multiple_Package"  class="select2" style="width:100%" name="package_id" ng-model="package_id" placeholder="Packages"  multiple>
										<option value="{{package.package_id}}" ng-repeat="package in packages">{{package.package_name}}</option>
	                                </select>
                                </div>
                                  
                                <div class="col-md-4">
                                    <label class="control-label">Status </label>
                                    <select id="Multiple_Status"  class="select2" style="width:100%" name="status" ng-model="status" placeholder="Status" multiple>
                                    	<option value="'new'">New</option>
                                    	<option value="'active'">Active</option>
 										<option value="'banned'">Banned</option>
 										<option value="'disabled'">Deleted</option>
 										<option value="'reactive'">Reactive</option>
                                    </select>
                                </div>
                                  
                                <div class="col-md-4">
                                    <label class="control-label">Upgrade/Downgrade </label>
                                    <select id="Multiple_Upgrade" class="select2" style="width:100%" name="upgrade_downgrade" ng-model="upgrade_downgrade" placeholder="Upgrade/Downgrade" multiple>
                                    	<option value="upgrade">Upgrade</option>
 										<option value="downgrade">Downgrade</option>
                                    </select>
                                </div>
                                
                             </div>
                                
                             <div class="row">
                                <div class="col-md-4">
                                	<label class="control-label">Gender </label>
                                	<select id="Multiple_Gender" class="select2" style="width:100%" name="gender" ng-model="gender" placeholder="Gender" multiple>
                                    	<option value="'male'">Male</option>
 										<option value="'female'">Female</option>
                                    </select>
                                </div>
                                
                                <div class="col-md-4">
                                	<label class="control-label">Feeder </label>
                               		<select id="Multiple_Feeder" class="select2" style="width:100%" name="feeder" ng-model="feeder" placeholder="Feeder" multiple>
                                    	<option value="'DD'">DD</option>
 										<option value="'DN'">DN</option>
 										<option value="'NN'">NN</option>
 										<option value="'ND'">ND</option>
                                    </select>
                                </div>
   
                                <div class="col-md-4">
                                	<label class="control-label">Equipment Type </label>
                                	<select id="Multiple_Equipment_Type" class="select2" style="width:100%" name="equipment_type" ng-model="equipment_type" placeholder="Equipment Type" multiple>
                                 		<option value="{{eqp_name.id}}" ng-repeat="eqp_name in equipments">{{eqp_name.name}}</option>
                                 	</select>
                                </div>
                           </div> 
                                 
                           <div class="row">
                                  <div class="col-md-4">
                                        <label class="control-label">No of Packages </label>
                                        <select	class="form-control input-circle"   name="no_of_packages" ng-model="no_of_packages" placeholder="No of Packages">
                                            <option value="1">1</option>
 											<option value="2">2</option>
 											<option value="3">3</option>
 											<option value="4">4</option>
 											<option value="5">5</option>
 											<option value="6">6</option>
 											<option value="7">7</option>
 											<option value="8">8</option>
 											<option value="9">9</option>
 											<option value="10">10</option>
                                           </select>
                                </div>
   								
            					<div class='col-md-4'>
            						<label class="control-label">Wattage</label>
                                    <select id="Multiple_Wattage"  class="select2" style="width:100%" name="wattage" ng-model="wattage" placeholder="Wattage"  multiple>
											<option value="{{wattage.watt_id}}" ng-repeat="wattage in wattages">{{wattage.wattage}}</option>
	                                </select>
                                </div>
            	
            					<div class='col-md-4'>
            						<label class="control-label">Scheme</label>
                                    <select id="Multiple_Scheme"  class="select2" style="width:100%" name="scheme" ng-model="scheme" placeholder="Scheme"  multiple>
											<option value="{{scheme.scheme_id}}" ng-repeat="scheme in schemes">{{scheme.scheme}}</option>
	                                </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class='col-md-4'>
            						<label class="control-label">Consumer Type</label>
                                      <select id="consumer_types" class="select2" style="width:100%" name="consumer_type" ng-model="consumer_type" ng-change="getConsumers()" placeholder="Type of Consumers" multiple>
                                       	<option value="{{consumerType.consumer_type_id}}" ng-repeat="consumerType in consumerTypes" >{{consumerType.consumer_type_name}}</option>
                                	  </select>
                                </div>
                            </div>		                
            <div class="btn-group" style="margin-top:30px">
           	 <button type="button" class="btn btn-success " ng-click="convertToPdf()" >Generate Summary</button>
     		</div>
     		
     	
            </header>
   
        </section>  
 
    </div>
   </div></div>
</div>








 