<div class="row" ng-controller="defaulterReportsController">
    <div class="col-sm-12" style="margin-top:11px">
        <section class="panel">
            <header class="panel-heading">
                 <b>Select Site : </b><div class="btn-group" dropdown >
                        <button type="button" class="btn btn-success dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                          {{selected_site.site_name}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu scrollable-dropdown" role="menu" style="overflow-x: hidden;max-height: 200px;">
                          <li ng-repeat="site in sites"><a ng-click="selectSite(site);updateReport();">{{site.site_name}}</a></li>
                        </ul>
                      </div>
          <b>Select Month : </b><div style="margin-bottom:6px;" class="btn-group" dropdown is-open="status.isopen">
                <button type="button" class="btn btn-success dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                    {{selected_month}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="month in months"><a ng-click="selectMonth(month);
                            updateReport();">{{month}}</a></li>
                </ul>
            </div>
            <b>Select Year : </b> <div class="btn-group" dropdown >
                <button type="button" class="btn btn-success dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                    {{selected_year}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="year in years"><a ng-click="selectYear(year);
                                          updateReport();">{{year}}</a></li>
                </ul>
            </div>
            
          
         </header>
            <div class="panel-body">
                 <div ng-show="selected_site.site_name !=null">
       				<h4><b>Defaulter Report for {{selected_site.site_name}} site for - {{selected_month}} {{selected_year}}</b></h4>
                 </div>
                  <div ng-show="selected_site.site_name ==null">
       				<h4><b>Please choose a site to view Defaulter Report for -  {{selected_month}} {{selected_year}}</b></h4>
                 </div>
                <div class="adv-table">
                    
                    <table  class="display table table-bordered" id="dynamic-table">
                        <tbody>
                         <tr>
                                <th colspan="3"></th>
                                <th colspan="2">Historic Accounts</th>
                                <th colspan="2">{{prev_month2}}</th>
                                <th colspan="2">{{prev_month1}}</th>
                                <th colspan="2">{{selected_month}}</th>
                                <th colspan="2">Carried Forward</th>
                            </tr>
                             <tr>
                                <th>Sl.No.</th>
                                <th>Consumer's NAME</th>
                                <th>Connection ID</th>
                                <th>Monthly Amount</th>
                                <th>Outstanding OTP</th>
                                <th>Monthly Due</th>
                                <th>Total Paid in Month</th>
                                <th>Monthly Due</th>
                                <th>Total Paid in Month</th>
                                <th>Monthly Due</th>
                                <th>Total Paid in Month</th>
                                <th>Monthly Amounts</th>
                                <th>OTP</th>
                            </tr>
                           
                        </tbody>
                            <!-- Disabled infite scroll because api is fast enough now -->
                            <tbody infinite-scroll="nextReportPage()" infinite-scroll-disabled='busy' infinite-scroll-distance="0"> 
                             <!--<tbody>-->
                           
                                <tr ng-repeat="entry in enteries | filter: greaterThan('carry_forward_amount', 0)| orderBy: '-carry_forward_amount'">
                                    <td>{{$index+1}}</td>
                                    <td>{{entry.consumer_name}}</td>
                                    <td><a href="<?php echo $this->baseUrl(); ?>/consumers/view/id/{{entry.consumer_id}}">{{entry.consumer_connection_id}}</a></td>
                                  <td>{{entry.debit_amount_history - entry.credit_amount_history}}</td>
                                  <td>{{entry.consumer_act_charge - entry.activation_amount_history}}</td>
                                  <td>{{entry.monthly_amount_prev2}}</td>
                                  <td>{{entry.total_paid_prev2}}</td>
                                  <td>{{entry.monthly_amount_prev1}}</td>
                                  <td>{{entry.total_paid_prev1}}</td>
                                  <td>{{entry.monthly_amount_current}}</td>
                                  <td>{{entry.total_paid_current}}</td>
                                 <td>{{entry.carry_forward_amount}}</td>
                                 <td>{{entry.carry_forward_otp}}</td>
                                </tr>
                                
                              <tr ng-show="enteries.length<=0" >
	                              <td colspan="13" align="center"> 
	                              <span class="label label-success"><b>No records found to display</b></span>
	                              </td>
                              </tr>
                        </tbody>
                    </table>
                </div>
            </div>
          <div class="panel-body">
                 <div ng-show="selected_site.site_name !=null">
       				<h4><b>OTP Defaulter Report for {{selected_site.site_name}} site for - {{selected_month}} {{selected_year}}</b></h4>
                 </div>
                  <div ng-show="selected_site.site_name ==null">
       				<h4><b>Please choose a site to view OTP Defaulter Report for -  {{selected_month}} {{selected_year}}</b></h4>
                 </div>
                <div class="adv-table">
                    
                    <table  class="display table table-bordered" id="dynamic-table">
                        <tbody>
                         <tr>
                                <th colspan="3"></th>
                                <th colspan="2">Historic Accounts</th>
                                <th colspan="2">{{prev_month2}}</th>
                                <th colspan="2">{{prev_month1}}</th>
                                <th colspan="2">{{selected_month}}</th>
                                <th colspan="2">Carried Forward</th>
                            </tr>
                             <tr>
                                <th>Sl.No.</th>
                                <th>Consumer's NAME</th>
                                <th>Connection ID</th>
                                <th>Monthly Amount</th>
                                <th>Outstanding OTP</th>
                                <th>Monthly Due</th>
                                <th>Total Paid in Month</th>
                                <th>Monthly Due</th>
                                <th>Total Paid in Month</th>
                                <th>Monthly Due</th>
                                <th>Total Paid in Month</th>
                                <th>Monthly Amounts</th>
                                <th>OTP</th>
                            </tr>
                           
                        </tbody>
                            <!-- Disabled infite scroll because api is fast enough now -->
                            <tbody infinite-scroll="nextReportPage()" infinite-scroll-disabled='busy' infinite-scroll-distance="0"> 
                             <!--<tbody>-->
                           
                                <tr ng-repeat="entry in enteries | filter: between('carry_forward_otp', 0,300)| orderBy: '-carry_forward_otp'">
                                  <td>{{$index+1}}</td>
                                  <td>{{entry.consumer_name}}</td>
                                  <td><a href="<?php echo $this->baseUrl(); ?>/consumers/view/id/{{entry.consumer_id}}">{{entry.consumer_connection_id}}</a></td>
                                  <td>{{entry.debit_amount_history - entry.credit_amount_history}}</td>
                                  <td>{{entry.consumer_act_charge - entry.activation_amount_history}}</td>
                                  <td>{{entry.monthly_amount_prev2}}</td>
                                  <td>{{entry.total_paid_prev2}}</td>
                                  <td>{{entry.monthly_amount_prev1}}</td>
                                  <td>{{entry.total_paid_prev1}}</td>
                                  <td>{{entry.monthly_amount_current}}</td>
                                  <td>{{entry.total_paid_current}}</td>
                                 <td>{{entry.carry_forward_amount}}</td>
                                 <td>{{entry.carry_forward_otp}}</td>
                                </tr>
                                
                              <tr ng-show="enteries.length<=0" >
	                              <td colspan="13" align="center"> 
	                              <span class="label label-success"><b>No records found to display</b></span>
	                              </td>
                              </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        
        </section>  
        <!-- <div class="target-sell"></div>-->
    </div>
</div>

    
