<div class="page-content-wrapper">
    <div class="page-content">
<div class="row">
    <div class="col-sm-12" style="margin-top:11px">
        <section class="panel">
            <header class="panel-heading">
                
            </header>
            <div class="panel-body">
                <h3><?php echo $this->string; ?></h3>
                <form action="" method="post" enctype="multipart/form-data">
                    <input type="file" name="csv"/>
                    <input type="submit" onclick="$('form').submit();" value="Upload"/>
                </form>
                <?php if($this->ids):?>
                <table>
                    <?php foreach($this->ids as $id): ?>
                    <tr>
                        <td><?php echo $id?></td>
                    </tr>
                    <?php endforeach;?>
                </table>
                <?php endif; ?>
            </div>
        </section>  
        <!-- <div class="target-sell"></div>-->
    </div>
</div>
</div>
</div>