 <div class="row" ng-controller="generationConsumptionReportController">
<div class="page-content-wrapper">
    <div class="page-content">
    <div class="col-sm-12" style="margin-top:11px">
        <section class="panel">
            <header class="panel-heading">
                 <div class="row" > 
	 								<div class="col-md-4">
	   								 <div id="reportrange" class="btn btn-success" >
			 						 <i class="fa fa-calendar"></i> &nbsp;
									 <span id="dateRange"> </span>
									 <b class="fa fa-angle-down" ></b>
								</div>
  								</div>
								</div>
            
                  				<div class="row">
	            					<div class='col-md-4'>
	            					<label class="control-label">States</label>
	                                    <select id="Multiple_State"  class="select2" style="width:100%" name="state_id" ng-model="state_id" placeholder="States" ng-change="updateSites()" multiple>
												<option value="{{state.state_id}}" ng-repeat="state in states">{{state.state_name}}</option>
		                                </select>
	                                </div>
	                                
	                                <div class='col-md-4'>
	            					<label class="control-label">Sites</label>
	                                    <select id="Multiple_Site"  class="select2" style="width:100%" name="site_id" ng-model="site_id"  placeholder="Sites"  multiple>
												<option value="{{site.site_id}}" ng-repeat="site in sites">{{site.site_name}}</option>
		                                </select>
	                                </div>
	                                
	                                <!-- <div class="col-md-4">
	                                        <label class="control-label">Packaget Type </label>
	                                        <select id="Multiple_Package_Type"  class="select2" style="width:100%" name="package_type" ng-model="package_type" ng-change="updatePackages()" placeholder="Package Type" multiple>
	                                            <option value="0">Prepaid</option>
	 											<option value="1">Postpaid</option>
	 											<option value="2">Mixmode</option>
	                                        </select>
	                                </div> -->
                                </div>
                                <div class="row">
                                 	<!-- <div class='col-md-4'>
	            					<label class="control-label">Packages</label>
	                                    <select id="Multiple_Package"  class="select2" style="width:100%" name="package_id" ng-model="package_id" ng-change="updatePackages()" placeholder="Packages"  multiple>
												<option value="{{package.package_id}}" ng-repeat="package in packages">{{package.package_name}}</option>
		                                </select>
	                                </div> -->
                                    <div class="col-md-4">
                                        <label class="control-label">Mppt </label>
                                        <select id="Multiple_Mppt"  class="select2" style="width:100%" name="mppt" ng-model="mppt" placeholder="Mppt" multiple>
                                            <option value="'MPPT 1'">MPPT 1</option>
 											<option value="'MPPT 2'">MPPT 2</option>
 											<option value="'MPPT 3'">MPPT 3</option>
 											<option value="'MPPT 4'">MPPT 4</option>
 											<option value="'MPPT 5'">MPPT 5</option>
 											<option value="'MPPT 6'">MPPT 6</option>
 											<option value="'MPPT 7'">MPPT 7</option>
 											<option value="'MPPT 8'">MPPT 8</option>
 											<option value="'MPPT 9'">MPPT 9</option>
 											<option value="'MPPT 10'">MPPT 10</option>
											<option value="'DG'">DG</option>
											<option value="'BIOGAS'">BIOGAS</option>
                                           </select>
                                	 </div> 
                                     <div class="col-md-2">
	                                        <label class="control-label">Mppt Unit </label>
	                                        <input type="text" class="form-control input-circle"   name="mppt_range" ng-model="mppt_range" placeholder="Mppt Unit">
	                                 </div>
	                                 <div class="col-md-2">
	                                        <label class="control-label">Mppt Condition </label>
	                                        <select type="text" class="form-control input-circle"   name="mppt_range_con" ng-model="mppt_range_con" placeholder="Mppt Range">
	                                            <option value="less">Less than equal(<=)</option>
	 											<option value="greater">Greater than equal(>=)</option>
	 										</select>
	                                 </div>
                                </div>
                                
                                <div class="row">
                                   <div class="col-md-4">
                                        <label class="control-label">Feeder </label>
                                        <select id="Multiple_Feeder"  class="select2" style="width:100%" name="feeder" ng-model="feeder" placeholder="Feeder" multiple>
                                            <option value="'FEEDAR1'">FEEDAR1 (Plant)</option>
 											<option value="'FEEDAR2'">FEEDAR2 (DD)</option>
 											<option value="'FEEDAR3'">FEEDAR3 (DD)</option>
 											<option value="'FEEDAR4'">FEEDAR4 (NN)</option>
 											<option value="'FEEDAR5'">FEEDAR5 (NN)</option>
											<option value="'FEEDAR6'">FEEDAR6 (DN)</option>
											<option value="'FEEDAR7'">FEEDAR7 (DN)</option>
											<option value="'FEEDAR8'">FEEDAR8 (DND)</option>
 											<option value="'FEEDAR9'">FEEDAR9  (DND)</option>
 											<option value="'FEEDAR10'">FEEDAR10 </option> 
 											<option value="'FEEDAR12'">FEEDAR12 (SP1)</option>
 											<option value="'FEEDAR13'">FEEDAR13 (SP2)</option>
											<option value="'FEEDAR14'">FEEDAR14 (SP3)</option>
											<option value="'FEEDAR15'">FEEDAR15 (SP4)</option>   
 										</select>
                                	</div>
                                    <div class="col-md-2">
                                        <label class="control-label">Feeder Unit </label> 
                                        <input type="text" class="form-control input-circle" name="feeder_range" ng-model="feeder_range" placeholder="Feeder Unit">
                                    </div>
                                 	<div class="col-md-2">
                                        <label class="control-label">Feeder Condition </label>
                                        <select type="text" class="form-control input-circle"   name="feeder_range_con" ng-model="feeder_range_con" placeholder="feeder Range">
                                            <option value="less">Less than equal(<=)</option>
 											<option value="greater">Greater than equal(>=)</option>
 										</select>
                                	</div>
                                 </div> 
								<div class="row">
									<div class="col-md-3">
										<div class="btn-group" style="margin-top:30px">
										 <button type="button" class="btn btn-success " ng-click="convertToExcel()">Generate Gen&Con Summary</button>
										</div>
									</div>
							 
									<div class="col-md-3">
										<div class="btn-group" style="margin-top:30px">
											<button type="button" class="btn btn-danger " ng-click="sparkMeterReport()">Sparkmeter Comparision Report</button>  
										</div>
									</div>
									<div class="col-md-3">
										<div class="btn-group" style="margin-top:30px">
											<button type="button" class="btn btn-info " ng-click="shutdownReport()">Plant Shutdown Report</button>  
										</div>
									</div>
								</div>
            </header>
   
        </section>  
   
    </div>
   </div></div>
</div>
