<div class="row" ng-controller="managerReportsController">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                
            </header>
            <div class="panel-body">
                <div class="adv-table">
                    <table  class="display table table-bordered" id="dynamic-table">
                        <tbody>
                            <tr>
                                <th rowspan="2" colspan="2"><?php echo $this->site->__get("site_name"); ?></th>
                                <th rowspan="2">Monthly Overdues</th>
                                <?php foreach($this->months as $month):?>
                                <th colspan='4'><?php echo $month; ?></th>
                                <?php endforeach; ?>
                            </tr>
                            <tr>
                                <?php foreach($this->months as $month):?>
                                <th colspan='2'>OTP</th>
                                <th colspan='2'>Monthly</th>
                                <?php endforeach; ?>
                            </tr>
                            <tr>
                                <th>Customer's Name</th>
                                <th>Connection ID</th>
                                <th></th>
                                <?php foreach($this->months as $month):?>
                                <th>Due</th>
                                <th>In</th>
                                <th>Due</th>
                                <th>In</th>
                                <?php endforeach; ?>
                            </tr>
                            </tbody>
                            <tbody infinite-scroll="nextReportPage()" infinite-scroll-disabled='busy' infinite-scroll-distance="0">
                                <tr>
                                    <th colspan="<?php echo (count($this->months)*4)+3?>">Unpaid Consumers</th>
                                </tr>
                            <tr ng-repeat="entry in unpaid_enteries" class="danger">
                                <td>{{entry.consumer_name}}</td>
                                <td>{{entry.consumer_connection_id}}</td>
                                <td>{{entry.overdue_amount}}</td>
                                <?php foreach($this->months as $month): ?>
                                <td>{{entry.months_data["<?php echo $month; ?>"].otp_due}}</td>
                                <td>{{entry.months_data["<?php echo $month; ?>"].otp_in}}</td>
                                <td>{{entry.months_data["<?php echo $month; ?>"].monthly_due}}</td>
                                <td>{{entry.months_data["<?php echo $month; ?>"].monthly_in}}</td>
                                <?php endforeach; ?>
                            </tr>
                            <tr>
                                    <th colspan="<?php echo (count($this->months)*4)+3?>">Paid Consumers</th>
                                </tr>
                                <tr ng-repeat="entry in paid_enteries">
                                <td>{{entry.consumer_name}}</td>
                                <td>{{entry.consumer_connection_id}}</td>
                                <td>{{entry.overdue_amount}}</td>
                                <?php foreach($this->months as $month): ?>
                                <td>{{entry.months_data["<?php echo $month; ?>"].otp_due}}</td>
                                <td>{{entry.months_data["<?php echo $month; ?>"].otp_in}}</td>
                                <td>{{entry.months_data["<?php echo $month; ?>"].monthly_due}}</td>
                                <td>{{entry.months_data["<?php echo $month; ?>"].monthly_in}}</td>
                                <?php endforeach; ?>
                            </tr>
                        

                        </tbody>
                    </table>
                </div>
            </div>
        </section>  
        <!-- <div class="target-sell"></div>-->
    </div>
</div>
