 <div class="row" ng-controller="meterReadingReportController">
<div class="page-content-wrapper">
    <div class="page-content">
    <div class="col-sm-12" style="margin-top:11px">
        <section class="panel">
            <header class="panel-heading">
            
             					 <div class="row" > 
	 								<div class="col-md-4">
	   								 <div id="reportrange" class="btn btn-success" >
			 						 <i class="fa fa-calendar"></i> &nbsp;
									 <span id="dateRange"> </span>
									 <b class="fa fa-angle-down" ></b>
								</div>
  								</div>
								</div>
            
                  <div class="row">
            					<div class='col-md-4'>
            					<label class="control-label">States</label>
                                    <select id="Multiple_State"  class="select2" style="width:100%" name="state_id" ng-model="state_id" ng-change="updateSites()" placeholder="States"  multiple>
											<option value="{{state.state_id}}" ng-repeat="state in states">{{state.state_name}}</option>
	                                </select>
                                </div>
                                
                                <div class='col-md-4'>
            					<label class="control-label">Sites</label>
                                    <select id="Multiple_Site"  class="select2" style="width:100%" name="site_id" ng-model="site_id" ng-change="getPackages();getConsumers()" placeholder="Sites"  multiple>
											<option value="{{site.site_id}}" ng-repeat="site in sites">{{site.site_name}}</option>
	                                </select>
                                </div>
                                
                                <div class="col-md-4">
                                    
                                        <label class="control-label">Packaget Type </label>
                                        <select id="Multiple_Package_Type"  class="select2" style="width:100%" name="package_type" ng-model="package_type" ng-change="getPackages();" placeholder="Package type" multiple>
                                            <option value="1">Postpaid</option>
 											<option value="2">Mixmode</option>
                                           </select>
                                </div>
                                </div>
                                <div class="row">
									<div class='col-md-4'>
										<label class="control-label">Packages</label>
										<select id="Multiple_Package"  class="select2" style="width:100%" name="package_id" ng-model="package_id" placeholder="Packages"  multiple>
												<option value="{{package.package_id}}" ng-repeat="package in packages">{{package.package_name}}</option>
										</select> 
									</div>
									
									<div class='col-md-4'>
										<label class="control-label">Consumers</label>
										<select id="Multiple_Consumer"  class="select2" style="width:100%" name="consumer_id" ng-model="consumer_id" placeholder="Consumers"  multiple>
												<option value="{{consumer.consumer_id}}" ng-repeat="consumer in consumers">{{consumer.consumer_name}}</option>
										</select>
									</div>
									 
									<div class="col-md-4">
										<label class="control-label">Filters </label>
										<select type="text" class="form-control input-circle"   name="filter" ng-model="filter" placeholder="Filters">
											<option value="month_wise_Consumption">Month Wise Unit Consumption</option>
											<option value="not_updated_MR">List Of Consumers Have Not Updated Meter Reading</option>
										</select>
									</div>
                                </div>
                            		                
            <div class="btn-group" style="margin-top:30px">
           	 <button type="button" class="btn btn-success " ng-click="convertToPdf()" >Generate Summary</button>
     		</div>
     		
     	
            </header>
   
        </section>  
 
    </div>
   </div></div>
</div>








