<div class="row" ng-controller="mismatchedValueReportsController">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                 <b>Select Site : </b><div class="btn-group" dropdown >
                        <button type="button" class="btn btn-success dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                          {{selected_site.site_name}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu scrollable-dropdown" role="menu">
                          <li ng-repeat="site in sites"><a ng-click="selectSite(site);updateReport();">{{site.site_name}}</a></li>
                        </ul>
                      </div>
                <b>From Date:</b>
				<div class="btn-group" dropdown >
                <div class="input-daterange" id="datepicker" my-datepicker >
                    <input type="text" class="form-control input-small" ng-change="updateReport();" name="start" ng-model="startdate" /></div>
                </div>
                 <b>To Date:</b>
                <div class="btn-group" dropdown >
                <div class="input-daterange" id="datepicker" my-datepicker >
                    <input type="text" class="form-control input-small" ng-change="updateReport();"  name="end" ng-model="enddate"   />
                </div>
                </div>
          
         </header>
            <div class="panel-body">
                 <div ng-show="selected_site.site_name !=null">
       				<h4><b>Mismatched value report for {{selected_site.site_name}} site from {{startdate}} to {{enddate}}</b></h4>
                 </div>
                  <div ng-show="selected_site.site_name ==null">
       				<h4><b>Please choose a site to view Mismatched value report from {{startdate}} to {{enddate}}</b></h4>
                 </div>
                <div class="adv-table">
                    
                    <table  class="display table table-bordered" id="dynamic-table">
                        <tbody>
                             <tr>
                                <th>Sl.No.</th>
                                <th>Consumer's NAME</th>
                                <th>Connection ID</th>
                                <th colspan="5">Connection Details</th>
                             </tr>
                        </tbody>
                            <!-- Disabled infite scroll because api is fast enough now -->
                            <tbody infinite-scroll="nextReportPage()" infinite-scroll-disabled='busy' infinite-scroll-distance="0"> 
                             <!--<tbody>-->
                             <tr ng-repeat="entry in enteries | filter: NotEqual('cashRegisters',0)">
                                    <td>{{$index+1}}</td>
                                    <td>{{entry.consumer_name}}</td>
                                    <td><a href="<?php echo $this->baseUrl(); ?>/consumers/view/id/{{entry.consumer_id}}">{{entry.consumer_connection_id}}</a></td>
                                	<td colspan="5">
                                	<table class="table table-bordered">
                                	<tr>
                                		 <th>Package charge</th>
                               			 <th>Actual charge</th>
                               			 <th>Type</th>
                               			 <th>Date/Time</th>
                           			</tr>
                           			<tr ng-repeat="cashEntry in entry.cashRegisters ">
                           			<td>{{cashEntry.package_cost}}</td>
                                	<td >{{cashEntry.cr_amount}}</td>
                                	<td><span class="" ng-class="{RECEIVED:'label label-info',PENALTY:'label label-info',ACTIVATION:'label label-info',DEBIT:'label label-danger',CREDIT:'label label-success',DISCOUNT:'label label-warning'
											}
									[cashEntry.cr_entry_type]">{{cashEntry.cr_entry_type}}</span></td>
									<td>{{cashEntry.timestamp}}</td>
									
								</tr>
                           </table>
                          </td>
                        </tr>
                              <tr ng-show="enteries.length<=0" ><td colspan="7" align="center"> <span class="label label-success"><b>No records found to display</b></span></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>  
        <!-- <div class="target-sell"></div>-->
    </div>
</div>

    
