<div class="row" ng-controller="monthlySalesDataController">
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="col-sm-12" style="margin-top:11px">
                <section class="panel">
                    <header class="panel-heading">
                    <div class="row">
						<div  class="col-sm-2"> 
							 <div class="btn-group" dropdown>
								<button type="button" class="btn btn-success dropdown-toggle" dropdown-toggle ng-disabled="disabled">
									{{selected_month}} <span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li ng-repeat="month in months"><a ng-click="selectMonth(month);">{{month}}</a></li>
								</ul>
							</div>  
						</div>  
                        <div  class="col-sm-2"> 
							 <div class="btn-group" dropdown >
								<button type="button" class="btn btn-success dropdown-toggle" dropdown-toggle ng-disabled="disabled">
									{{selected_year}} <span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li ng-repeat="year in years"><a ng-click="selectYear(year);">{{year}}</a></li>
								</ul>
							</div> 
						</div> 
						<div  class="col-sm-3"> 
							<div class="btn-group">
								<button type="button" class="btn btn-primary" ng-click="SalesData()">Monthly Sales Report</button>
							</div>
                        </div>
                        <div  class="col-sm-3"> 
							<div class="btn-group">
								<button type="button" class="btn btn-warning" ng-click="ConsumerData()">Consumers Report</button> 
							</div>
                        </div>
                        <div  class="col-sm-2"> 
							<div class="btn-group">
								<button type="button" class="btn btn-danger" ng-click="PlantData()">Daily Plant Report</button>
							</div>
						</div>
						</div>
                    </header>
 			 	</section>
           </div>
 		</div> 
 	</div>
</div>
