 <div class="row" ng-controller="newConsumerStaticsController">
<div class="page-content-wrapper">
    <div class="page-content">
    <div class="col-sm-12" style="margin-top:11px">
        <section class="panel">
            <header class="panel-heading">
              
                  			<div class="row">
            					<div class='col-md-2'>
            						<select id="Multiple_State"  class="select2" style="width:100%" name="state_id" ng-model="state_id" placeholder="States" ng-change="updateSites()"  multiple>
										<option value="{{state.state_id}}" ng-repeat="state in states">{{state.state_name}}</option>
	                                </select>
                                </div>
                                
                                <div class='col-md-3'>
            						<select id="Multiple_Site"  class="select2" style="width:100%" name="site_id" ng-model="site_id" placeholder="Sites"  multiple>
										<option value="{{site.site_id}}" ng-repeat="site in sites">{{site.site_name}}</option>
	                                </select>
                                </div>
								<div class="col-md-3"> 
									<div id="reportrange" class="btn btn-success">
										<i class="fa fa-calendar"></i> &nbsp;
										<span id="dateRange"> </span>
										<b class="fa fa-angle-down" ></b>
									</div>
								</div>
							</div>
							<div class="row">
								<div class='col-md-3'>
									<button type="button" class="btn btn-info" ng-click="convertToPdf()">New Consumer Statics</button>
								</div>
								<div class='col-md-3'>
									<button type="button" class="btn btn-warning" ng-click="site_wiseconsumer_report()">Site-wise Consumer Report</button>
								</div>	
								<div class='col-md-3'>
									<button type="button" class="btn btn-danger" ng-click="gen_con_report()">Gen & Con Report</button>
								</div>
							</div>
            </header>
            
     
        </section>  
        <!-- <div class="target-sell"></div>-->
    </div>
   </div></div>
</div>
