 <div class="row" ng-controller="packageSummaryReportController">
<div class="page-content-wrapper">
    <div class="page-content">
    <div class="col-sm-12" style="margin-top:11px">
        <section class="panel">
            <header class="panel-heading">
                   Select Month :   <div class="btn-group" dropdown>
                                    <button type="button" class="btn btn-success dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                                        {{selected_month}} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li ng-repeat="month in months"><a ng-click="selectMonth(month);">{{month}}</a></li>
                                    </ul>
                                </div>
                    Select Year :                
                                <div class="btn-group" dropdown >
                                    <button type="button" class="btn btn-success dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                                        {{selected_year}} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li ng-repeat="year in years"><a ng-click="selectYear(year);">{{year}}</a></li>
                                    </ul>
                                </div>
            
            <div class="btn-group" style="float:right">
           	 <button type="button" class="btn btn-success " ng-click="convertToPdf()">Generate Summary</button>
     		</div>
            </header>
            
     <!--    <div id="test"> 
         <?php  date_default_timezone_set('Asia/Kolkata');?>
          <h4><center><b>Package Summary for <?php echo date('F, Y') ?></b> </center></h4>
            <div class="panel-body">
              <div class="table-scrollable">  
                <div class="adv-table">
               
                 <div ng-repeat="site in sites">
                 <h4><b>{{site.site_name}}</b></h4>
                  
                    <table width="100%">
                    <tr><td>
	                     <table border=1  width="25%" class="display table table-bordered" id="dynamic-table">
	                        <tbody>
	                            <tr>
	                                <th>Package</th>
	                                <th>No.</th>
	                                <th>Bill Amt</th>
	                            </tr>
	                            <tr>
	                                <td>APsdsd</td>
	                                <td>25</td>
	                                <td>255</td>
	                            </tr>
	                              <tr>
	                                 <td>APsdsd</td>
	                                <td>25</td>
	                                <td>255</td>
	                            </tr>
	                            <tr>
	                                <td>APsdsd</td>
	                                <td>25</td>
	                                <td>255</td>
	                            </tr>
	                             <tr>
	                                <td>APsdsd</td>
	                                <td>25</td>
	                                <td>255</td>
	                            </tr>
	                            </tbody>
	                         </table>
                    	 
                    	 
	                     <table border=1 width="25%" class="display table table-bordered" id="dynamic-table">
	                        <tbody>
	                        	<tr>
	                                <th colspan="2"><b>Upgrades</b></th>
	                            </tr>
	                            <tr>
	                                <th>From</th>
	                                <th>To</th>
	                            </tr>
	                            <tr>
	                                <td>APsdsd</td>
	                                <td>25</td>
	                                
	                            </tr>
	                              <tr>
	                                 <td>APsdsd</td>
	                                <td>25</td>
	                                
	                            </tr>
	                              <tr>
	                                <td>APsdsd</td>
	                                <td>25</td>
	                                 
	                            </tr>
	                            </tbody>
	                         </table>
                    	   
	                     <table border=1  width="25%" class="display table table-bordered" id="dynamic-table">
	                        <tbody>
	                        	<tr>
	                                <th colspan="2"><b>Downgrades</b></th>
	                            </tr>
	                            <tr>
	                                <th>From</th>
	                                <th>To</th>
	                            </tr>
	                            <tr>
	                                <td>APsdsd</td>
	                                <td>25</td>
	                                
	                            </tr>
	                              <tr>
	                                 <td>APsdsd</td>
	                                <td>25</td>
	                                
	                            </tr>
	                              <tr>
	                                <td>APsdsd</td>
	                                <td>25</td>
	                                
	                            </tr>
	                            </tbody>
	                         </table>
                    	  
	                     <table border=1  width="25%" class="display table table-bordered" id="dynamic-table">
	                        <tbody>
	                       		 <tr>
	                                <th colspan="2"><b>Disconnections</b></th>
	                            </tr>
	                            <tr>
	                                <th>From</th>
	                                <th>To</th>
	                            </tr>
	                            <tr>
	                                <td>APsdsd</td>
	                                <td>25</td>
	                                 
	                            </tr>
	                              <tr>
	                                 <td>APsdsd</td>
	                                <td>25</td>
	                                
	                            </tr>
	                              <tr>
	                                <td>APsdsd</td>
	                                <td>25</td>
	                                
	                            </tr>
	                            </tbody>
	                         </table>
                    	 </td></tr></table>
                 </div> 
                </div>
          </div>
		  </div>
          </div>  -->
        </section>  
        <!-- <div class="target-sell"></div>-->
    </div>
   </div></div>
</div>
