 <div class="row" ng-controller="packageReportController">
<div class="page-content-wrapper">
    <div class="page-content">
    <div class="col-sm-12" style="margin-top:11px">
        <section class="panel">
            <header class="panel-heading">
            
             					 <div class="row" > 
	 								<div class="col-md-4">
	   								 <div id="reportrange" class="btn btn-success" >
			 						 <i class="fa fa-calendar"></i> &nbsp;
									 <span id="dateRange"> </span>
									 <b class="fa fa-angle-down" ></b>
								</div>
  								</div>
								</div>
            
                  <div class="row">
            					<div class='col-md-4'>
            					<label class="control-label">States</label>
                                    <select id="Multiple_State"  class="select2" style="width:100%" name="state_id" ng-model="state_id" ng-change="updateSites()" placeholder="States"  multiple>
											<option value="{{state.state_id}}" ng-repeat="state in states">{{state.state_name}}</option>
	                                </select>
                                </div>
                                
                                <div class='col-md-4'>
            					<label class="control-label">Sites</label>
                                    <select id="Multiple_Site"  class="select2" style="width:100%" name="site_id" ng-model="site_id" ng-change="getPackages()" placeholder="Sites"  multiple>
											<option value="{{site.site_id}}" ng-repeat="site in sites">{{site.site_name}}</option>
	                                </select>
                                </div>
                                
                                <div class="col-md-4">
                                    
                                        <label class="control-label">Packaget Type </label>
                                        <select id="Multiple_Package_Type"  class="select2" style="width:100%" name="package_type" ng-model="package_type" ng-change="getPackages()"  placeholder="Package Type" multiple>
                                            <option value="0">Prepaid</option>
 											<option value="1">Postpaid</option>
 											<option value="2">Mixmode</option>
                                           </select>
                                </div>
                                </div>
                                <div class="row">
                                 <div class='col-md-4'>
            					<label class="control-label">Packages</label>
                                    <select id="Multiple_Package"  class="select2" style="width:100%" name="package_id" ng-model="package_id" placeholder="Packages"  multiple>
											<option value="{{package.package_id}}" ng-repeat="package in packages">{{package.package_name}}</option>
	                                </select>
                                </div>
                                  
                                  <div class="col-md-4">
                                        <label class="control-label">Status </label>
                                        <select id="Multiple_Status"  class="select2" style="width:100%" name="status" ng-model="status" placeholder="Status" multiple>
                                            <option value="'enable'">Enable</option>
 											<option value="'disable'">Disable</option>
 										</select>
                                </div>
                                
                                <div class='col-md-4'>
            					<label class="control-label">Wattage</label>
                                    <select id="Multiple_Wattage"  class="select2" style="width:100%" name="wattage" ng-model="wattage" placeholder="Wattage"  multiple>
											<option value="{{wattage.watt_id}}" ng-repeat="wattage in wattages">{{wattage.wattage}}</option>
	                                </select>
                                </div>
                                  
                                  </div>
                                		                
            <div class="btn-group" style="margin-top:30px">
           	 <button type="button" class="btn btn-success " ng-click="convertToPdf()" >Generate Summary</button>
     		</div>
     		
     	
            </header>
   
        </section>  
 
    </div>
   </div></div>
</div>








