<div class="row" ng-controller="recancellationReportController">

<div class="page-content-wrapper">
  <div class="page-content">
    <div class="col-sm-12" style="margin-top:11px">
          <section class="panel">
            <header class="panel-heading">
              <div class="row">
                <div class='col-md-4'>
                  <label class="control-label">States</label>
                    <select id="Multiple_State"  class="select2" style="width:100%" name="state_id" ng-model="state_id" ng-change="selectState(state);updateSites();" placeholder="States"  multiple>
                      <option value="{{state.state_id}}" ng-repeat="state in states">{{state.state_name}}</option>
                    </select>
                </div>
                
                <div class='col-md-4'>
                  <label class="control-label">Sites</label>
                  <select id="Multiple_Site" class="select2" style="width:100%" name="site_id" ng-model="site_id" ng-change="filterAgent()" placeholder="Sites"  multiple>
                    <option value="{{site.site_id}}" ng-repeat="site in sites">{{site.site_name}}</option>
                  </select>
                </div>
                
                <div class='col-md-4'>
                  <label class="control-label">Agents</label>
                    <select id="Multiple_agent"  class="select2" style="width:100%" name="collection_agent_id" ng-model="collection_agent_id" placeholder="Agents"  multiple required>
                      <option value="{{agent.collection_agent_id}}" ng-repeat="agent in agents">{{agent.agent_fname}}</option>
                    </select>
                </div>
              
              </div>
              <div class="row">
                
	                <div class='col-md-4'>
	                  <label class="control-label">Select Format </label>
	                  <div class="btn-group" dropdown >
	                    <button type="button" class="btn btn-success dropdown-toggle" dropdown-toggle ng-disabled="disabled">
	                      {{selected_format}} <span class="caret"></span>
	                    </button>
	                    <ul class="dropdown-menu" role="menu">
	                      <li ng-repeat="format in formats"><a ng-click="selectFormat(format);">{{format}}</a></li>
	                    </ul>
	                  </div>
	                </div>
	                
	                <div class="col-md-4">
		   				<div id="reportrange" class="btn btn-success" >
				 			<i class="fa fa-calendar"></i> &nbsp;
							<span id="dateRange"> </span>
							<b class="fa fa-angle-down" ></b>
						</div>
	  				</div>
  				
              </div>
         <div class="btn-group" style="margin-top:30px">
             <button type="button" class="btn btn-success " ng-click="convertToPdf()" >Recancellation Report</button>
      </div>
        </header>
        </section>  
  </div>
   </div> </div>
   
</div>
<script>


</script>