 <div class="row" ng-controller="revenueReportController">
<div class="page-content-wrapper">
    <div class="page-content">
    <div class="col-sm-12" style="margin-top:11px">
        <section class="panel">
            <header class="panel-heading">
                  <div class="row" > 
	 								<div class="col-md-4">
	   								 <div id="reportrange" class="btn btn-success" >
			 						 <i class="fa fa-calendar"></i> &nbsp;
									 <span id="dateRange"> </span>
									 <b class="fa fa-angle-down" ></b>
								</div>
  								</div>
								</div>
            
                  				<div class="row">
	            					<div class='col-md-4'>
	            						<label class="control-label">States</label>
	                                    <select id="Multiple_State"  class="select2" style="width:100%" name="state_id" ng-model="state_id"  ng-change="updateSites()" placeholder="States"  multiple>
												<option value="{{state.state_id}}" ng-repeat="state in states">{{state.state_name}}</option>
		                                </select>
	                                </div>
                                
	                                <div class='col-md-4'>
	            						<label class="control-label">Sites</label>
	                                    <select id="Multiple_Site"  class="select2" style="width:100%" name="site_id" ng-model="site_id" ng-change="getPackages()" placeholder="Sites"  multiple>
												<option value="{{site.site_id}}" ng-repeat="site in sites">{{site.site_name}}</option>
		                                </select>
	                                </div>
                                
	                                <div class="col-md-4">
	                                    	<label class="control-label">Packaget Type </label>
	                                        <select id="Multiple_Package_Type"  class="select2" style="width:100%" name="packaget_type" ng-model="packaget_type" ng-change="getPackages()" placeholder="Packaget Type" multiple>
	                                            <option value="0">Prepaid</option>
	 											<option value="1">Postpaid</option>
	 											<option value="2">Mixmode</option>
	                                         </select>
	                                </div>
                                </div>
                                <div class="row">
                                 	 <div class='col-md-4'>
	            						<label class="control-label">Packages</label>
	                                    <select id="Multiple_Package"  class="select2" style="width:100%" name="package_id" ng-model="package_id" placeholder="Packages"  multiple>
												<option value="{{package.package_id}}" ng-repeat="package in packages">{{package.package_name}}</option>
		                                </select>
                                	 </div>
                                     <div class="col-md-4">
	                                        <label class="control-label">Status</label>
	                                        <select id="Multiple_Status"  class="select2" style="width:100%" name="status" ng-model="status" placeholder="Status" multiple>
	                                            <option value="'ACTIVE'">Approved</option>
	 											<option value="'INACTIVE'">Rejected</option>
	 											<option value="'PENDING'">Pending</option>
	                                        </select>
	                                 </div>
                                     <div class='col-md-4'>
	            						<label class="control-label">Collection Agent</label>
	                                    <select id="Multiple_Collection_Agent"  class="select2" style="width:100%" name="collection_agent" ng-model="collection_agent" placeholder="Collection Agent"  multiple>
												<option value="{{collection_agent.collection_agent_id}}" ng-repeat="collection_agent in collection_agents">{{collection_agent.agent_fname}}</option>
		                                </select>
	                                 </div>
                                 </div>
                                
                                <div class="row">
                                <div class='col-md-4'>
									<label class="control-label">Type</label>
                                    <select id="Multiple_Type"  class="select2" style="width:100%" name="type" ng-model="type" placeholder="Type"  multiple>
											<option value="'ACT'">ACT</option>
 											<option value="'CHG'">CHG</option>
 											<option value="'EED'">EED</option>
 											<option value="'MED'">MED</option>
 											<option value="'OTHERS'">OTHERS</option>
 											<option value="'WATER'">WATER</option>
 									</select>
                                </div>
                                
                                <div class="col-md-4">
                                        <label class="control-label">Outstanding </label>
                                        <select type="text" class="form-control input-circle" name="outstanding" ng-model="outstanding" placeholder="Outstanding">
                                            <option value="0">Zero (0) </option>
 											<option value="1">Increment (+)</option>
 											<option value="2">Decrement (-)</option>
 										</select>
                                </div>
                                
                               <!--   <div class="col-md-4">
                                        <label class="control-label">Not Paid from month</label>
                                        <input type="number" class="form-control input-circle" name="not_paid" ng-model="not_paid" placeholder="Not Paid">
                                           
                                         
                                </div> -->
                                </div>
                                
                            
          					  <div class="btn-group" style="margin-top:30px">
           						 <button type="button" class="btn btn-success " ng-click="convertToPdf()">Generate Summary</button>
     					</div>
           				 </header>
   
        </section>  
   
    </div>
   </div></div>
</div>
