<style>
input{
    width: 80px;
    height: 32px;
    border: none;
   } 
</style>
<script type="text/ng-template" id="copyRevenueTarget.html">
    <div class="modal-header">
    <h3 class="modal-title">Do you want to copy this to the remaining months</h3>
    </div>
    <div class="modal-footer">
    <button class="btn btn-primary" ng-click="yes()">Yes</button>
    <button class="btn btn-warning" ng-click="no()">No</button>
    </div>
</script>

<div class="row" ng-controller="revenueTargetController">
<div class="page-content-wrapper">
    <div class="page-content">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
              <div class="row">
                 <div class="col-md-2">
                     <div class="form-group">
                 		 <label class="control-label"><b>Year:</b></label>
                 		<div class="btn-group" dropdown >
                        <button type="button" class="btn btn-success dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                            {{selected_year}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="year in years"><a ng-click="selectYear(year);changeDates();">{{year}}</a></li>
                        </ul>
                      </div>
 					</div>
 				 </div>
				 <div class="col-md-2">
                     <div class="form-group"> 
                	 	<label class="control-label"><b>Budget/Actual</b></label>
	                	<select class="form-control input-circle" id="type_id"  ng-model="type_id" name="type_id" ng-change="runFunction()">
							<option value="Budget">Budget</option>
							<option value="Actual">Actual</option> 
						</select>
                     </div>
                 </div>
 				 <div class="col-md-2">
                     <div class="form-group">
                	 	<label class="control-label"><b>Select Budget</b></label>
	                	<select class="form-control input-circle" id="menu_id"  ng-model="menu_id" name="menu_id" ng-change="changeOpex()">
							<option value="{{opex.id}}" ng-repeat="opex in opexes">{{opex.types_of_cost}}</option>
						</select> 
                     </div>
                 </div>
                       
                 <div class="col-md-2">
                     <div class="form-group">
                     	<label class="control-label"><b>Type</b></label>
                     	<select class="form-control input-circle" id="submenu_id"  ng-model="submenu_id" name="submenu_id" ng-change="changeSubmenu()">
							<option value="{{submenu.id}}" ng-repeat="submenu in submenus">{{submenu.types_of_cost}}</option>
					  	</select>
					  </div>
				 </div>
					  
				<div class="col-md-3">
                	<div class="form-group">
                    	<label class="control-label"><b>Sub Type</b></label>
                     	<select class="form-control input-circle" id="childmenu_id"  ng-model="childmenu_id" name="childmenu_id" ng-change="changeChildmenu()">
							<option value="{{childmenu.id}}" ng-repeat="childmenu in childmenus">{{childmenu.types_of_cost}}</option>
					  	</select>
                    </div>
                </div>
           </div>
 
         </header>
            <div class="panel-body">
                <div class="table-scrollable">    
                <div class="adv-table">
                     <center><h3 style="color: #8e44ad;"><b>{{type_id}} -> {{name_of_budget}}</b></h3></center>
                    <table  class="display table table-bordered" id="dynamic-table">
                        <tbody>
                             <tr>
                                <th colspan="3" rowspan="2">Sites Details</th>
                                <th colspan="3">Q-1</th>
                                <th colspan="3">Q-2</th>
                                <th colspan="3">Q-3</th>
                                <th colspan="3">Q-4</th>
                                <th></th>
                                <th colspan="2" rowspan="2">Action</th>
                            </tr>
                            <tr >
                          		<th>{{allDates[0].timestamp}} </th>
                          		<th>{{allDates[1].timestamp}} </th>
                          		<th>{{allDates[2].timestamp}} </th>
                          		<th>{{allDates[3].timestamp}} </th>
                          		<th>{{allDates[4].timestamp}} </th>
                          		<th>{{allDates[5].timestamp}} </th>
                          		<th>{{allDates[6].timestamp}} </th>
                          		<th>{{allDates[7].timestamp}} </th>
                          		<th>{{allDates[8].timestamp}} </th>
                          		<th>{{allDates[9].timestamp}} </th>
                          		<th>{{allDates[10].timestamp}} </th>
                          		<th>{{allDates[11].timestamp}} </th>
                          		<th >Total</th>
                            </tr>
                         
                        </tbody>
                        
                            <tbody> 
<!--                           <tr > -->
<!--                            <td rowspan="25">Bihar</td> -->
                           <!-- <td rowspan="11">UP</td> -->
<!--                           </tr> -->
                             
                             <tr ng-repeat="item in revenueTargets"  ng-init="dataIndex = $index" >
                             
                              <td>{{$index+1}}</td>
                              <td>{{item.site_name}}</td>
                              <td>{{item.state_name}}</td> 
                              <td><input type="number" class="site_{{item.site_id}}" ng-model="item.revenue[0].target" readonly="readonly"></td>
                              <td><input type="number" class="site_{{item.site_id}}" ng-model="item.revenue[1].target" readonly="readonly"></td>
                              <td><input type="number" class="site_{{item.site_id}}" ng-model="item.revenue[2].target" readonly="readonly"></td>
                              <td><input type="number" class="site_{{item.site_id}}" ng-model="item.revenue[3].target" readonly="readonly"> </td>
                              <td><input type="number" class="site_{{item.site_id}}" ng-model="item.revenue[4].target" readonly="readonly"></td>
                              <td><input type="number" class="site_{{item.site_id}}" ng-model="item.revenue[5].target" readonly="readonly"></td>
                              <td><input type="number" class="site_{{item.site_id}}" ng-model="item.revenue[6].target" readonly="readonly"></td>
                              <td><input type="number" class="site_{{item.site_id}}" ng-model="item.revenue[7].target" readonly="readonly"></td>
                              <td><input type="number" class="site_{{item.site_id}}" ng-model="item.revenue[8].target" readonly="readonly"></td>
                              <td><input type="number" class="site_{{item.site_id}}" ng-model="item.revenue[9].target" readonly="readonly"></td>
                              <td><input type="number" class="site_{{item.site_id}}"  ng-model="item.revenue[10].target" readonly="readonly"></td>
                              <td><input type="number" class="site_{{item.site_id}}" ng-model="item.revenue[11].target" readonly="readonly"></td>
                              <td><span>{{ item.revenue[0].target + item.revenue[1].target  + item.revenue[2].target + item.revenue[3].target + item.revenue[4].target + item.revenue[5].target + item.revenue[6].target + item.revenue[7].target + item.revenue[8].target + item.revenue[9].target + item.revenue[10].target + item.revenue[11].target }} </span></td>
                              
                              <td><a data-toggle="tooltip" data-placement="top" title="Edit All Entry" class="btn default btn-xs blue"  ng-click="editRecords(item,item.revenue,dataIndex)">Edit </a></td>
                              <td> <a data-toggle="tooltip" data-placement="top" title="Save Entry" class="btn default btn-xs blue" ng-click="saveRecords(item,item.revenue,dataIndex,revenueTargets.opex)">Save</a></td>
                                   
							              </tr>
                            <tr ng-show="sites.length<=0" ><td colspan="16" align="center"> <span class="label label-success"><b>No records found to display</b></span></td></tr>
                        </tbody>
                    </table>
                </div> </div>
            </div>
        </section>  
        <!-- <div class="target-sell"></div>-->
    </div>
</div>
</div></div>
    
