<div class="row" ng-controller="schemeReportController">
	<div class="page-content-wrapper">
		<div class="page-content">
			<div class="col-sm-12" style="margin-top:11px">
				<section class="panel">
					<header class="panel-heading">
								<div class="row">
	            					<div class='col-md-3'>
	            						<label class="control-label">States</label>
	                                    <select id="Multiple_State"  class="select2" style="width:100%" name="state_id" ng-model="state_id"  ng-change="updateSites()" multiple>
												<option value="{{state.state_id}}" ng-repeat="state in states">{{state.state_name}}</option>
		                                </select>
	                                </div>
									
	                                <div class='col-md-3'>
	            						<label class="control-label">Sites</label>
	                                    <select id="Multiple_Site"  class="select2" style="width:100%" name="site_id" ng-model="site_id" multiple>
												<option value="{{site.site_id}}" ng-repeat="site in sites">{{site.site_name}}</option>
		                                </select>
	                                </div>
									<div class="col-md-3">
										<div id="reportrange" class="btn btn-success" style="margin-top:24px">
											<i class="fa fa-calendar"></i> &nbsp;
											<span id="dateRange"> </span>
											<b class="fa fa-angle-down" ></b>
										</div>
									</div>
									<div class='col-md-3'>
										<div class="btn-group" style="margin-top:24px">  
											<button type="button" class="btn btn-success" ng-click="convertToPdf()">Generate Summary</button>
										</div>
									</div>
									
                                </div>
                                
					</header>
				</section>  
			</div>
		</div>
	</div>
</div>
