<div class="row" ng-controller="monthlyConsumerReportController">
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="col-sm-12" style="margin-top:11px">
                <section class="panel">
                    <header class="panel-heading">
                   
                        Select Month :   <div class="btn-group" dropdown>
                            <button type="button" class="btn btn-success dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                                {{selected_month}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="month in months"><a ng-click="selectMonth(month);">{{month}}</a></li>
                            </ul>
                        </div>
                        Select Year :
                        <div class="btn-group" dropdown >
                            <button type="button" class="btn btn-success dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                                {{selected_year}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="year in years"><a ng-click="selectYear(year);">{{year}}</a></li>
                            </ul>
                        </div>
                        Select Format :
 							<div class="btn-group" dropdown >
                                    <button type="button" class="btn btn-success dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                                        {{selected_format}} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li ng-repeat="format in formats"><a ng-click="selectFormat(format);">{{format}}</a></li>
                                    </ul>
                                </div>
                        <div class="btn-group" style="float:right">
                            <button type="button" class="btn btn-success " ng-click="convertToPdf()">Generate Report</button>
                        </div>
                    </header>


                </section>
                <!-- <div class="target-sell"></div>-->
            </div>

        </div></div>
</div>
