	<div class="page-content-wrapper" ng-controller="taraurjaProductiveReportController">
		<div class="page-content">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-gift"></i>TARAurja Productive Reports
					</div>
				</div>
				<div class="portlet-body form">
					<form class="form-horizontal" id="taraurjaForms" name="taraurjaForms"  novalidate >
					<div class="form-body">
						<div class="form-group">
                            <label class="col-md-3 control-label">States</label>
                            <div class="col-md-4">
								<select id="Multiple_State"  class="select2" style="width:100%" name="state_id" ng-model="state_id" placeholder="All States" ng-change="updateSites()" multiple>
									<option value="{{state.state_id}}" ng-repeat="state in states">{{state.state_name}}</option>
								</select>
							</div>
                        </div>     
						
                        <div class="form-group">
                            <label class="col-md-3 control-label">Sites</label>
                            <div class="col-md-4">
								<select id="Multiple_Site"  class="select2" style="width:100%" name="site_id" ng-model="site_id"  placeholder="All Sites"  multiple>
									<option value="{{site.site_id}}" ng-repeat="site in sites">{{site.site_name}}</option>
								</select>
							</div>
                        </div>
						<div class="form-group">
                            <label class="col-md-3 control-label">Date-Range</label>
                            <div class="col-md-4">
								<div id="reportrange" class="btn btn-success">
									<i class="fa fa-calendar"></i> &nbsp;
									<span id="dateRange"> </span>
									<b class="fa fa-angle-down"></b>
								</div>
							</div>
                        </div>
                    </div>	
                    <div class="form-actions">
                        <div class="row">
							<div class="col-md-3">
								<div class="btn-group">
									<button type="button" class="btn btn-success " ng-click="productiveLoad()">Productive Load - Summary</button>
								</div>
							</div>
							<div class="col-md-3">
								<div class="btn-group">
									<button type="button" class="btn btn-danger " ng-click="medSummary()">MED - Summary</button>  
								</div>
							</div>
							<div class="col-md-3">
								<div class="btn-group">
									<button type="button" class="btn btn-info " ng-click="eedSummary()">EED - Summary</button>  
								</div>
							</div>
							<div class="col-md-3">
								<div class="btn-group">
									<button type="button" class="btn btn-warning " ng-click="plantPerformance()">Plant Performance</button>  
								</div>
							</div>
						</div>
                    </div>	
					</form>
								<!--<div class="row">
	            					<div class='col-md-3'>
										<select id="Multiple_State"  class="select2" style="width:100%" name="state_id" ng-model="state_id" placeholder="All States" ng-change="updateSites()" multiple>
												<option value="{{state.state_id}}" ng-repeat="state in states">{{state.state_name}}</option>
		                                </select>
	                                </div>
	                                
	                                <div class='col-md-4'>
										<select id="Multiple_Site"  class="select2" style="width:100%" name="site_id" ng-model="site_id"  placeholder="All Sites"  multiple>
												<option value="{{site.site_id}}" ng-repeat="site in sites">{{site.site_name}}</option>
		                                </select>
	                                </div>
									<div class="col-md-4">
										<div id="reportrange" class="btn btn-success">
											<i class="fa fa-calendar"></i> &nbsp;
											<span id="dateRange"> </span>
											<b class="fa fa-angle-down"></b>
										</div>
									</div>
                                </div>
                                 
								<div class="row" >
									<div class="col-md-3">
										<div class="btn-group">
										 <button type="button" class="btn btn-success " ng-click="productiveLoad()">Productive Load - Summary</button>
										</div>
									</div>
							 
									<div class="col-md-3">
										<div class="btn-group">
											<button type="button" class="btn btn-danger " ng-click="medSummary()">MED - Summary</button>  
										</div>
									</div>
									<div class="col-md-3">
										<div class="btn-group">
											<button type="button" class="btn btn-info " ng-click="eedSummary()">EED - Summary</button>  
										</div>
									</div>
									<div class="col-md-3">
										<div class="btn-group">
											<button type="button" class="btn btn-warning " ng-click="plantPerformance()">Plant Performance</button>  
										</div>
									</div>
								</div>-->
				</div>
			</div>
	   </div>
	</div>
