<?php
$controller = Zend_Controller_Front::getInstance()->getRequest()->getControllerName();
$action = Zend_Controller_Front::getInstance()->getRequest()->getActionName();
?>
<?php $auth = new My_Auth("admin"); ?>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="ThemeBucket">
        <link rel="shortcut icon" href="<?php echo $this->baseUrl(); ?>/images/favicon.html">
        <title>Admin Panel | TARA MUB</title>

        <link href="<?php echo $this->baseUrl(); ?>/bs3/css/bootstrap.min.css" rel="stylesheet">
        <link href="<?php echo $this->baseUrl(); ?>/css/bootstrap-reset.css" rel="stylesheet">
        <link href="<?php echo $this->baseUrl(); ?>/assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>

        <link href="<?php echo $this->baseUrl(); ?>/css/style.css" rel="stylesheet">
        <link href="<?php echo $this->baseUrl(); ?>/css/style-responsive.css" rel="stylesheet"/>

        <!--dynamic table-->
        <link href="<?php echo $this->baseUrl(); ?>/assets/advanced-datatable/media/css/demo_page.css" rel="stylesheet" />
        <link href="<?php echo $this->baseUrl(); ?>/assets/advanced-datatable/media/css/demo_table.css" rel="stylesheet" />
        <link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/assets/data-tables/DT_bootstrap.css" />

        <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/assets/jquery-multi-select/css/multi-select.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/assets/select2-master/select2.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/assets/bootstrap-datepicker/css/datepicker.css" />
        <link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/assets/bootstrap-switch-master/build/css/bootstrap3/bootstrap-switch.css" />
        <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
        <link href="<?php echo $this->baseUrl(); ?>/assets/data-tables/tabletools/css/TableTools.css" type="text/css" rel="stylesheet"/>

<!--[if lt IE 9]><script src="<?php echo $this->baseUrl(); ?>/js/ie8/ie8-responsive-file-warning.js"></script><![endif]-->

        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
            <![endif]-->
    </head>
    <body class="full-width" onload="startTime()">
        <section id="container" class="hr-menu"> 

            <header class="header fixed-top">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle hr-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="fa fa-bars"></span>
                    </button>


                    <div class="brand ">
                        <a href="<?php echo $this->baseUrl(); ?>/admin" class="logo">
                            <img src="<?php echo $this->baseUrl(); ?>/images/TARA-OORJA-Logo.jpg" width="200px;">
                        </a>
                    </div>


                    <div class="horizontal-menu navbar-collapse collapse ">
                        <ul class="nav navbar-nav">
                            <?php $array = array("index"); ?>
                            <li <?php
                            if (in_array($controller, $array)) {
                                echo "class=active";
                            } else {
                                echo "class=inactive";
                            }
                            ?>><a href="<?php echo $this->baseUrl(); ?>/admin">Dashboard</a></li>
                            <li <?php $array = array("cash-register"); ?>
                            <?php
                            if (in_array($controller, $array)) {
                                echo "class=active";
                            } else {
                                echo "class=inactive";
                            }
                            ?>
                                ><a href="<?php echo $this->baseUrl(); ?>/admin/cash-register/">Cash Register</a></li>

                            
                                <li 
                                <?php $array = array("admins", "users", "payments", "consumers", "sites", "packages", "cash-flow"); ?>
                                <?php
                                if (in_array($controller, $array)) {
                                    echo "class='dropdown active-drop'";
                                } else {
                                    echo "class='dropdown inactive'";
                                }
                                ?>>
                                    <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#">Manage <b class=" fa fa-angle-down"></b></a>
                                    <ul class="dropdown-menu">
                                        <?php if ($auth->getIdentity()->admin_role === "superadmin"): ?>
                                            <li><a href="<?php echo $this->baseUrl(); ?>/admin/admins">Admins</a></li>
                                        <?php endif; ?>
                                        <?php if ($auth->getIdentity()->admin_role === "admin" or $auth->getIdentity()->admin_role === "superadmin"): ?>    
                                            <!--    
                                                <li><a href="<?php echo $this->baseUrl(); ?>/admin/users">Users</a></li>
                                                <li><a href="<?php echo $this->baseUrl(); ?>/admin/payments/">Payments</a></li>
                                            -->
                                            <li><a href="<?php echo $this->baseUrl(); ?>/admin/consumers">Consumers</a></li>
                                            <!--<li><a href="<?php echo $this->baseUrl(); ?>/admin/cluster-managers">Cluster Managers</a></li>
                                            <li><a href="<?php echo $this->baseUrl(); ?>/admin/mapping-cluster-site">Mapping Cluster Site</a></li>-->
                                            <li><a href="<?php echo $this->baseUrl(); ?>/admin/sites">Sites</a></li>
                                            <li><a href="<?php echo $this->baseUrl(); ?>/admin/packages">Packages</a></li>
                                            <li><a href="<?php echo $this->baseUrl(); ?>/admin/cash-flow/">Cash Flow</a></li>
                                            <li><a href="<?php echo $this->baseUrl(); ?>/admin/collection-agents/">Collection Agents</a></li>
                                            <li><a href="<?php echo $this->baseUrl(); ?>/admin/ca-transactions/">CA Transactions</a></li>
                                        <?php endif; ?>
                                    </ul>
                                </li>
                        
                            <li <?php $array = array("reports"); ?>
                            <?php
                            if (in_array($controller, $array)) {
                                echo "class='dropdown active-drop'";
                            } else {
                                echo "class='dropdown inactive'";
                            }
                            ?>>
                                <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#">Reports <b class=" fa fa-angle-down"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="<?php echo $this->baseUrl(); ?>/admin/reports/earnings">Site Wise Earning</a></li>
                                    <li><a href="<?php echo $this->baseUrl(); ?>/admin/reports/defaulters">Defaulters</a></li>
                                    <li><a href="<?php echo $this->baseUrl(); ?>/admin/reports/money-collected">Money Collected</a></li>
                                    <li><a href="<?php echo $this->baseUrl(); ?>/admin/reports/consumers">Consumers</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="top-nav hr-top-nav">

                        <ul class="nav pull-right top-menu">
                            <li class="dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="<?php echo $this->baseUrl(); ?>/#">
                                    <img alt="" src="">
                                    <span class="username"><?php
                                if ($auth->hasIdentity()) {
                                    echo $auth->getIdentity()->admin_fname . " " . $auth->getIdentity()->admin_lname;
                                }
                            ?></span>
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu extended logout">
                                    <li><a href="<?php echo $this->baseUrl(); ?>/admin/settings"><i class="fa fa-cog"></i> Settings</a></li>
                                    <li><a href="<?php echo $this->baseUrl(); ?>/admin/auth/logout"><i class="fa fa-key"></i> Log Out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

            </header>

            <section id="main-content">
                <section class="wrapper"> 
                    <?php echo $this->layout()->content; ?>
                </section>
            </section>


            <footer class="footer-section">
                <div class="text-center">
                    2014 &copy; TARA MUB
                    <a href="<?php echo $this->baseUrl(); ?>/#" class="go-top">
                        <i class="fa fa-angle-up"></i>
                    </a>
                </div>
            </footer>

        </section>


        <!--Core js-->
        <script src="<?php echo $this->baseUrl(); ?>/js/lib/jquery.js"></script>
        <script>
            $(document).ready(function(){
                $(".delete").click(function(e){  
                    e.preventDefault();
                    var id = $(this).attr("data-id");
                    $(".id").val(id);
                    $('#deleteModal').modal('show');
                });
                $(".suspend").click(function(e){  
                    e.preventDefault();
                    var id = $(this).attr("data-id");
                    $(".id").val(id);
                    $('#suspendModal').modal('show');
                });
                $(".editSite").click(function(e){  
                    e.preventDefault();
                    var site_id = $(this).attr("data-id");
                    $.ajax({
                        type: "POST",
                        url: "<?php echo $this->baseUrl(); ?>/admin/ajax/get-site-by-id/",
                        data: {site_id:site_id}
                    }).done(function( msg ) {
                        var obj = jQuery.parseJSON(msg);
                        if(obj.meta.code===200)
                        {
                        
                            $("#editSiteName").val(obj.data.site_name);
                            $(".site_id").val(obj.data.site_id);
                        }
                        $('#editModal').modal('show');
                    });
                });
                $(".editPackage").click(function(e){  
                    e.preventDefault();
                    var id = $(this).attr("data-id");
                    $.ajax({
                        type: "POST",
                        url: "<?php echo $this->baseUrl(); ?>/admin/ajax/get-package-by-id/",
                        data: {id:id}
                    }).done(function( msg ) {
                        var obj = jQuery.parseJSON(msg);
                        if(obj.meta.code===200)
                        {
                        
                            $("#editPackageName").val(obj.data.package_name);
                            $("#editPackageCost").val(obj.data.package_cost);
                            $("#editPackageDetails").val(obj.data.package_details);
                            $(".id").val(obj.data.package_id);
                        }
                        $('#editModal').modal('show');
                    });
                });
        
                $(".editConsumer").click(function(e){
                    e.preventDefault();
                    var id = $(this).attr("data-id");
                    $.ajax({
                        url:'<?php echo $this->baseUrl(); ?>/admin/ajax/get-consumer-by-id',
                        type:'POST',
                        data:{id:id}
                    }).done(function( msg ){
                        var obj = jQuery.parseJSON(msg);
                        if(obj.meta.code==200)
                        {
                            $("#editconsumer_code").val(obj.data.consumer_code);
                            $("#editconsumer_connection_id").val(obj.data.consumer_connection_id);
                            $("#editconsumer_name").val(obj.data.consumer_name);
                            $("#editconsumer_father_name").val(obj.data.consumer_father_name);
                            $("#editconsumer_act_date").val(obj.data.consumer_act_date);
                            $("#editconsumer_act_charge").val(obj.data.consumer_act_charge);
                            $("#e5").val(obj.data.site_id);
                            $("#e6").val(obj.data.package_id);
                            $("#e7").val(obj.data.consumer_status);
                            $(".id").val(obj.data.consumer_id);
                            $("#e5").select2();
                            $("#e6").select2();
                            $("#e7").select2();
                        }
                    });
                    $('#editModal').modal('show');
                });
        
                $(".editAdmin").click(function(e){
                    e.preventDefault();
                    var id = $(this).attr("data-id");
                    $.ajax({
                        url:'<?php echo $this->baseUrl(); ?>/admin/ajax/get-admin-by-id',
                        type:'POST',
                        data:{id:id}
                    }).done(function( msg ){
                        var obj = jQuery.parseJSON(msg);
                        if(obj.meta.code===200){
                            $("#editusername").val(obj.data.username);
                            $("#editadmin_fname").val(obj.data.admin_fname);
                            $("#editadmin_lname").val(obj.data.admin_lname);
                            $("#editadmin_email").val(obj.data.admin_email);
                            $("#editadmin_role").val(obj.data.admin_role);
                            $("#editadmin_role").select2();
                            $(".id").val(obj.data.admin_id);
                        }
                    });
                    $("#editModal").modal('show');
                });
        
        
                $(".editClusterSiteMapping").click(function(e){
                    e.preventDefault();
                    
                    var id = $(this).attr("data-id");
                    
                    $.ajax({
                        url:'<?php echo $this->baseUrl(); ?>/admin/ajax/get-mapping-cluster-by-id',
                        type:'POST',
                        data:{id:id}
                    }).done(function( msg ){
                        //alert(msg);
                        var obj = jQuery.parseJSON(msg);
                        if(obj.meta.code===200){
                            $("#editsite_id").val(obj.data.site_id);
                            $("#editsite_id").select(obj.data.site_id);
                            $("#editcluster_id").val(obj.data.cluster_manager_id);
                            $(".id").val(obj.data.id);
                            $("#editModal").modal('show');
                        }
                    });
                    
                });
        
        
                $(".editClusterManager").click(function(e){
                    e.preventDefault();
                    var id = $(this).attr("data-id");
                    $.ajax({
                        url:'<?php echo $this->baseUrl(); ?>/admin/ajax/get-cluster-manager-by-id',
                        type:'POST',
                        data:{id:id}
                    }).done(function( msg ){
                
                        var obj = jQuery.parseJSON(msg);
                        if(obj.meta.code===200){
                            $("#editcluster_name").val(obj.data.name);
                            $("#editcluster_phone").val(obj.data.phone);
                            $("#editcluster_email").val(obj.data.email);
                             
                    
                            $(".id").val(obj.data.id);
                        }
                    });
                    $("#editModal").modal('show');
                });
        
                $(".editAdminPass").click(function(e){
                    e.preventDefault();
                    var id = $(this).attr("data-id");
                    $(".id").val(id);
                    $("#editModalPass").modal('show');
                });
        
                $(".editUser").click(function(e){
                    e.preventDefault();
                    var id = $(this).attr("data-id");
                    $.ajax({
                        url:'<?php echo $this->baseUrl(); ?>/admin/ajax/get-user-by-id',
                        type:'POST',
                        data:{id:id}
                    }).done(function( msg ){
                        var obj = jQuery.parseJSON(msg);
                        if(obj.meta.code===200){
                            $("#editusername").val(obj.data.username);
                            $("#edituser_fname").val(obj.data.user_fname);
                            $("#edituser_lname").val(obj.data.user_lname);
                            $("#edituser_email").val(obj.data.user_email);
                            $("#editphone").val(obj.data.phone);
                            $(".id").val(obj.data.user_id);
                        }
                    });
                    $("#editModal").modal('show');
                });
        
                $(".editUserPass").click(function(e){
                    e.preventDefault();
                    var id = $(this).attr("data-id");
                    $(".id").val(id);
                    $("#editModalPass1").modal('show');
                });
        
                $(".editCr").click(function(e){
                    e.preventDefault();
                    var id = $(this).attr("data-id");
                    $.ajax({
                        url:'<?php echo $this->baseUrl(); ?>/admin/ajax/get-entry-type-by-id',
                        type:'POST',
                        data:{id:id}
                    }).done(function( msg ){
                        var obj = jQuery.parseJSON(msg);
                        if(obj.meta.code===200){
                            $("#e1").val(obj.data.consumer_id);
                            $("#e2").val(obj.data.user_id);
                            $("#e4").val(obj.data.cr_entry_type);
                            $("#editcr_amount").val(obj.data.cr_amount);
                            $("#editreceipt_number").val(obj.data.receipt_number);
                            $("#e1").select2();
                            $("#e2").select2();
                            $("#e4").select2();
                            $(".id").val(obj.data.cr_id);
                        }
                    });
                    $("#editModal").modal('show');
                });
        
                $(".refundCr").click(function(e){
                    e.preventDefault();
                    var id = $(this).attr("data-id");
                    $(".id").val(id);
                    $("#refundModal").modal('show');
                });
        
                $("#e7").change(function(){
                    var optionselected = $(this).find("option:selected");
                    if(optionselected.val()==="active"){
                        $("#actDate").show();
             
                    }
                    else{
                        $("#actDate").hide();
                    }
                });
        
                $(".default-date-picker").datepicker({format: 'dd/mm/yyyy'});
        
                $("#select_column").change(function(){
                    var optionselected = $(this).find("option:selected");
                    if(optionselected.val()==="user_id"){
                        $.ajax({
                            url:'<?php echo $this->baseUrl(); ?>/admin/ajax/get-all-users'
                    
                        }).done(function( data ){
                            var obj = jQuery.parseJSON(data);
                            var html =  "<select class=\"form-control m-bot15\" name=\"column_value\" style='width:90%' >";
                            $.each(obj.data,function(index,v){
                                html = html+"<option value="+v.user_id+">"+v.user_fname+" "+v.user_lname+"</option>";
                            });
                            html = html + "</select>";
                            $("#select_box").html(html);
                        });
                    }
                    else if(optionselected.val()==="consumer_id"){
                        $.ajax({
                            url:'<?php echo $this->baseUrl(); ?>/admin/ajax/get-all-consumers',
                    
                        }).done(function( data ){
                            var obj = jQuery.parseJSON(data);
                            var html =  "<select class=\"form-control m-bot15\" name=\"column_value\" style='width:90%' >";
                            $.each(obj.data,function(index,v){
                                html = html+"<option value="+v.consumer_id+">"+v.consumer_name+"</option>";
                            });
                            html = html + "</select>";
                            $("#select_box").html(html);
                        });   
                    }
                    else{
                        html = "<input type=\"textbox\" name=\"column_value\" class=\"form-control\" id=\"column_value\" placeholder=\"Enter here\" />"; 
                        $("#select_box").html(html);
                    }
                });
                $("#generate-backup").click(function(){
                    $.ajax({
                        url:'<?php echo $this->baseUrl(); ?>/admin/ajax/generate-backup/',
                        type:'POST'
                    }).done(function( msg ){
                        var obj = jQuery.parseJSON(msg);
                        if(obj.meta.code===200){
                            $("#download-link").html("Export file generated. <a href='<?php echo $this->baseUrl(); ?>/db-backup.sql'>Click here</a> to download.");
                        }
                    });
                });
                $("#add-more-fields").click(function(){
                    $(".emails").append("<div class='form-group'><label class='sr-only' for='backup_email'>Enter Backup Email</label><input type='textbox' name='backup_email[]' class='form-control' id='backup_email' placeholder='Enter Backup Email' required value=''/><input type='hidden' name='setting_id[]' value='none'/></div>");
                });
                $('#dynamic-table').dataTable( {
        
                    "aaSorting": [],
                    "sDom": 'T<"clear">lfrtip',
                    "oTableTools": {
                        "sSwfPath": "<?php echo $this->baseUrl(); ?>/assets/data-tables/tabletools/swf/copy_csv_xls_pdf.swf"
                    }
                } );
                $('.dynamic-table1').dataTable( {
        
                    "aaSorting": [],
                    "sDom": 'T<"clear">lfrtip',
                    "oTableTools": {
                        "sSwfPath": "<?php echo $this->baseUrl(); ?>/assets/data-tables/tabletools/swf/copy_csv_xls_pdf.swf"
                    }
                } );

            });
    
        </script>
        <script>
            $(".editCa").click(function(e){
                e.preventDefault();
                var id = $(this).attr("data-id");
                //alert(id);
      
                $.ajax({
                    url:'<?php echo $this->baseUrl(); ?>/admin/ajax/get-collection-agent',
                    type:'POST',
                    data:{id:id}
                }).done(function( msg ){
                    var obj = jQuery.parseJSON(msg);
               
                    if(obj.meta.code=== "200"){
                        $("#editmobile").val(obj.data.agent_mobile);
                        $("#editfname").val(obj.data.agent_fname);
                        $("#editlname").val(obj.data.agent_lname);
                        $("#editactiveOption").val(obj.data.agent_status);
                        $("#editbalance").val(obj.data.agent_balance);
                        $(".id").val(obj.data.id);
                        $("#editModal").modal('show');
                    }
               
               
                });
      
      
            });
        </script>
        <script>
            $(".editCat").click(function(e){
                e.preventDefault();
                var id = $(this).attr("data-id");
    
                $.ajax({
                    url:'<?php echo $this->baseUrl(); ?>/admin/ajax/get-ca-transaction',
                    type:'POST',
                    data:{id:id}
                }).done(function( msg ){
                    var obj = jQuery.parseJSON(msg);
               
               
                    if(obj.meta.code=== "200"){
                        $("#editcollectionmobile").val(obj.data.collection_agent_id);
                        $("#edittransactiontype").val(obj.data.transaction_type);
                        $("#editamount").val(obj.data.transaction_amount);
                        $("#editremark").val(obj.data.remarks);
                        $(".id").val(obj.data.id);
                        $("#editModal").modal('show');
                    }
                });
            });
            
            function startTime() {
                var today=new Date();
                var h=today.getHours();
                var m=today.getMinutes();
                var s=today.getSeconds();
                m = checkTime(m);
                s = checkTime(s);
                document.getElementById('txt').innerHTML = h+":"+m+":"+s;
                var t = setTimeout(function(){startTime()},500);
            }

            function checkTime(i) {
                if (i<10) {i = "0" + i};  // add zero in front of numbers < 10
                return i;
            }
        </script>

        <script src="<?php echo $this->baseUrl(); ?>/bs3/js/bootstrap.min.js"></script>
        <script class="include" type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/accordion-menu/jquery.dcjqaccordion.2.7.js"></script>
        <script src="<?php echo $this->baseUrl(); ?>/js/scrollTo/jquery.scrollTo.min.js"></script>
        <script src="<?php echo $this->baseUrl(); ?>/js/nicescroll/jquery.nicescroll.js" type="text/javascript"></script>
        <!--Easy Pie Chart-->
        <script src="<?php echo $this->baseUrl(); ?>/assets/easypiechart/jquery.easypiechart.js"></script>
        <!--Sparkline Chart-->
        <script src="<?php echo $this->baseUrl(); ?>/assets/sparkline/jquery.sparkline.js"></script>
        <!--jQuery Flot Chart-->
        <script src="<?php echo $this->baseUrl(); ?>/assets/flot-chart/jquery.flot.js"></script>
        <script src="<?php echo $this->baseUrl(); ?>/assets/flot-chart/jquery.flot.tooltip.min.js"></script>
        <script src="<?php echo $this->baseUrl(); ?>/assets/flot-chart/jquery.flot.resize.js"></script>
        <script src="<?php echo $this->baseUrl(); ?>/assets/flot-chart/jquery.flot.pie.resize.js"></script>

        <script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/assets/jquery-multi-select/js/jquery.multi-select.js"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/assets/jquery-multi-select/js/jquery.quicksearch.js"></script>
        <script src="<?php echo $this->baseUrl(); ?>/assets/select2-master/select2.js"></script>
        <script src="<?php echo $this->baseUrl(); ?>/js/select2/select-init.js"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/assets/bootstrap-switch-master/build/js/bootstrap-switch.js"></script>

        <!--Morris Charts-->
        <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
        <script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>

        <!--dynamic table-->
        <script type="text/javascript" language="javascript" src="<?php echo $this->baseUrl(); ?>/assets/advanced-datatable/media/js/jquery.dataTables.js"></script>
        <script src="<?php echo $this->baseUrl(); ?>/assets/data-tables/tabletools/js/TableTools.min.js"></script>       
        <script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/assets/data-tables/DT_bootstrap.js"></script>
        <!--common script init for all pages-->
        <script src="<?php echo $this->baseUrl(); ?>/js/scripts.js"></script>

        <!--dynamic table initialization -->
        <script src="<?php echo $this->baseUrl(); ?>/js/dynamic_table/dynamic_table_init.js"></script>


        <?php echo $this->layout()->earningsGraphJS; ?>
        <?php echo $this->layout()->consumersGraphJS; ?>
        <?php echo $this->layout()->defaultersGraphJS; ?>
        <?php echo $this->layout()->activeConsumersGraphJS; ?>
        <?php echo $this->layout()->totalActiveConsumersGraphJS; ?>
        <?php echo $this->layout()->siteAmountGraphJS; ?>
    </body>

</html>
