<?php 
    $controller = Zend_Controller_Front::getInstance()->getRequest()->getControllerName(); 
    $action = Zend_Controller_Front::getInstance()->getRequest()->getActionName(); 
?>

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="ThemeBucket">
<link rel="shortcut icon" href="<?php echo $this->baseUrl(); ?>/images/favicon.html">
<title>User Panel | TARA MUB</title>
 
<link href="<?php echo $this->baseUrl(); ?>/bs3/css/bootstrap.min.css" rel="stylesheet">
<link href="<?php echo $this->baseUrl(); ?>/css/bootstrap-reset.css" rel="stylesheet">
<link href="<?php echo $this->baseUrl(); ?>/assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
 
<link href="<?php echo $this->baseUrl(); ?>/css/style.css" rel="stylesheet">
<link href="<?php echo $this->baseUrl(); ?>/css/style-responsive.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/assets/jquery-multi-select/css/multi-select.css" />
<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/assets/select2-master/select2.css" /> 
<!--[if lt IE 9]><script src="js/ie8/ie8-responsive-file-warning.js"></script><![endif]-->
 
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body class="full-width">
<section id="container" class="hr-menu"> 

<header class="header fixed-top">

<div class="navbar-header">
    <button type="button" class="navbar-toggle hr-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="fa fa-bars"></span>
    </button>


    <div class="brand ">
    <a href="<?php echo $this->baseUrl(); ?>" class="logo">
    <img src="<?php echo $this->baseUrl(); ?>/images/TARA-OORJA-Logo.jpg" width="200px;">
    </a>
    </div>


    <div class="horizontal-menu navbar-collapse collapse ">
        <ul class="nav navbar-nav">
            <li  <?php $array = array("index");?>
            <?php
                if(in_array($controller, $array)){
                      echo "class=active";
                  }  
                  else{
                      echo "class=inactive";
                  }
            ?>><a href="<?php echo $this->baseUrl(); ?>">Payments</a></li>
            <li  <?php $array = array("consumers");?>
            <?php
                if(in_array($controller, $array)){
                      echo "class=active";
                  }  
                  else{
                      echo "class=inactive";
                  }
            ?>><a href="<?php echo $this->baseUrl(); ?>/consumers">Consumers</a></li>
        </ul>
    </div>
   
    <div class="top-nav hr-top-nav">
    <?php $auth = new My_Auth("user");?>     
        <ul class="nav pull-right top-menu">
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="<?php echo $this->baseUrl(); ?>/#">
                    <img alt="" src="<?php echo $this->baseUrl(); ?>/userImages/<?php echo $auth->getIdentity()->profile_image; ?>">
                    <span class="username"><?php  
                            if($auth->hasIdentity()){
                                echo $auth->getIdentity()->user_fname." ".$auth->getIdentity()->user_lname;
                            }
                    ?></span>
                    <?php 
                $outstandingAmountObj = new My_UserOutstandingAmount();
                $amount = $outstandingAmountObj->displayAmount($auth);?>
                 |
            <span class="username">Rs.<?php echo $amount;?></span>
    
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu extended logout">
                    <li><a href="<?php echo $this->baseUrl(); ?>/auth/logout"><i class="fa fa-key"></i> Log Out</a></li>
                </ul>
            </li>
        </ul>
       
    </div>
</div>
    
</header>
 
<section id="main-content">
    <section class="wrapper"> 
        
        <?php echo $this->layout()->content; ?>
    </section>
</section>
 
 
<footer class="footer-section">
    <div class="text-center">
        2014 &copy; TARA MUB
        <a href="<?php echo $this->baseUrl(); ?>/#" class="go-top">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>
</footer>
 
</section>

 
<script src="<?php echo $this->baseUrl(); ?>/js/lib/jquery.js"></script>
<script>
$("#mobile").keyup(function(){
    var mobile = $(this).val();
    if(mobile.length>3)
    {
        $.ajax({
                url:'<?php echo $this->baseUrl();?>/admin/ajax/search-consumer-by-code/',
                type:'POST',
                data:{code:mobile}
            }).done(function( msg ){
                var obj = jQuery.parseJSON(msg);
                var v = "<ul>";
                $.each(obj.data,function(key,value){
                   v += "<li consumer_code='"+value.consumer_code+"'>"+value.consumer_code+" - "+value.consumer_name+"</li>";
                });
                v += "</ul>";
                $("#search-suggestion").html(v);
                $("#search-suggestion").show();
                $("#search-suggestion ul li").click(function(){
                    var newVal = $(this).attr("consumer_code");
                    $(this).parent().parent().parent().siblings("#mobile").val(newVal);
                    $("#search-suggestion").hide();
                });
            });
    }
});
</script>
<script src="<?php echo $this->baseUrl(); ?>/bs3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/assets/jquery-multi-select/js/jquery.multi-select.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/assets/jquery-multi-select/js/jquery.quicksearch.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/assets/select2-master/select2.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/select2/select-init.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/js/hover-down/hover-dropdown.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/assets/jQuery-slimScroll-1.3.0/jquery.slimscroll.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/nicescroll/jquery.nicescroll.js"></script>
 
<script src="<?php echo $this->baseUrl(); ?>/assets/easypiechart/jquery.easypiechart.js"></script>
 
<script src="<?php echo $this->baseUrl(); ?>/assets/sparkline/jquery.sparkline.js"></script>
 
<script src="<?php echo $this->baseUrl(); ?>/assets/flot-chart/jquery.flot.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/assets/flot-chart/jquery.flot.tooltip.min.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/assets/flot-chart/jquery.flot.resize.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/assets/flot-chart/jquery.flot.pie.resize.js"></script>
 
<script src="<?php echo $this->baseUrl(); ?>/js/scripts.js"></script>

</body>

</html>