<?php
$controller = Zend_Controller_Front::getInstance()->getRequest()->getControllerName();
$action = Zend_Controller_Front::getInstance()->getRequest()->getActionName();

$auth = new My_Auth("user");
$role_id=$auth->getIdentity()->user_role;
$roleSession = new Zend_Session_Namespace('roles');
$menu_name=$roleSession->menu_name;
$subMenu_name=$roleSession->subMenu_name;
$menu_data=$roleSession->menu_data;
$submenu_data=$roleSession->submenu_data;
$role_sites_id=$roleSession->site_id;
?>

<!DOCTYPE html>

<html lang="en" ng-app="huskApp">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>Husk Power Systems</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #3 for dashboard & statistics" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="<?php echo $this->baseUrl(); ?>/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo $this->baseUrl(); ?>/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo $this->baseUrl(); ?>/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo $this->baseUrl(); ?>/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
	<link href="<?php echo $this->baseUrl(); ?>/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
	<link href="<?php echo $this->baseUrl(); ?>/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
      
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="<?php echo $this->baseUrl(); ?>/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo $this->baseUrl(); ?>/assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo $this->baseUrl(); ?>/assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo $this->baseUrl(); ?>/assets/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="<?php echo $this->baseUrl(); ?>/assets/global/css/components-rounded.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="<?php echo $this->baseUrl(); ?>/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="<?php echo $this->baseUrl(); ?>/assets/layouts/layout3/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo $this->baseUrl(); ?>/assets/layouts/layout3/css/themes/default.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <!--<link href="<?php echo $this->baseUrl(); ?>/assets/layouts/layout3/css/custom.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME LAYOUT STYLES -->
    <link href="<?php echo $this->baseUrl(); ?>/css/toastr.min.css" rel="stylesheet" type="text/css"/>
     <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/assets/global/plugins/select2/select2.css"/>
    <link href="<?php echo $this->baseUrl(); ?>/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
     <link rel="shortcut icon" href="<?php echo $this->baseUrl(); ?>/favicon.ico" /> </head>
<!-- END HEAD -->

<body class="page-container-bg-solid pace-done">
<div class="page-wrapper">

    <div class="page-wrapper-row">
        <div class="page-wrapper-top">
            <!-- BEGIN HEADER -->
            <div class="page-header">
                <!-- BEGIN HEADER TOP -->
                <div class="page-header-top">
                    <div class="container">
                        <!-- BEGIN LOGO -->
                        <div class="page-logo">
                            <a href="<?php echo $this->baseUrl(); ?>/#/Dashboard">
                                <img width="150"  style="margin: 9px 10px 0" src="<?php echo $this->baseUrl(); ?>/assets/layouts/layout3/img/husk.jpg" alt="logo" class="logo-default">
                            </a>
                        </div>
                        <!-- END LOGO -->
                        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                        <a href="javascript:;" class="menu-toggler"></a>
                        <!-- END RESPONSIVE MENU TOGGLER -->
                        <!-- BEGIN TOP NAVIGATION MENU -->
                        <div class="top-menu">
                            <ul class="nav navbar-nav pull-right">
                                <!-- BEGIN NOTIFICATION DROPDOWN -->
                                <!-- DOC: Apply "dropdown-hoverable" class after "dropdown" and remove data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to enable hover dropdown mode -->
                                <!-- DOC: Remove "dropdown-hoverable" and add data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to the below A element with dropdown-toggle class -->
                                <li class="dropdown dropdown-extended dropdown-notification dropdown-dark" id="header_notification_bar">
                                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                        <i class="icon-bell"></i>
                                        <span class="badge badge-default">7</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="external" >
                                            <h3>You have
                                                <strong>12 pending</strong> tasks</h3>
                                            <a href="app_todo.html">view all</a>
                                        </li>
                                        <li>
                                            <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
                                                <li>
                                                    <a href="javascript:;">
                                                        <span class="time">just now</span>
                                                        <span class="details">
                                                                    <span class="label label-sm label-icon label-success">
                                                                        <i class="fa fa-plus"></i>
                                                                    </span> New user registered. </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">
                                                        <span class="time">3 mins</span>
                                                        <span class="details">
                                                                    <span class="label label-sm label-icon label-danger">
                                                                        <i class="fa fa-bolt"></i>
                                                                    </span> Server #12 overloaded. </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">
                                                        <span class="time">10 mins</span>
                                                        <span class="details">
                                                                    <span class="label label-sm label-icon label-warning">
                                                                        <i class="fa fa-bell-o"></i>
                                                                    </span> Server #2 not responding. </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">
                                                        <span class="time">14 hrs</span>
                                                        <span class="details">
                                                                    <span class="label label-sm label-icon label-info">
                                                                        <i class="fa fa-bullhorn"></i>
                                                                    </span> Application error. </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">
                                                        <span class="time">2 days</span>
                                                        <span class="details">
                                                                    <span class="label label-sm label-icon label-danger">
                                                                        <i class="fa fa-bolt"></i>
                                                                    </span> Database overloaded 68%. </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">
                                                        <span class="time">3 days</span>
                                                        <span class="details">
                                                                    <span class="label label-sm label-icon label-danger">
                                                                        <i class="fa fa-bolt"></i>
                                                                    </span> A user IP blocked. </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">
                                                        <span class="time">4 days</span>
                                                        <span class="details">
                                                                    <span class="label label-sm label-icon label-warning">
                                                                        <i class="fa fa-bell-o"></i>
                                                                    </span> Storage Server #4 not responding dfdfdfd. </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">
                                                        <span class="time">5 days</span>
                                                        <span class="details">
                                                                    <span class="label label-sm label-icon label-info">
                                                                        <i class="fa fa-bullhorn"></i>
                                                                    </span> System Error. </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">
                                                        <span class="time">9 days</span>
                                                        <span class="details">
                                                                    <span class="label label-sm label-icon label-danger">
                                                                        <i class="fa fa-bolt"></i>
                                                                    </span> Storage server failed. </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <!-- END NOTIFICATION DROPDOWN -->
                                <!-- BEGIN TODO DROPDOWN -->
                                <li class="dropdown dropdown-extended dropdown-tasks dropdown-dark" id="header_task_bar">
                                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                        <i class="icon-calendar"></i>
                                        <span class="badge badge-default">3</span>
                                    </a>
                                    <ul class="dropdown-menu extended tasks">
                                        <li class="external">
                                            <h3>You have
                                                <strong>12 pending</strong> tasks</h3>
                                            <a href="app_todo_2.html">view all</a>
                                        </li>
                                        <li>
                                            <ul class="dropdown-menu-list scroller" style="height: 275px;" data-handle-color="#637283">
                                                <li>
                                                    <a href="javascript:;">
                                                                <span class="task">
                                                                    <span class="desc">New release v1.2 </span>
                                                                    <span class="percent">30%</span>
                                                                </span>
                                                        <span class="progress">
                                                                    <span style="width: 40%;" class="progress-bar progress-bar-success" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                                                                        <span class="sr-only">40% Complete</span>
                                                                    </span>
                                                                </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">
                                                                <span class="task">
                                                                    <span class="desc">Application deployment</span>
                                                                    <span class="percent">65%</span>
                                                                </span>
                                                        <span class="progress">
                                                                    <span style="width: 65%;" class="progress-bar progress-bar-danger" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                                                                        <span class="sr-only">65% Complete</span>
                                                                    </span>
                                                                </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">
                                                                <span class="task">
                                                                    <span class="desc">Mobile app release</span>
                                                                    <span class="percent">98%</span>
                                                                </span>
                                                        <span class="progress">
                                                                    <span style="width: 98%;" class="progress-bar progress-bar-success" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">
                                                                        <span class="sr-only">98% Complete</span>
                                                                    </span>
                                                                </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">
                                                                <span class="task">
                                                                    <span class="desc">Database migration</span>
                                                                    <span class="percent">10%</span>
                                                                </span>
                                                        <span class="progress">
                                                                    <span style="width: 10%;" class="progress-bar progress-bar-warning" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                                                                        <span class="sr-only">10% Complete</span>
                                                                    </span>
                                                                </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">
                                                                <span class="task">
                                                                    <span class="desc">Web server upgrade</span>
                                                                    <span class="percent">58%</span>
                                                                </span>
                                                        <span class="progress">
                                                                    <span style="width: 58%;" class="progress-bar progress-bar-info" aria-valuenow="58" aria-valuemin="0" aria-valuemax="100">
                                                                        <span class="sr-only">58% Complete</span>
                                                                    </span>
                                                                </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">
                                                                <span class="task">
                                                                    <span class="desc">Mobile development</span>
                                                                    <span class="percent">85%</span>
                                                                </span>
                                                        <span class="progress">
                                                                    <span style="width: 85%;" class="progress-bar progress-bar-success" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                                                        <span class="sr-only">85% Complete</span>
                                                                    </span>
                                                                </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">
                                                                <span class="task">
                                                                    <span class="desc">New UI release</span>
                                                                    <span class="percent">38%</span>
                                                                </span>
                                                        <span class="progress progress-striped">
                                                                    <span style="width: 38%;" class="progress-bar progress-bar-important" aria-valuenow="18" aria-valuemin="0" aria-valuemax="100">
                                                                        <span class="sr-only">38% Complete</span>
                                                                    </span>
                                                                </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <!-- END TODO DROPDOWN -->
                                <li class="droddown dropdown-separator">
                                    <span class="separator"></span>
                                </li>
                                <!-- BEGIN INBOX DROPDOWN -->
                                <li class="dropdown dropdown-extended dropdown-inbox dropdown-dark" id="header_inbox_bar">
                                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                        <span class="circle">3</span>
                                        <span class="corner"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="external">
                                            <h3>You have
                                                <strong>7 New</strong> Messages</h3>
                                            <a href="app_inbox.html">view all</a>
                                        </li>
                                        <li>
                                            <ul class="dropdown-menu-list scroller" style="height: 275px;" data-handle-color="#637283">
                                                <li>
                                                    <a href="#">
                                                                <span class="photo">
                                                                    <img src="<?php echo $this->baseUrl(); ?>/assets/layouts/layout3/img/avatar2.jpg" class="img-circle" alt=""> </span>
                                                        <span class="subject">
                                                                    <span class="from"> Lisa Wong </span>
                                                                    <span class="time">Just Now </span>
                                                                </span>
                                                        <span class="message"> Vivamus sed auctor nibh congue nibh. auctor nibh auctor nibh... </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                                <span class="photo">
                                                                    <img src="<?php echo $this->baseUrl(); ?>/assets/layouts/layout3/img/avatar3.jpg" class="img-circle" alt=""> </span>
                                                        <span class="subject">
                                                                    <span class="from"> Richard Doe </span>
                                                                    <span class="time">16 mins </span>
                                                                </span>
                                                        <span class="message"> Vivamus sed congue nibh auctor nibh congue nibh. auctor nibh auctor nibh... </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                                <span class="photo">
                                                                    <img src="<?php echo $this->baseUrl(); ?>/assets/layouts/layout3/img/avatar1.jpg" class="img-circle" alt=""> </span>
                                                        <span class="subject">
                                                                    <span class="from"> Bob Nilson </span>
                                                                    <span class="time">2 hrs </span>
                                                                </span>
                                                        <span class="message"> Vivamus sed nibh auctor nibh congue nibh. auctor nibh auctor nibh... </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                                <span class="photo">
                                                                    <img src="<?php echo $this->baseUrl(); ?>/assets/layouts/layout3/img/avatar2.jpg" class="img-circle" alt=""> </span>
                                                        <span class="subject">
                                                                    <span class="from"> Lisa Wong </span>
                                                                    <span class="time">40 mins </span>
                                                                </span>
                                                        <span class="message"> Vivamus sed auctor 40% nibh congue nibh... </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                                <span class="photo">
                                                                    <img src="<?php echo $this->baseUrl(); ?>/assets/layouts/layout3/img/avatar3.jpg" class="img-circle" alt=""> </span>
                                                        <span class="subject">
                                                                    <span class="from"> Richard Doe </span>
                                                                    <span class="time">46 mins </span>
                                                                </span>
                                                        <span class="message"> Vivamus sed congue nibh auctor nibh congue nibh. auctor nibh auctor nibh... </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <!-- END INBOX DROPDOWN -->
                                <!-- BEGIN USER LOGIN DROPDOWN -->
                                <li class="dropdown dropdown-user dropdown-dark">
                                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                        <img alt="" class="img-circle" src="<?php echo $this->baseUrl(); ?>/angular_app/components/users/images/<?php echo  ($auth->getIdentity()->profile_image !="" && $auth->getIdentity()->profile_image !="null" && $auth->getIdentity()->profile_image !=NULL && $auth->getIdentity()->profile_image !="undefined") ?$auth->getIdentity()->profile_image :'default-avatar.png' ;?>">
                                        <span class="username username-hide-mobile"><b><?php echo "Howdy ".$auth->getIdentity()->user_fname; ?></b></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-default">
                                        <li>
                                            <a href="<?php echo $this->baseUrl(); ?>/#/change-password">
                                                <i class="icon-user"></i> Change Password </a>
                                        </li>
                                        <li>
                                            <a href="<?php echo $this->baseUrl(); ?>/auth/logout">
                                                <i class="icon-key"></i> Log Out </a>
                                        </li>
                                    </ul>
                                </li>
                                <!-- END USER LOGIN DROPDOWN -->
                            </ul>
                        </div>
                        <!-- END TOP NAVIGATION MENU -->
                    </div>
                </div>
                <!-- END HEADER TOP -->
                <!-- BEGIN HEADER MENU -->
                <div class="page-header-menu">
                    <div class="container">
                        <!-- BEGIN HEADER SEARCH BOX -->
                        <form class="search-form" action="page_general_search.html" method="GET">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search" name="query">
                                <span class="input-group-btn">
                                            <a href="javascript:;" class="btn submit">
                                                <i class="icon-magnifier"></i>
                                            </a>
                                        </span>
                            </div>
                        </form>
                        <!-- END HEADER SEARCH BOX -->
                        <!-- BEGIN MEGA MENU -->
                        <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
                        <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
                        <div class="hor-menu">
                            <ul class="nav navbar-nav">
                                <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown active">
                                    <a href="javascript:;"> Dashboard
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="dropdown-menu pull-left">
                                        <li aria-haspopup="true" class=" active">
                                            <a href="<?php echo $this->baseUrl(); ?>/#/Dashboard"><i class="fa fa-bar-chart-o"></i> <span class="title">Management</span></a>
                                            </a>
                                        </li>
                                        <li aria-haspopup="true" class=" ">
                                            <a href="<?php echo $this->baseUrl(); ?>/#/Dashboard1"><i class="fa fa-bar-chart-o"></i> <span class="title">Operational</span></a>
                                        </li>
                                        <li aria-haspopup="true" class=" ">
                                            <a href="<?php echo $this->baseUrl(); ?>/#/spi-dashboard"><i class="fa fa-bar-chart-o"></i> <span class="title">Sales</span></a>
                                        </li>
                                        <li aria-haspopup="true" class=" ">
                                            <a href="<?php echo $this->baseUrl(); ?>/#/spi-dashboard"><i class="fa fa-bar-chart-o"></i> <span class="title">Customers</span></a>
                                        </li>
                                        <li aria-haspopup="true" class=" ">
                                            <a href="<?php echo $this->baseUrl(); ?>/#/spi-dashboard"><i class="fa fa-bar-chart-o"></i> <span class="title">Investors</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li aria-haspopup="true" class="menu-dropdown mega-menu-dropdown  ">
                                    <a href="javascript:;"> Finance
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="dropdown-menu pull-left">
                                        <li aria-haspopup="true" class=" active">
                                            <a href="<?php echo $this->baseUrl(); ?>/#/Cash-Register"><i class="icon-tag"></i> <span class="title">Smart Meter</span></a>
                                            </a>
                                        </li>
                                        <li aria-haspopup="true" class=" ">
                                            <a href="<?php echo $this->baseUrl(); ?>/#/Bill-Register"><i class="icon-tag"></i> <span class="title">Billing Register</span></a>
                                        </li>
                                        <li aria-haspopup="true" class=" ">
                                            <a href="<?php echo $this->baseUrl(); ?>/#/collections"><i class="icon-tag"></i> <span class="title">Bank Deposit</span></a>
                                        </li>
                                        <li aria-haspopup="true" class=" ">
                                            <a href=""><i class="icon-tag"></i> <span class="title">Credit</span></a>
                                        </li>
                                        <li aria-haspopup="true" class=" ">
                                            <a href="<?php echo $this->baseUrl(); ?>/#/customer-communication"><i class="icon-tag"></i> <span class="title">Agreements</span></a>
                                        </li>
                                        <li aria-haspopup="true" class=" ">
                                            <a href="<?php echo $this->baseUrl(); ?>/reports/revenue-target"><i class="icon-tag"></i> <span class="title">Budgets</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown ">
                                    <a href="javascript:;"> Customer
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="dropdown-menu pull-left">

                                        <li aria-haspopup="true" class=" ">
                                            <a href="<?php echo $this->baseUrl(); ?>/#/add-Consumers/"><i class="icon-user-following"></i> <span class="title">Add Customer</span></a>
                                        </li>
                                        <li aria-haspopup="true" class=" ">
                                            <a href="<?php echo $this->baseUrl(); ?>/#/Add-Transaction/"><i class="icon-user-following"></i> <span class="title">Recharge/Top-up</span></a>
                                        </li>
                                        <li aria-haspopup="true" class=" ">
                                            <a href="<?php echo $this->baseUrl(); ?>/#/tariff-change/"><i class="icon-user-following"></i> <span class="title">Tariff Change</span></a>
                                        </li>
                                        <li aria-haspopup="true" class=" ">
                                            <a href="<?php echo $this->baseUrl(); ?>/#/consumer-activity/"><i class="icon-user-following"></i> <span class="title">Deactive/Reactive</span></a>
                                        </li>
                                        <li aria-haspopup="true" class=" ">
                                            <a href="<?php echo $this->baseUrl(); ?>/#/Consumers/"><i class="icon-user-following"></i> <span class="title">Customer List</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown ">
                                    <a href="javascript:;"> Operations & Maintenance
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="dropdown-menu pull-left">

                                        <li aria-haspopup="true" class=" ">
                                            <a href=""><i class="icon-notebook"></i> <span class="title">Inventory</span></a>
                                        </li>
                                        <li aria-haspopup="true" class=" ">
                                            <a href="<?php echo $this->baseUrl(); ?>/#/plant-management/"><i class="icon-notebook"></i> <span class="title">Maintenance</span></a>
                                        </li>
                                        <li aria-haspopup="true" class=" ">
                                            <a href=""><i class="icon-notebook"></i> <span class="title">Service Audit</span></a>
                                        </li>
                                        <li aria-haspopup="true" class=" ">
                                            <a href=""><i class="icon-notebook"></i> <span class="title">Operations</span></a>
                                        </li>
                                        <li aria-haspopup="true" class=" ">
                                            <a href=""><i class="icon-notebook"></i> <span class="title">Safety Audit</span></a>
                                        </li>
                                        <li aria-haspopup="true" class=" ">
                                            <a href="<?php echo $this->baseUrl(); ?>/#/plant-visit"><i class="icon-notebook"></i> <span class="title">Site Visit</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown ">
                                    <a href="javascript:;"> Customer Relations
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="dropdown-menu pull-left">

                                        <li aria-haspopup="true" class=" ">
                                            <a href=""><i class="fa fa-bar-chart-o"></i> <span class="title">Customer Reachout</span></a>
                                        </li>
                                        <li aria-haspopup="true" class=" ">
                                            <a href=""><i class="fa fa-bar-chart-o"></i> <span class="title">Grievance</span></a>
                                        </li>
                                        <li aria-haspopup="true" class=" ">
                                            <a href=""><i class="fa fa-bar-chart-o"></i> <span class="title">Resolution</span></a>
                                        </li>

                                    </ul>
                                </li>
                                <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown ">
                                    <a href="javascript:;"> Installations
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="dropdown-menu pull-left">

                                        <li aria-haspopup="true" class=" ">
                                            <a href=""><i class="icon-docs"></i> <span class="title">Sites Pipeline</span></a>
                                        </li>
                                        <li aria-haspopup="true" class=" ">
                                            <a href=""><i class="icon-docs"></i> <span class="title">Sites WIP</span></a>
                                        </li>
                                        <li aria-haspopup="true" class=" ">
                                            <a href=""><i class="icon-docs"></i> <span class="title">Distribution Network</span></a>
                                        </li>
                                        <li aria-haspopup="true" class="dropdown-submenu ">
                                            <a href="javascript:;" class="nav-link nav-toggle ">
                                                <i class="icon-docs"></i> Other
                                                <span class="arrow"></span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li aria-haspopup="true" class=" ">
                                                    <a href="" class="nav-link ">
                                                        <i class="icon-docs"></i> Water RO </a>
                                                </li>
                                                <li aria-haspopup="true" class=" ">
                                                    <a href="" class="nav-link ">
                                                        <i class="icon-docs"></i> Irrigation </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li aria-haspopup="true" class=" ">
                                            <a href=""><i class="icon-docs"></i> <span class="title">Procurement</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown ">
                                    <a href="javascript:;"> Sales
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="dropdown-menu pull-left">

                                        <li aria-haspopup="true" class=" ">
                                            <a href=""><i class="icon-bulb"></i> <span class="title">Energy</span></a>
                                        </li>
                                        <li aria-haspopup="true" class=" ">
                                            <a href=""><i class="icon-bulb"></i> <span class="title">Products</span></a>
                                        </li>
                                        <li aria-haspopup="true" class=" ">
                                            <a href=""><i class="icon-bulb"></i> <span class="title">Promotion</span></a>
                                        </li>
                                        <li aria-haspopup="true" class=" ">
                                            <a href=""><i class="icon-bulb"></i> <span class="title">Markating Campaign</span></a>
                                        </li>
                                        <li aria-haspopup="true" class=" ">
                                            <a href=""><i class="icon-bulb"></i> <span class="title">Pipeline</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown ">
                                    <a href="javascript:;"> Admin
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="dropdown-menu pull-left">

                                        <li aria-haspopup="true" class="dropdown-submenu ">
                                            <a href="javascript:;" class="nav-link nav-toggle ">
                                                <i class="icon-settings"></i> Sites
                                                <span class="arrow"></span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li aria-haspopup="true" class=" ">
                                                    <a href="" class="nav-link ">
                                                        <i class="icon-settings"></i> Add Country </a>
                                                </li>
                                                <li aria-haspopup="true" class=" ">
                                                    <a href="<?php echo $this->baseUrl(); ?>/#/State" class="nav-link ">
                                                        <i class="icon-settings"></i> Add State </a>
                                                </li>
                                                <li aria-haspopup="true" class=" ">
                                                    <a href="<?php echo $this->baseUrl(); ?>/#/Clusters" class="nav-link ">
                                                        <i class="icon-settings"></i> Add NOC </a>
                                                </li>
                                                <li aria-haspopup="true" class=" ">
                                                    <a href="<?php echo $this->baseUrl(); ?>/#/Sites" class="nav-link ">
                                                        <i class="icon-settings"></i> Add Site </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li aria-haspopup="true" class="dropdown-submenu ">
                                            <a href="javascript:;" class="nav-link nav-toggle ">
                                                <i class="icon-settings"></i> Add Tarrif & Scheme
                                                <span class="arrow"></span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li aria-haspopup="true" class=" ">
                                                    <a href="<?php echo $this->baseUrl(); ?>/#/Packages" class="nav-link ">
                                                        <i class="icon-settings"></i> Add Tarrif </a>
                                                </li>
                                                <li aria-haspopup="true" class=" ">
                                                    <a href="<?php echo $this->baseUrl(); ?>/#/Schemes" class="nav-link ">
                                                        <i class="icon-settings"></i> Add Scheme </a>
                                                </li>
                                                <li aria-haspopup="true" class=" ">
                                                    <a href="<?php echo $this->baseUrl(); ?>/#/Consumer-Scheme" class="nav-link ">
                                                        <i class="icon-settings"></i> Add Customer Scheme </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li aria-haspopup="true" class="dropdown-submenu ">
                                            <a href="javascript:;" class="nav-link nav-toggle ">
                                                <i class="icon-settings"></i> Add Generation
                                                <span class="arrow"></span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li aria-haspopup="true" class=" ">
                                                    <a href="<?php echo $this->baseUrl(); ?>/#/mppts" class="nav-link ">
                                                        <i class="icon-settings"></i> Add/Edit MPPT </a>
                                                </li>
                                                <li aria-haspopup="true" class=" ">
                                                    <a href="<?php echo $this->baseUrl(); ?>/#/mppts_reading" class="nav-link ">
                                                        <i class="icon-settings"></i> Add MPPT Reading </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li aria-haspopup="true" class="dropdown-submenu ">
                                            <a href="javascript:;" class="nav-link nav-toggle ">
                                                <i class="icon-settings"></i> Add Consumption
                                                <span class="arrow"></span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li aria-haspopup="true" class=" ">
                                                    <a href="<?php echo $this->baseUrl(); ?>/#/site_meter_master" class="nav-link ">
                                                        <i class="icon-settings"></i> Add/Edit Feeder </a>
                                                </li>
                                                <li aria-haspopup="true" class=" ">
                                                    <a href="<?php echo $this->baseUrl(); ?>/#/site_meter_reading" class="nav-link ">
                                                        <i class="icon-settings"></i> Add Feeder Reading </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li aria-haspopup="true" class="dropdown-submenu ">
                                            <a href="javascript:;" class="nav-link nav-toggle ">
                                                <i class="icon-settings"></i> Permissions
                                                <span class="arrow"></span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li aria-haspopup="true" class=" ">
                                                    <a href="<?php echo $this->baseUrl(); ?>/#/User" class="nav-link ">
                                                        <i class="icon-settings"></i> Add User </a>
                                                </li>
                                                <li aria-haspopup="true" class=" ">
                                                    <a href="<?php echo $this->baseUrl(); ?>/#/Collection-Agent" class="nav-link ">
                                                        <i class="icon-settings"></i> Add CSA </a>
                                                </li>
                                                <li aria-haspopup="true" class=" ">
                                                    <a href="<?php echo $this->baseUrl(); ?>/#/User-Role" class="nav-link ">
                                                        <i class="icon-settings"></i> Assign Roles </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li aria-haspopup="true" class=" ">
                                            <a href="<?php echo $this->baseUrl(); ?>/#/spark-meter-detail"><i class="icon-notebook"></i> <span class="title">Spark Meter Page</span></a>
                                        </li>

                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- END MEGA MENU -->
                    </div>
                </div>
                <!-- END HEADER MENU -->
            </div>
            <!-- END HEADER -->
        </div>
    </div>

    <div class="page-wrapper-row full-height" >
        <div class="page-wrapper-middle">
            <!-- BEGIN CONTAINER -->
            <div class="page-container">
                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <div class="page-content">
                        <div class="container">
                            <!-- BEGIN PAGE CONTENT INNER -->
                            <div class="page-content-inner">
                                <div class="mt-content-body">
                                    <?php echo $this->layout()->content; ?>
                                </div>
                            </div>
                            <!-- END PAGE CONTENT INNER -->
                        </div>
                    </div>
                    <!-- END PAGE CONTENT BODY -->
                    <!-- END CONTENT BODY -->
                </div>
                <!-- END CONTENT -->

            </div>
            <!-- END CONTAINER -->
        </div>
    </div>
 

</div>

<!-- BEGIN CORE PLUGINS  -->
<!--<script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>

        <script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/moment.min.js" type="text/javascript"></script>
        <script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
        <script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/morris/morris.min.js" type="text/javascript"></script>
        <script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
        <script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
        <script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
        <script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
        <script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
        <script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
        <script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
        <script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
        <script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
        <script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/jqvmap/jqvmap/jquery.vmap.js" type="text/javascript"></script>
        <script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js" type="text/javascript"></script>
        <script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
        <script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js" type="text/javascript"></script>
        <script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js" type="text/javascript"></script>
        <script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js" type="text/javascript"></script>
        <script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js" type="text/javascript"></script>

		<script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/angularjs/angular.min.js" type="text/javascript"></script>
        <script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/angularjs/angular-route.min.js" type="text/javascript"></script>
        <script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/angularjs/angular-sanitize.min.js" type="text/javascript"></script>
        <script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/angularjs/angular-touch.min.js" type="text/javascript"></script>
        <script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/angularjs/plugins/angular-ui-router.min.js" type="text/javascript"></script>
        <script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/angularjs/plugins/ocLazyLoad.min.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-csv/0.3.2/ng-csv.min.js"></script>
        <script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/angularjs/plugins/ui-bootstrap-tpls.min.js" type="text/javascript"></script>


		<script src="<?php echo $this->baseUrl(); ?>/js/ng-infinite-scroll.min.js" type="text/javascript"></script>
		<script src="<?php echo $this->baseUrl(); ?>/js/ng-google-chart.js" type="text/javascript"></script>
		<script src="<?php echo $this->baseUrl(); ?>/js/toastr.min.js"></script>
		<script src="<?php echo $this->baseUrl(); ?>/js/ui-toastr.js"></script>
		<script src="//cdn.rawgit.com/cornflourblue/angu-fixed-header-table/master/angu-fixed-header-table.js"></script>
		<script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/jquery-file-upload/ng-file-upload.min.js" type="text/javascript"></script>

	    <script src="<?php echo $this->baseUrl(); ?>/assets/pages/scripts/table-datatables-buttons.min.js" type="text/javascript"></script>
		<script src="<?php echo $this->baseUrl(); ?>/angular_app/app.js"></script>

		<script src="<?php echo $this->baseUrl(); ?>/assets/global/scripts/app.min.js" type="text/javascript"></script>
        <script src="<?php echo $this->baseUrl(); ?>/assets/layouts/layout3/scripts/layout.min.js" type="text/javascript"></script>
        <script src="<?php echo $this->baseUrl(); ?>/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
        <script src="<?php echo $this->baseUrl(); ?>/assets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
		<script src="<?php echo $this->baseUrl(); ?>/assets/layouts/layout3/scripts/demo.min.js" type="text/javascript"></script>

        <script src="<?php echo $this->baseUrl(); ?>/angular_app/components/dashboard/dashboardController.js"></script>
		<script src="<?php echo $this->baseUrl(); ?>/angular_app/components/state/stateController.js"></script>
		<script src="<?php echo $this->baseUrl(); ?>/angular_app/components/site/siteController.js"></script>-->
<!-- END PAGE LEVEL SCRIPTS -->

		<script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
		<script src="<?php echo $this->baseUrl(); ?>/assets/global/scripts/datatable.js" type="text/javascript"></script>
		<script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/jquery.sparkline.min.js"></script>
		<script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js"></script>
		<script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/respond.min.js"></script>
		<script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/excanvas.min.js"></script>
		<script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
		<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
		<script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
		<script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
		<script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
		<script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
		<script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
		<script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
		<script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
		<script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
		<!-- END CORE PLUGINS -->
		<script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js" type="text/javascript"></script>
		<!--<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-toggle/2.2.2/js/bootstrap-toggle.js"></script>
		<script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/moment.min.js" type="text/javascript"></script>
		<script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
		<script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
		<script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
		<script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
		<script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/clockface/js/clockface.js" type="text/javascript"></script>

		<script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
		<script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js" type="text/javascript"></script>
		<script src="<?php echo $this->baseUrl(); ?>/assets/pages/scripts/table-datatables-rowreorder.js" type="text/javascript"></script>

		<!-- BEGIN PAGE LEVEL PLUGINS -->
		<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/select2/select2.min.js"></script>

		<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
		<!-- END PAGE LEVEL PLUGINS -->
		<!-- BEGIN PAGE LEVEL SCRIPTS -->
		<script src="<?php echo $this->baseUrl(); ?>/assets/global/scripts/metronic.js" type="text/javascript"></script>
		<script src="<?php echo $this->baseUrl(); ?>/assets/admin/layout3/scripts/layout.js" type="text/javascript"></script>
		<script src="<?php echo $this->baseUrl(); ?>/assets/admin/layout3/scripts/demo.js" type="text/javascript"></script>
		<!--<script src="<?php echo $this->baseUrl(); ?>/assets/global/scripts/datatable.js"></script>-->
		<script src="<?php echo $this->baseUrl(); ?>/assets/admin/pages/scripts/ecommerce-products.js"></script>
		<script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>


		<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/bootstrap-select/bootstrap-select.min.js"></script>
		<script type="text/javascript" src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js"></script>

		<!-- BEGIN CORE ANGULARJS PLUGINS -->
		<script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/angularjs/angular.min.js" type="text/javascript"></script>
		<script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/angularjs/angular-route.min.js" type="text/javascript"></script>
		<script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/angularjs/angular-sanitize.min.js" type="text/javascript"></script>
		<script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/angularjs/angular-touch.min.js" type="text/javascript"></script>
		<script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/angularjs/plugins/angular-ui-router.min.js" type="text/javascript"></script>
		<script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/angularjs/plugins/ocLazyLoad.min.js" type="text/javascript"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ng-csv/0.3.2/ng-csv.min.js"></script>
		<script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/angularjs/plugins/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
		<!-- END CORE ANGULARJS PLUGINS -->

		<script src="<?php echo $this->baseUrl(); ?>/js/ng-infinite-scroll.min.js" type="text/javascript"></script>
		<script src="<?php echo $this->baseUrl(); ?>/js/ng-google-chart.js" type="text/javascript"></script>
		<script src="<?php echo $this->baseUrl(); ?>/angular_app/app.js"></script>
		
		<script src="<?php echo $this->baseUrl(); ?>/angular_app/components/dashboard/dashboardController.js"></script>
		<script src="<?php echo $this->baseUrl(); ?>/angular_app/components/users/userController.js"></script>
		<script src="<?php echo $this->baseUrl(); ?>/angular_app/components/modify-entry/modifyEntryController.js"></script>
		
 
<!-- END PAGE LEVEL SCRIPTS -->

<script>

    $(document).ready(function(){
        $('.scroller').slimScroll({
            height: "100px"
        });
    });
</script>

<script src="<?php echo $this->baseUrl(); ?>/js/toastr.min.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/ui-toastr.js"></script>




<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<script>
    $.noConflict();
    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        Demo.init(); // init demo features
        EcommerceProducts.init();
    }); 
</script>

<script src="//cdn.rawgit.com/cornflourblue/angu-fixed-header-table/master/angu-fixed-header-table.js"></script>

<script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
<script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<!-- BEGIN Charts  PLUGINS -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.categories.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.pie.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.resize.min.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/flot/jquery.flot.stack.min.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/flot/jquery.flot.crosshair.min.js"></script>

<!--<script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/echarts/echarts.js" type="text/javascript"></script>-->
<script src="<?php echo $this->baseUrl(); ?>/js/flotcharts.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/assets/global/plugins/jquery-file-upload/ng-file-upload.min.js" type="text/javascript"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>


</body>

</html>